body{
	background: #ddd url("/static/img/field.jpg") no-repeat top left;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

a{
    text-decoration: none;
}

/*ub open*/
.cs-text {
	width: 645px;
	margin: 120px auto 30px;
	cursor: pointer;
}

.cs-text > span {
	display: block;
	-webkit-backface-visibility: hidden;
}

.cs-text-cut {
	width: 100%;
	height: 90px;
	overflow: hidden;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.cs-text-cut:first-child {
	border-top: 1px solid rgba(255,255,255,0.5);
}

.cs-text-cut:last-child {
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

.cs-text-cut span {
	display: block;
	line-height: 180px;
	color: rgba(255,255,255,1);
	font-size: 100px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	margin-top: 6px;
	font-family: 'Sancreek', cursive;
	text-shadow: 7px 2px 0 rgba(255,255,255,0.3);
}

.cs-text-cut:last-child span {
	margin-top: -84px;
}

.cs-text-mid {
	font-weight: 100;
	text-transform: uppercase;
	font-size: 50px;
	letter-spacing: 10px;
	line-height: 50px;
	text-indent: 160px;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	color: rgba(255,255,255,0.3);
	text-shadow: 0 0 0 rgba(255,255,255,0.9);
	opacity: 0;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-o-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.cs-text:hover .cs-text-cut:first-child {
	-webkit-transform: translateY(-25px);
	-moz-transform: translateY(-25px);
	-o-transform: translateY(-25px);
	-ms-transform: translateY(-25px);
	transform: translateY(-25px);
	opacity: 0.5;
}

.cs-text:hover .cs-text-cut:last-child {
	-webkit-transform: translateY(25px);
	-moz-transform: translateY(25px);
	-o-transform: translateY(25px);
	-ms-transform: translateY(25px);
	transform: translateY(25px);
	opacity: 0.5;
}

.cs-text:hover .cs-text-mid {
	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	transition-delay: 0.3s;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}


.container{
	width: 100%;
	position: relative;
}

.main{
	width: 90%;
	margin: 0 auto;
	position: relative;
}


/*type open*/
.grid {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;
}

.grid li {
    position: relative;
    float: left;
    font-size: 5em;
    line-height: 1.5;
    max-height: 290px;
    text-align: center;
    width: 11.1111111%;
    /* Fallback */
    width: -webkit-calc(100% / 9);
    width: calc(100% / 9);
}

.grid li span {
    display: inline-block;
    font-weight: 500;
    line-height: 1;
    position: relative;
    color: hsla(0, 0%, 0%, 0.6);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 550px;
    -ms-perspective: 550px;
    perspective: 550px;
    z-index: 1;
}

.grid li span:before,
.grid li span:after {
    position: absolute;
    content: attr(data-letter);
    line-height: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.grid li span:before {
    text-shadow: none;
    color: hsla(0, 0%, 0%, 0.12);
}

/* Colors */

.ot-letter-left span { text-shadow: 1px 4px 6px #fff, 0 0 0 hsla(0, 0%, 0%, 0.3), 1px 4px 6px #fff; }
.ot-letter-left span:after { color: #fff; }
.ot-letter-left:hover span:after { color: #e8e8e8; }

.ot-letter-right span { text-shadow: 1px 4px 6px #fff, 0 0 0 hsla(0, 0%, 0%, 0.3), 1px 4px 6px #fff; }
.ot-letter-right span:after { color: #fff; }
.ot-letter-right:hover span:after { color: #e8e8e8; }

.ot-letter-top span { text-shadow: 1px 4px 6px #fff, 0 0 0 hsla(0, 0%, 0%, 0.3), 1px 4px 6px #fff; }
.ot-letter-top span:after { color: #fff; }
.ot-letter-top:hover span:after { color: #e8e8e8; }

.ot-letter-bottom span { text-shadow: 1px 4px 6px #fff, 0 0 0 hsla(0, 0%, 0%, 0.3), 1px 4px 6px #fff; }
.ot-letter-bottom span:after { color: #fff; }
.ot-letter-bottom:hover span:after { color: #e8e8e8; }

.ot-letter-left span:before,
.ot-letter-left span:after {
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.ot-letter-left span:before {
    -webkit-transform: scale(1.08,1) skew(0deg,1deg);
    -ms-transform: scale(1.08,1) skew(0deg,1deg);
    transform: scale(1.08,1) skew(0deg,1deg);
}

.ot-letter-left span:after {
    text-shadow: -1px 0px 0px hsla(360, 100%, 100%, 0.1), 3px 0px 1px hsla(0, 0%, 0%, 0.4);
    -webkit-transform: rotateY(-15deg);
    -ms-transform: rotateY(-15deg);
    transform: rotateY(-15deg);
}

.ot-letter-left:hover span:before {
    -webkit-transform: scale(0.85,1) skew(0deg,20deg);
    -ms-transform: scale(0.85,1) skew(0deg,20deg);
    transform: scale(0.85,1) skew(0deg,20deg);
}

.ot-letter-left:hover span:after {
    -webkit-transform: rotateY(-40deg);
    -ms-transform: rotateY(-40deg);
    transform: rotateY(-40deg);
}

.ot-letter-right span:before,
.ot-letter-right span:after {
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.ot-letter-right span:before {
    -webkit-transform: scale(0.85,1) skew(0deg,1deg);
    -ms-transform: scale(0.85,1) skew(0deg,1deg);
    transform: scale(0.85,1) skew(0deg,1deg);
}

.ot-letter-right span:after {
    text-shadow: 1px 0px 0px hsla(360, 100%, 100%, 0.1), -3px 0px 1px hsla(0, 0%, 0%, 0.4);
    -webkit-transform: rotateY(15deg);
    -ms-transform: rotateY(15deg);
    transform: rotateY(15deg);
}

.ot-letter-right:hover span:before {
    -webkit-transform: scale(0.85,1) skew(0deg,-20deg);
    -ms-transform: scale(0.85,1) skew(0deg,-20deg);
    transform: scale(0.85,1) skew(0deg,-20deg);
}

.ot-letter-right:hover span:after {
    -webkit-transform: rotateY(40deg);
    -ms-transform: rotateY(40deg);
    transform: rotateY(40deg);
}

.ot-letter-top span:before,
.ot-letter-top span:after {
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.ot-letter-top span:before {
    -webkit-transform: scale(1,0.95) skew(-4deg,0deg);
    -ms-transform: scale(1,0.95) skew(-4deg,0deg);
    transform: scale(1,0.95) skew(-4deg,0deg);
}

.ot-letter-top span:after {
    text-shadow: 0px 1px 0px hsla(360, 100%, 100%, 0.1), 0px -3px 1px hsla(0, 0%, 0%, 0.4);
    -webkit-transform: rotateX(-15deg);
    -ms-transform: rotateX(-15deg);
    transform: rotateX(-15deg);
}

.ot-letter-top:hover span:before {
    -webkit-transform: translateY(-0.050em) scale(1,0.55) skew(-10deg,0deg);
    -ms-transform: translateY(-0.050em) scale(1,0.55) skew(-10deg,0deg);
    transform: translateY(-0.050em) scale(1,0.55) skew(-10deg,0deg);
}

.ot-letter-top:hover span:after {
    -webkit-transform: translateY(-0.035em) rotateX(-40deg);
    -ms-transform: translateY(-0.035em) rotateX(-40deg);
    transform: translateY(-0.035em) rotateX(-40deg);
}

.ot-letter-bottom span:before,
.ot-letter-bottom span:after {
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

.ot-letter-bottom span:before {
    -webkit-transform: scale(1,1.05) skew(4deg,0deg);
    -ms-transform: scale(1,1.05) skew(4deg,0deg);
    transform: scale(1,1.05) skew(4deg,0deg);
}

.ot-letter-bottom span:after {
    text-shadow: 0px -1px 0px hsla(360, 100%, 100%, 0.1), 0px 3px 1px hsla(0, 0%, 0%, 0.4);
    -webkit-transform: rotateX(15deg);
    -ms-transform: rotateX(15deg);
    transform: rotateX(15deg);
}

.ot-letter-bottom:hover span:before {
    -webkit-transform: translateY(-0.035em) scale(1,1.2) skew(10deg,0deg);
    -ms-transform: translateY(-0.035em) scale(1,1.2) skew(10deg,0deg);
    transform: translateY(-0.035em) scale(1,1.2) skew(10deg,0deg);
}

.ot-letter-bottom:hover span:after {
    -webkit-transform: translateY(0.045em) rotateX(40deg);
    -ms-transform: translateY(0.045em) rotateX(40deg);
    transform: translateY(0.045em) rotateX(40deg);
}

@media screen and (max-width: 1190px) {
    .grid li {
        width: 20%;
        /* Fallback */
        width: -webkit-calc(100% / 5);
        width: calc(100% / 5);
    }
}

@media screen and (max-width: 945px) {
    .grid li {
        width: 25%;
        /* Fallback */
        width: -webkit-calc(100% / 4);
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 760px) {
    .grid li {
        width: 33.3333333%;
        /* Fallback */
        width: -webkit-calc(100% / 3);
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 560px) {
    .grid li {
        width: 50%;
        /* Fallback */
        width: -webkit-calc(100% / 2);
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 340px) {
    .grid li {
        width: 100%;
    }
}
