{% extends "mbti/personalities/base.html" %}
{% block title %}ENFJ{% endblock %}

{% block type %}ENFJ{% endblock %}
{% block subline %}教育家型人格{% endblock %}

{% block article %}
<h3>概览</h3>
<p>ENFJ是MBTI职业性格测试的结果之一。ENFJ表示：外向（E）+直觉（N）+情感（F）+判断（J）。ENFJ是指的就是供应者， 供应是提供给他人生活必需品的行为，供应者天生就热衷于为他人服务，保证他们具有物资充足感和群体归属感。他们自觉承担起照顾身边的人和安排其福利待遇的责任，他们也是理想主义者型中，最喜爱交际的人。无论走到都会承担着社会奉献者的角色，愉快的付出自己的时间和精力，以确保别人的需要得到满足、传统得到维持和发展，并圆满的履行其社会职责。</p>
<h3>类型分析</h3>
<p>由于生性善良或温柔，他们更乐于选择保管者的角色，而且，外向、风度翩翩的他们，似乎喜欢成为供应者，甚于保护者。他们占人口的2–5%，对我们来说是值得庆幸的事情，因为合作与方便社会是他们人性结构的关键所在。他们擅长与其助手通力协作，并不知疲倦的关心着所有商品和服务安排的详细事项。</p>
<p>这些富于表现力的保管者，风度翩翩、健谈，会因为离群索居而心神不安。即使在一群陌生人间，他们也能展开一场谈话，愉快的畅谈。他们对闲聊表现出一种浓厚的兴趣，事无巨细。他们更习惯于思考看得见的而非虚构的事物，容易意识到并讨论人们生活中的大事或难事。他们对抽象的话题掌握不了，却倾向于听取公认的权威人士，讲有关抽象事物的理论，并常常信赖正式认可的观点，作为他们判断事物的标准和依据。</p>
<p>社会传统对供应者具有重要意义，他们的谈话也常常飘荡到对过去美好日子中的经历进行怀旧的叙述上，但同时由于供应者表达了对忧伤和厄运的预测，并显现出具有感染性的悲剧倾向，从而给别人施加了过度的压力。他们需要控制自己对“最糟糕的事情肯定会发生”这个念头的恐惧感。</p>
<p>供应者具有过度的敏感性，并非常愿意表达出这种情感反应。他们能快速的表达出喜欢或不喜欢，将在意的人置于显耀地位；而对不喜欢的人，很少提及。他们永远介意表面的现象，非常严肃的采纳别人关于其个人承诺方面的意见。针对他个人的批评意见会击垮他们，只有当他们本人及他们的服务被人认可时，他们才会有效的行使自己的职责。他们希望自己被需要，并且花费时间和精力来证明自己是值得信赖的。他们会因为受到不友好的对待而变得垂头丧气，并习惯于对他们的制度或人际关系中任何可能的错误承担责任。</p>
<p>在选择职业的时候，供应者也许偏爱服务性行业。供应者在处理销售事宜的时候，论证了任何将销售人格化，他们明显并诚实的为顾客的福利着想，因此顾客不仅从他们那儿购买商品，还购买个人福利。他们的性格促使他们在许多人与人交往的工作中表现出色，他们很少引起领导的愤怒，因为他们以义务和服务为导向，尊重并服从规章制度。对老板忠诚，能成为得力的私人秘书和办公室接待人员。</p>
<h3>类型描述</h3>
<p>对ENFJ类型的人来说，最重要的是人际关系和与别人交流的机会。ENFJ人有很强的领导气质，有非凡的操纵他人的能力。这种能力主要来源于他们极好的人际交往技巧和销售才能，ENFJ人深信自己的梦想，将自己视为救难者和能人，而往往他们的确如此。</p>
<p>ENFJ人是全方位的学习者，他们视野辽阔，注意宽广。一些人能同时快速地开展好一大串惊人的项目。许多ENFJ人都有极强的企业家能力。</p>
<p>当对ENFJ人进行描述时，我们总会联想到组织能力和决策力。但是他们并不像SJ或NTJ 人一样，能组织好环境或突发困境，他们是对人际交往中的各事件能较好地组织。他们的办公室或干净或杂乱，但他们能比JFP人更快、更灵活地总结（通过感觉）出人们的动机。</p>
<p>ENFJ人了解并欣赏别人。像大多数NF 类型的人一样，他们忽视了自己和自己的需要，而非常关注别人的需要。他们比别人有更少的心理防线，所以当与感觉迟钝的人交往时，经常会有受委屈甚至受骂的危险。所以，ENFJ人比别人受到更大的压力。</p>
<p>友好热诚；谈吐亲切，圆滑得体；感情投入，易受伤；富有创造力；做事果断，甚至武断；能力强，责任心重，做事有计划。</p>
<h3>类型特点</h3>
<p>ENFJ型的人热爱人类。他们把人和人际关系看得比什么都重要。而且他们很自然地关心别人。他们热爱生活，并感到自己与万物都是息息相关的。</p>
<p>因为他们是理想主义者，而且看重自己的价值，ENFJ型的人对自己尊重景仰的人、事业和工作单位都非常忠诚。他们有精力和热情同时又有责任感，以及谨慎、坚持不懈的特点。</p>
<p>ENFJ型的人有一种自我批评的自然倾向。然而，因为他们认为自己对他人的情感富有责任，ENFJ型的人很少在公共场合批评别人，他们很明白什么是（或不是）受欣赏的行为，而且他们很亲切、迷人、有气质，对社会关系很在行。ENFJ型的人性情平和，心胸宽阔，而且很圆滑，很会促进周边关系的和睦。他们是天然的领导者，受欢迎而且具备领袖气质。他们擅长交际，并且会经常运用自己的口才天赋。</p>
<p>ENFJ型的人在做决定时只基于自己对问题的感觉，而不是事实情况，他们对现实以外的可能性以及这些可能性对他人的影响十分感兴趣。</p>
<p>天生很有秩序感，ENFJ型的人喜欢有组织的世界并且期望他人也是如此。他们喜欢将事情办妥，甚至有时是别人在做决定。</p>
<p>ENFJ型的人富有同情心，能够理解、支持、扶助他人。他们会看人，并且有责任感，也很认真。因为是理想主义者，他们总是看到别人好的一面。</p>
<h3>盲点</h3>
<p>ENFJ型的人过于认真和动感情，以至于有时会过度地陷入别人的问题或情感中。一些时候他们选择了并不值得他们付出如此多时间和精力的事业。当事情没有如期那样成功时，他们会感到失落、失望或绝望。这会使他们退缩，令他们感觉到自己不被欣赏。ENFJ型的人需要学会接受他们自己以及他们所关心的人的能力限度。他们也需要学会“挑战战场”并保持现实的期望。</p>
<p>由于对和睦的强烈要求，ENFJ型的人可以忽视自己的需求和忽略实际的问题。因为他们总是避免冲突，他们有时会保持一种不够诚实和公平的关系。ENFJ型的人对他人的情感过于关心，以至于他们会无视那些可能带来批评的和伤感情的重要事实。ENFJ型的人学会接受和处理矛盾冲突也是很重要的，因为这也是人际关系中的一个组成部分。</p>
<p>因为他们热情很高，又急于迎接新的挑战，ENFJ型的人有时会做出错误的假设或过于草率的做出决定，他们还没有收集到所有的重要信息。他们需要放慢脚步，并且对他们计划的细节加以注意。等到获得足够多的信息之后再行动可以少犯许多错误。</p>
<p>ENFJ型的人过于重感情，以至了们的行为所带来的实际后果。试着注意事实，而不是只注意人，会有助于他们更合理地做出决定。</p>
<p>ENFJ型的人很爱接受赞扬，但对于批评却很脆弱，他们会为此表现得非常暴躁。他们对无害的和好意的批评都很难接受，而且他们通常对此的表现是慌乱、伤心或愤怒。他们的行为会变得非常无理，甚至到了完全丧失理性的地步。ENFJ型的人应该停下来，后退一步，在行动之前应该客观地看清楚情况。试着不那么敏感可以让一个ENFJ型的人从积极的批评中获得许多重要和有用的信息。</p>
<p>ENFJ型的人非常理想化，他们总是以为世界是他们想像或希望中的那样。他们相信理想的人际关系，并且对与自己的信念相抵触的事实视而不见。没有学会面对现实的ENFJ型的人最终会忽略问题而不是想办法去解决它。总之，ENFJ型的人需要更加心明眼亮。</p>
<h3>职业满足</h3>
<p>1. 能让我与我的同事、客户、主顾建立并维持亲密的、互助的人际关系。</p>
<p>2. 允许我对于我所负责的项目中出现的问题自己创造性的解决，同时我的努力能让我有所回报。</p>
<p>3. 能让我看到我的工作有很好的前景，我所作的贡献得到别人的赏识，同时我自身及我的事业能得到发展，我的进步得到同事的鼓励。；</p>
<p>4. 能让我成为另一群富有创造精神的人的一员，同时我还很充实，且有成就感。</p>
<p>5. 允许我有足够的时间探求解决问题的创造性办法，然后与支持我，关心我的人分享。</p>
<p>6. 我的工作环境是积极且富有挑战性的，而且在工作中我有权同时操纵多个项目。</p>
<p>7. 在工作中，我能充分发挥我的组织和决策能力，对我自己负责的项目有自主权，并对其承担一定责任。</p>
<p>8. 我的工作变化性很强，且允许我有时间对它有条不紊地进行好好规划。</p>
<p>9. 我的工作环境轻松，人们之间没有冲突，也没有相互猜忌。</p>
<p>10. 让我有机会接触新观念，并允许我探究一些新方法，能让人生活得更美好。</p>
<h3>适合的职业领域</h3>
<p><strong>信息传播</strong>: 广告业务经理、公共关系专家、通信主管、作家/记者、文艺工作者/艺术家、资金募集人、招聘人员、娱乐场馆主管、电视制片人、新闻广播员、政治家、市场主管（无线电，电视，电缆广播行业）、电脑绘图设计员、编辑（杂志）、平面造型艺术家、网页编辑、多媒体制片人、撰稿人、新闻记者、经营主编</p>
<p>ENFJ是教练的交际家。他们喜欢试图去理解别人、取悦别人，因此他们一般比较机智，外交能力强。他们更愿意用嘴而非笔与人交流，但一些ENFJ也是很棒的作家。他们经常与人面对面的交谈以了解那些隐藏在故事背后的鲜为人知的一面，以这种方式收集信息是他们所喜欢的。其实广告、公共关系、以及募集领域对ENFJ来说不失为一个令人满意的领域，但条件是他们必须相信自己的创作、贡献及其奋斗目标对社会有价值，并且工作氛围竞争性不是太强，矛盾不是太突出。ENFJ能迅速与其客户、主顾、以及同事建立起良好的人际关系，他们一般可能成为善于游说的、有影响力的经纪人、制片人、招聘人员和政治家。他们是天生的、有人格魅力的领袖，他们以能为大大小小的人群做些什么来方便他们的生活而高兴。</p>
<p><strong>咨询顾问</strong>: 心理学家、服务商、职业顾问、私人律师、公司新职介绍顾问、口译/笔译人员、控制药品顾问、雇员法律顾问助理、职业恢复顾问、教育心理学家、就业指导顾问</p>
<p>很多ENFJ愿意帮助别人通过自我了解来获得生活的幸福和满足，而他们在帮助别人的同时，自己也获得了带来的满足。他们以能帮助其客户注意到自己的情况从而克服困难而快乐，ENFJ大抵是热心、热情、有影响力的治疗专家。他们这会喜欢当一名牧师，因为作为牧师，他们能与别人分享他们自己的价值观，能帮助自己和他们人挖掘他们最大的潜力。他们很容易就能看到事情可能的选择余地或解决办法，并且还能帮助他们的客户也看到。</p>
<p><strong>教育/服务业</strong>: 健康保健/艺术/戏剧/英语教师、人文学科大学教授、训导主任、图书馆管理员、社会工作者、非营利性机构理事、特殊教育老师、早期教育老师、双语教育老师、儿童福利工作者、社会工作者（为老年人服务）、辅助生活保健器材中心主任、儿童保健中心主任、计划供给办公室干事、慈善机构顾问、教育规划主任、社会公益服务及公共服务主任、高中/大专生命科学老师、家长指导、儿童发展指导老师、音乐指挥家、公众健康教育家、大专和大学行政负责人、城市和区域规划者、社会学家、成人日托管理员</p>
<p>ENFJ们比较愿意进入教育办，因为这样他们就有机会直接为他人工作，帮助他人成长和发展。他们希望教的课程能让他们注重于为学生阐明和表达物质世界的深远涵义。他们需要一个和谐、合作的工作环境，那里能兼容所有的见解，并鼓励分享彼此的观点和感受。</p>
<p>服务机构对ENFJ也颇具有吸引力，因为在这些机构中他们有机会 为自己和别人提高其生活水平而努力工作。他们有当领导的欲望，因为这样他们在其工作中就拥有尽可能多的控制权。他们希望其努力能取得积极的成效。</p>
<p><strong>卫生保健</strong>: 整体健康开业医生（超越传统医学）、饮食学家/营养学家、语言病理学家/听力学家、职业治疗师、按摩师、交通管理员、矫形治疗师</p>
<p>在迅速膨胀的卫生保健行业中，这些职业能充分ENFJ对病人观察、诊断、治疗的能力。ENFJ们愿意探究导致病人心理、情感、精神疾病的根源，他们对那些新颖的、超常规的治疗方法很感兴趣，并喜欢寻求职业治疗法和语言病理学中创造性的基本原理。</p>
<p><strong>商业/咨询</strong>: 人力资源开发培训师、销售培训员、人事招聘人员、旅行代办、经理主管人员（小商行）、程序设计员、销售主任、经理顾问：多样化/团队建设、团队培训员、新职介绍顾问、生态观光业专家、劳资关系经理、会议策划、市场经理、布景设计师、饭店经理、人才主管、桌面出版专家、特殊事件筹划人员</p>
<p>咨询行业中各种不同的工作能让ENFJ们获得职业满足，因为这些工在ENFJ与人保持亲密友好关系的同时，又能独立地工作，不受制于人。ENFJ是优秀的推荐者和培训员，尤其在帮助他人提高他们的自身素质方面更为突出。他们总是积极地对新计划和服务项目进行创造性设计，并且希望跨入小型公司或机构的经理主管级，因为只有这样，他们才能的影响力，才能享受工作的丰富多彩，才会有机会探究新的行事方式，才能保证自己拥有一定的控制权。</p>
<p><strong>技术</strong>: 消费者关系管理人员、职工辩护律师（技术顾问）、教练、项目经理、合同经理、人力资源招聘人员</p>
<p>随着技术的不断发展，人才的需求量也越来越大。当然，这些人才必须是既懂技术又有很强的交际、交流能力的复合型人才。所以，技术人员兼终端用户这一身份吸引着广大的ENFJ们。他们发现这些工作不仅满足了他们帮助别人的欲望，而且还能让他们与他们的合作者保持紧密联系。</p>
<h3>可能陷阱</h3>
<p>不要把你的决定公建立于主观感情基础之上， 运用客观分析来助你看清你可能的行动在逻辑上将会导致什么样的后果。记住：原因和结果并不是你自然而然就能看到的，因此寻求能帮你的朋友的协助。 不要因为你讨厌这个公司的某个人就放弃一次选择，同时也不要因某种积极因素就全盘肯定某个工作或某个公司。</p>
<p>不要以个人态度接受批评和拒绝， 按本意接受那些建设性的批评和反馈意见。依赖你朋友的支持和鼓励将会有助于你在紧张 的求职过程中偶尔的泄气。 当人想要得到某个工作或面试却被拒绝时，请暂且务必不要太自责，把安对自己随机应变能力的一种挑战、一个你要克服的障碍。</p>
<p>集中重点，收集所有必要的事实；在注意你所结识的人的同时，请留心一下细节和现实情况。切勿一心一意结交新朋友而忽略了你求职中那些枯燥乏味的工作。不要别人说什么，你就信什么。你要尽可能地多问一些问题以了解这份工作或这个公司到底如何。</p>
<p>切实地看待你可能是到的工作和与你相交的人；看到真实的一面，要看到他们的弱点。有意识地防止将人理想化或表露出你对别人绝对的忠诚。敢于迅速、直接地正视矛盾和误解，不要逃避，但也要防止将它们扩大化，复杂化。</p>
<p>切勿仓促决定；作大量的调查研究将会使你三思而后行。在给予任何提供的工作以答复前，一定要有足够的时间把事情彻底考虑一下，以确保这份工作是否真的适合你。切勿抱匆匆完事、万事大吉的心理，否则你可能会错失即将到来的亹，或者你所接受的工作可能并不是你想要的。</p>
<h3>工作优势</h3>
<p>优秀的交流及表达能力；天生的领导才能及凝聚力；热情奔放，及有较强的寻求合作的能力；坚决果断，有组织能力；渴望推陈出新；与别人感情交融，能预见别人的需要，能真诚地关怀别人；兴趣广泛，头脑灵活；能统观全局，能洞察行为与意识之间的联系；鞭策自己做出成绩，达到目的；对自己所信仰的事业尽职尽责</p>
<h3>工作缺陷</h3>
<p>不愿干与自己价值观相冲突的事；容易把人际关系理想化；很难在竞争强、气氛紧张的环境下工作；对那引动没效率、或死脑筋的人没有耐心；逃避矛盾冲突，易于疏忽不愉快的事；在没有收集足够证据前，易于仓促做决定；不愿训诫下属；易于因轻率犯错误；易于满足小范围管理，决不放弃控制权；运用你的能力其实很简单。</p>
<p>ENFJ成功的秘诀就是：放慢你匆忙前行的脚步；适当放弃某些权利控制；客观对待周围的一切。</p>
<h3>恋爱</h3>
<p>在你脑海中经常浮现的一件东西是：感情关系。创造并且维持一段有意义又美好的感情，是你生活中快乐的泉源。不管是和业务上的人士、朋友、家人或情人来往，你都很重视发展一段有品质的感情，并且要确保这段感情一直不断在成长。当你恋爱时，身为一个外向型的感觉者，你必然喜欢和亲密的伴侣沟通，用言语表达爱恋和温柔的感觉，同时去发觉你的伴侣真正在乎的是什么。大部分的教育家型喜欢把时间花在伴侣身上；几乎不能忍受对方不在的时候。虽然你可能有很多朋友，但却希望把另一半尽可能地纳入你的社交圈子中。</p>
<p>危机：你对爱人百分之百的情感投入也许会让你觉得超出负荷—因为忙于照料情人的需要，而导致你缺乏精力照顾自己。你或许会倾向于把事情都看得太涉及私人情绪，因而当你的伴侣说了一些听起来带批评口吻，但事实并非如此的话语时，你会觉得受到伤害。例如说，若另一半纯粹只是想告诉你，你很漂亮时，你有可能会觉得难过，误以为那是讽刺的一击，因为他在刚才的15分钟里表现得爱理不理，你现在觉得他是在对你的外观做有意图的评论，只是为了讨好你。如果是这样的话，那现在开始争端真正要开始了。</p>
<p>尽管如此，在一段爱情的开始之初，你的爱人是不会做错任何事情的。虽然你在很多领域有敏锐的洞察力，但当谈到爱情时，还是会抱着一种“觉得一段感情应该如何”的理想观念坠入爱河，纵使真实的面貌可能和想像的有很大的差异。在感情慢慢进展时，你会开始期待对方无条件地付出，以同等的忠贞和坚贞不渝的爱情来对待你。若你认为对方没有给你同等标准的关怀和支持，你会用一种很直接、有时也许不太愉快的方式传达。</p>
<p>最佳恋爱类型:若你是一个女性教育家型，你会和男性教育家型，或是恰好相反的男性冒险家型(ISTP)，拥有美好的关系。与他在一起，你可能享受真实的刺激(泛舟、攀岩、飙车或是初学者阶段的蹦极)，同时，你将感受有史以来最尽兴的生活。若你是一个男性教育家型，你可以和女性教育家型、记者型(ENFP)或是哲学家型(INFP)相处得不错。你也可以和与你相反的冒险家型(ISTP)拥有成功的关系。冒险家型脚踏实地的务实特质，会使你不致于和真实生活脱节。同时，她轻松、随兴的个性又可以在你被那些“人际问题”困扰时，平抚你的情绪。</p>
<p>若你的理想情人是一个教育家型，你可以在企业界、教育界和政府机关的领导阶层中找到教育家型。他们拥有非常好的社交手腕，并且很容易接近。别让你的教育家型情人吃醋。确实有些教育家型的情人有很强的占有欲且会容易吃醋。为了避免发生问题，当你跟一个教育家型约会时，避免过度注意其他具吸引力的人。虽然教育家型在很多领域上是很有信心的，但是他们在爱情关系中却会感到不安全。他们要永恒不变的保证，包括言语上和行动上的，请表现出对他们的关心。给予教育家型他们渴望的注意力和言语上的关爱，他们会以慷慨的温暖和爱恋回报你，让你觉得仿佛是世界上最受人关爱的人。</p>
<p>教育家型情人的爱情是很炽烈的，他们不会羞于告诉他们的伴侣内心的感受。因此，当教育家型情人觉得他们的感情被伴侣的言语或行为威胁时，教育家型情人会很自然地表达他们受伤或生气的感受。同时，由于他们的情绪反应，教育家型会把冲突和否决看得非常严重，不管这是事实或只是他们以为如此。这样的结果造成他们很容易被伤害,而且怀恨许久。从正面的角度而言，教育家型相信婚姻，他们会是极富爱心并且愿意付出的配偶。同时，他们也是很有魅力的，和他们在一起是一件愉快的事。不仅如此，教育家型也常常可以激发他们的伴侣，带领他们的伴侣到达爱情和快乐的巅峰。当你遇到正确的教育家型情人时，你将沉浸在那种被爱、被取悦、有支持和关注的幸福感觉中。</p>
{% endblock %}
