{% extends "mbti/personalities/base.html" %}
{% block title %}ENFP{% endblock %}

{% block type %}ENFP{% endblock %}
{% block subline %}记者型人格{% endblock %}

{% block article %}
<h3>概览</h3>
<p>ENFP表示：外向（E）+直觉（N）+情感（F）+知觉（P）。此类性格的人群被认为是健谈热诚，友善的；聪明好奇，爱玩的；关心体贴，温柔敏感；富有想象力，颇具创新精神；智慧乐观，适应能力强。</p>
<h3>性格特点</h3>
<p>对ENFP类型的人来说，最重要的是自己能看到各种可能的情况，并与各行各色的人来往。他们是"理想型"和"人性型"的结合类型。在他们的眼里，每一个人、每一样事物都只是和谐整体的一部分。从日常小事到为人类造福的伟大事业中，他们都希望自己既是一个有用（至少，是他们自己所认为的"有用"）的人，又能为别人所喜欢和尊重。他们会对新观点、新思想很感兴趣，虽然最终会由于某个原因而弃之不理。</p>
<p>装疯作傻是ENFP人的另一魅力所在，它能使他们很快地融入到更加庸俗的人当中。他们很风趣，待人友善，很真挚地爱着人们，然而在交往的注意广度可能并不宽。ENFP类型的人对新朋友或刚认识不久的人很感兴趣，却经常会将老朋友抛到脑后。</p>
<p>稍欠成熟的ENFP人可能时刻都需要感觉到自己是注意的焦点，希望大家都认为自己是很棒、很迷人。</p>
<p>在涉及世界观方面的各种问题上，ENFP人经常会有自己强烈的信仰。他们通常会运用社会技巧和关系逐渐去说服人们接受那些正确的观点，有时甚至会有一种为拯救世界，我不入地狱谁入地狱的悲壮。</p>
<p>ENFP人能随遇而安，极易适应工作环境。他们有自己大胆的想法，在"头脑风暴"中有突出的贡献。然而，对他们来说，保持不变可不是一件容易的事，因为他们会很快的对一件东西厌烦，尤其当有更新、更有趣的东西出来时。但当开会、规定最后完事期限以及完成所交代的枯燥无味的琐事时，他们也是个拖延的人。只有当他们与 Judger(J）共事时，他们才会收起懈怠，发挥出最高的效率。</p>
<p>无论在信念里，还是实践中，ENFP人都憎恶官僚作风，他们时常会嘲笑其中的某一方面。</p>
<h3>个性特征</h3>
<p>健谈热诚，友善的；聪明好奇，爱玩的；关心体贴，温柔敏感；富有想象力，颇具创新精神；智慧乐观，适应能力强，但有时做事无条理。</p>
<p>热情洋溢、富有想象力。认为生活是充满很多可能性。能很快地将事情和信息联系起来，然后很自信地根据自己的判断解决问题。很需要别人的肯定，又乐于欣赏和支持别人。灵活、自然不做作，有很强的即兴发挥的能力 ，言语流畅。</p>
<p>ENFP型的人充满热情和新思想。他们乐观、自然、富有创造性和自信，具有独创性的思想和对可能性的强烈感受。</p>
<p>ENFP型的人，生活是激动人心的戏剧。ENFP型的人对可能性很感兴趣，所以他们了解所有事物中 的深远意义。他们具有洞察力，是热情的观察者，注意常规以外的任何事物。</p>
<p>ENFP型的人好奇，喜欢理解而不是判断。ENFP型的人具有想象力、适应性和可变性，他们视灵感高于一切，常常是足智多谋的发明人。</p>
<p>ENFP型的 人不墨守成规，善于发现做事情的新方法，为思想或行为开辟新道路，并保持它们的开放。在完成新颖想法的过程中，ENFP型的人依赖冲动的能量。他们有大量的主动性，认为问题令人兴奋。他们也从周围其他人中得到能量，把自己的才能与别人的力量成功地结合在一起。</p>
<p>ENFP型的人具有魅力、充满生机。他们待人热情、彬彬有礼、富有同情心，愿意帮助别人解决问题。他们具有出色的洞察力和观察力，常常关心他人的发展。</p>
<p>ENFP型的人避免冲突，喜欢和睦。他们把更多的精力倾注于维持个人关系而不是客观事物，喜欢保持一种广泛的关系。</p>
<h3>性格优势</h3>
<p>⒈ 对别人的情绪敏感，能理解、体会别人的心情，善于安慰、鼓励别人</p>
<p>⒉ 对文字、语言敏感</p>
<p>⒊ 善于分析、总结</p>
<p>⒋ 善于从整体上把握事物</p>
<p>⒌ 能理解复杂的理论概念，善于将事情概念化，善于从中推断出原则</p>
<p>⒍ 擅长策略性思维</p>
<h3>潜在弱点</h3>
<p>⒈ 有仅仅凭个人的好恶或价值观来决定事情，并希望别人也以同样的角度或标准来处理问题的倾向。</p>
<p>⒉ 有时他们心里老想着别人的问题，可能会过于陷于其中，以至于被其困扰。</p>
<p>⒊ 有时容易将别人或事情理想化，不够实际。</p>
<p>⒋ 不是特别善于管束和批评他人，尽管常常自我批评。有时会为了和睦而牺牲自己的意见或利益。</p>
<p>⒌ 有些“理想主义者”比较容易动感情，情绪波动较大。</p>
<h3>适合领域</h3>
<p>ENFP适合工作的环境包括那些通过长年打拼，逐步扩大规模的企业。他们可以成为出色的经理、销售人员、传媒人士、广告业者或者形象工作者。ENFP还适合从事那些把想法付诸实施的工作，比如包装、宣传、市场推广。ENFP会成为他们所属环境中的典型：他们可以是最激进的左翼分子，也可以是最保守的右翼分子。他们总是被那些能够让他们具有成就感的环境所吸引。他们喜欢具有发展空间的高层职位，比如企业的高层领导。如果他们是政治家，他们会通过媒体形象和个人风格来争取更多选票。</p>
<h3>适合的职业</h3>
<p>人力资源经理；变革管理顾问；营销经理；企业/团队培训师；广告客户经理；战略规划人员；宣传人员；事业发展顾问；环保律师；研究助理；播音员；开发总裁；广告创意；广告撰稿人；市场营销和宣传策划；市场调研人员；公关专家；公司对外发言人；儿童教育老师；大学老师（人文类）；心理学工作者；心理辅导和咨询人员；职业规划顾问；社会工作者；演讲家；记者（访谈类）；节目策划和主持人；专栏作家；剧作家；设计师；卡通制作者；电影、电视制片人</p>
<h3>冒险特质</h3>
<p>对发现生命的意义非常有兴趣；</p>
<p>喜欢被人们所肯定；</p>
<p>开朗而且富有领袖魅力；</p>
<p>倾向于开始很多事情（包括感情）但却不一定会完成它们。</p>
<p>对爱情的理解：“爱情是神秘的、有启发的和有趣味的。”</p>
<h3>相关信息</h3>
<p>你相信生命是丰富的，爱情是多彩多姿而且拥有很多创意的。尽管上帝把一只猎犬的强健精力，和一对蜜月期的新婚夫妇的热情结合起来，却仍只不过达到你永无止境的生命热忱之一半。</p>
<p>"儿戏的恋爱"是形容你恋爱态度的最佳名词：好玩的、活泼的、耍闹的、可爱的，同时心中永远是年轻的。不管你的年纪多大或是你曾经在爱情里受过多少次伤害，当面对爱情时，你永远都是永恒的乐观者。</p>
<p>当你碰到一个你觉得有吸引力的人时，你并不是那种会小心进展的人。你很有可能会热烈地掉入爱情的漩涡里，快速、随兴且纵情的。你总是学不会先有所保留，尤其是面临即将展开的一段新鲜刺激的恋情时。</p>
<p>承诺会让你害怕。这可以解释为何你到30岁、40岁、50岁或是更老时还是单身。但你绝对喜欢那种与人共享的亲密感情。只要能够找到那个特别的人，你会就此把生活安定下来。</p>
<p>你会和教育家型（ENFJ)或是你的镜中影像，也就是记者型的人拥有良好的关系。记者型将会成为你最佳的伴侣和情人—那一种可以为爱情带来无止境的欢乐和创意的人。</p>
{% endblock %}
