{% extends "mbti/personalities/base.html" %}
{% block title %}ENTJ{% endblock %}

{% block type %}ENTJ{% endblock %}
{% block subline %}陆军元帅型人格{% endblock %}

{% block article %}
<h3>特点概况</h3>
<p>ENTJ:外向，直觉，思维，判断。ENTJ型的人是伟大的领导者和作决定的人。他们是天才的思想家和长远规划者。因为ENTJ型的人非常实际，逻辑性又强，他们善于做那些需要推理和智慧的工作。ENTJ型的人还注重真理，只有在经过逻辑推理之后他们才会信服。ENTJ型的人在作计划和研究新事务时是很系统化的。而且ENTJ型的人天生是热心坦诚的领导者。他们善于组织群众，生活非常严谨而且期望别人也是如此。因此，他们愿意挑战并且让其他人也像他们一样努力奋斗。</p>
<h3>特点详解</h3>
<p>亲切友好，意志坚强，坦率直言；诚实理性，对自己及他人要求严格；极力表现自己的能力；具有全球性的创造眼光；能干果断，做事有条理。</p>
<p>对ENTJ类型的人来说，一生中最重要的是展现自身的实力，并实现某些重大的事情。他们是天生的指挥家和领导者。这一点无论在他们身为世界领导人时所展现的魅力和手腕上，还是在身为宗教领导人时所体现的领导力上，都得到很好的映证。ENTJ人喜欢先设计好一个计划，然后再去实现它。</p>
<p>ENTJ人经常以一种讲述传奇色彩的口吻来描述他们的项目和计划；这种能力对身为销售人员、以说笑话为主的喜剧演员、故事演讲家的他们派上很大的用场。结合他们与生俱来的"阻挠议事"的本事，顾客很难会拒绝我们主人公的要求。</p>
<p>ENTJ人很果断。他们明白需要做什么，然后把该做的事分配下去。其他类型的人在遇到冲突时，很少像他们一样能够保持决断，击败强大的对手。当受到挑战时，他们会变得很好争辩；或以横眉冷对，那眼神似乎在传达这样一种信息：ENTJ是不能被小瞧的。</p>
<h3>盲点</h3>
<p>ENTJ型的人有时会急于做决定。偶尔放慢脚步可以给他们机会来收集到所有相关的数据，并可以将实际情况与自身立场仔细地考虑清楚。但ENTJ型的人比较粗心直率， 无耐心并且不敏感，不妥协并且很难接近。所以他们需要倾听周围人的心声，并对他们的贡献表示赞赏。他们过于客观地对待生活，结果没有时间去体会感情。当他们的感情被忽视或没有表达出来的时候，他们是非常敏感的。若对他们的能力表示怀疑的是他们尊敬的人的话，这种表示尤为强烈。他们会在一些小事上大发雷霆，而这种爆发会伤害与他们亲近的人。如果他们留给自己一点儿时间来体会和了解自己的真实感情的话，他们会非常开心，效果也很好。正确的释放自己的情感，而不是爆发，会使他们更好的控制自己，并获得自己期望和为之努力的地位。ENTJ型的人实际上并没有他们自己想象得那么有经验，有能力。只有接受他人实际而有价值的协助，他们才能增长能力并获取成功。</p>
<h3>工作优势</h3>
<p>作为ENTJ型人，职业满足意味着你做的这些工作：</p>
<p>1． 让我领导，控制，组织以及完善一个机构的运行体制，以便它能有效地运行并达到计划目的。</p>
<p>2． 允许我从事长远策划计划，创造性地解决问题，以及对各种不同问题设计出富有创意且符合逻辑的解决方法。</p>
<p>3． 我的工作是在一个组织性强的环境中完成，而且在那里我和我的同事要在一系列明确的指导方针下工作。</p>
<p>4． 我的工作能鼓励并刺激我的求知欲，同时允许我从事复杂且通常比较棘手的问题。</p>
<p>5． 给我机会遇到并与各种不同的人交往，他们必须是有能力，有趣且实力强大的人。</p>
<p>6． 给我在机构内不断前进，提高并展示自己才能的机会。</p>
<p>7． 我的工作有刺激性，挑战性，及竞争性，在工作中我是公众注意的焦点，同时我的成就要看得见，被认同，且能得到一定的回报。</p>
<p>8． 允许我与别的有才智，有创造力，有抱负以及有理想的人工作，而且他们的能力是我所佩服的。</p>
<p>9． 让我设立一目标，并为实现它们而奋斗，允许我运用我的组织技能来使我自己及别人集中精力于更大的目标，而同时我自己所有的目标都能及时，有效地实现。</p>
<p>10． 能让我以我地政策来管理并监督别人，运用逻辑，客观的标准以及利用每个人的才能，但不必处理人际冲突。</p>
<h3>适合职业</h3>
<p>政治家；法官；社团负责人；CEO；经理；高级主管；办公室主任；理事；人事经理；销售经理；营销经理；网络一体化专家（电信）；技术培训员；信息服务－新业务开发员；后勤顾问（生产）；管理顾问：电脑/信息服务/市场/机构重组；广告业务经理；营销经理：广播/电视/有线广播行业；媒体策划/采购员；国际销售和营销；销售经理：制药业；主管：健康服务；学院或大学理事；总编；戏剧制片人；警察或探长；人力资源经理；协会主席或顾问；节目导演；项目经理；零售经理；不动产经理；饭店或饮食服务行业经理 </p>
<p>商业界通常都是比较受ENTJ型人欢迎的领域。他们喜欢担任那种有权威的，有控制力且能管理领导别人的职位。作为商业主管，他们能运用其长远思维来开发临时应变之措施，同时，他们能计划实现他们目标的最佳奋斗行动方向。ENTJ型的人运用一种直接管理方式，能做出强硬但公平的决定以及为雇员制定政策方针。他们喜欢自己周围的人独立，且注重结果，而又不需要太多的监督与干涉。ENTJ型的人通常能通过自己影响别人的能力以及他们能轻松自如地与人交往从而晋升到公司地顶尖阶层。</p>
<p>个人财务策划；经济分析家；抵押经纪人；信用调查员；股票经纪人；投资银行家；国际银行家；经济学家；财务员，查账员和财政首脑官员；风险资本家；商业顾问；管理顾问；教育顾问；项目设计员；管理培训员；职业发展专家；劳动关系经理；电信安全顾问；公司团队培训员；立法助理；政治顾问</p>
<p>ENTJ型的人在金融领域也比别人稍胜一筹。他们喜欢赚钱，也喜欢与别人的钱打交道！他们喜欢这一领域的竞争，且能够迅速轻松地占据优势。这些职业使得ENTJ型地人能运用他们预测趋势的能力，同时设计有创意的方式来使自己或其客户完全利用机会。当他们的工作极少地涉及到细枝末节以及后续事务时，他们能干得很出色。不过相反如果涉及了这些小事，他们就会派给别的能胜任的助手。</p>
<p>商业顾问；管理顾问；教育顾问；项目设计员；管理培训员；职业发展专家；劳动关系经理；电信安全顾问；公司团队培训员；立法助理；政治顾问</p>
<p>咨询界职业所提供的多样性与独立性吸引着ENTJ型的人来从事这一行业。最近几年咨询业发展极其迅速，从而给予了ENTJ型的人众多的机会来满足他们的企业家精神，他们与有着不同商业背景的人打交道，同时获得他们在工作中付出而该获得的回报。ENTJ型的人大多在商业或管理咨询方面有优势，他们可能时优秀的，能激励人潜能的培训员。他们通常能通过一些创造性设计和活跃的活动来创造出一个有组织的，富有挑战性的环境。他们似乎永远喜欢承担新的计划，喜欢以教授别的有雄心壮志的人的方式来提高他们的能力。</p>
<p>律师；法官；心理学家；自然科学/社会科学教师；化学工程师；知识产权律师；生物医学工程师；律师（专业：非盈利性慈善机构）；律师（专业：财产策划）；政治科学家；病理学家；飞行员；集团总裁</p>
<p>这些职业所提供的社会地位以及影响力是ENTJ型人在职业中奋力以求的，他们大多喜欢法律业，而且能成为成功的从业律师和法官，心理学家和精神病学家所面临的智力挑战也吸引着广大的ENTJ型的人，同样复杂的化学工程领域以及不断扩张的环境和生物工程领域也对ENTJ型的人有一定的吸引力。在教育方面，ENTJ型的人通常更喜欢教高年纪，尤其是中级教育，成人教育以及大专水平教育。他们喜欢把他们的知识应用到他们周围的世界，而且他们通常拥有能允许他们把他们的教育职责扩展到别的领域的职业－如政治或政治咨询。</p>
<p>网络安全管理员；系统主管；局域网主管；机器人学网络经理；数据库主管；系统分析员；项目经理；合同经理</p>
<p>很多ENTJ型的人近乎完美地适合大量的与电脑有关的职业，这些职业是从个人电脑的爆炸似的增长以及因特网的广泛运用中发展起来的。这些工作所要求的一些能力对ENTJ型的人来说都是天生具备的：理解并处理复杂问题的能力，一个逻辑思维能力强的头脑，掌握宏观图像的能力，以及优秀的组织技能。</p>
<h3>求职</h3>
<p>充分了解自己的长处和缺陷，能使你在求职的时候“知己知彼，百战不殆”。从开始寻求可能适合自己的工作岗位，接触和联系自己可能的未来老板，组织自我推销的材料（如个人简历等），安排并进行面试，与雇方协商工资的高低，到最后取得这份工作－在这整个过程的方方面面，人们都会如实地表现自己的个性。是否能够亮出自己的才能并弥补自己的不足，往往关系到你求职的成功与否。</p>
<p>不同个性类型中的差别有时比较隐讳，有时极其明显。正是我们的建议中的这些细微的差别，往往关系到求职的成败。“相互交流”的观念（具体地说，就是通过与别人交流，从别人那儿获取一些求职信息），可以作为一个很好地例子。外向型人很喜欢和别人“相互交流”，而且我们也鼓励他大胆地去这么做；然而，内向型人却只喜欢和很小范围内的一些确定的人“相互交流”，他们觉得和熟人交流比较容易一些。感觉型人倾向于和确定范围内的一些人交流；然而，直觉型人却广泛地和很多人交换意见，虽然他们的某些聊天对象看上去和他们并不是“志趣相投”。情感型人把“相互交流”视作是很隐私的事情，就像他们对待其他任何事情一样而且他们喜欢与人建立友好关系；然而，思维型人却表现得比较一视同仁，他们对人往往比较冷漠。判断型人倾向于问别人一些比较“公式化”得问题，而且他们不会问许多人；然而，知觉型人却成天和别人无所不谈！虽然只有一个宝贵得求职方法，但是可以通过许多途径来运用表现它。</p>
<h3>成功之道</h3>
<p>因为ENTJ集多种能力于一身，所以他们中的大多数人都发现找工作还算容易且比较有意思。实际上，ENTJ们确实是了不起的工作搜索者，何况很多职业顾问就是ENTJ。难怪乎那些给求职者列出的典型工作对于ENTJ来说就好像为他们量身定做的衣服一样合身。</p>
{% endblock %}
