{% extends "mbti/personalities/base.html" %}
{% block title %}ENTP{% endblock %}

{% block type %}ENTP{% endblock %}
{% block subline %}挑战者型人格{% endblock %}

{% block article %}
<h3>特点概况</h3>
<p>对ENTP类型的人来说，最重要的是有创造力，能预见到美好的未来，并且时刻具有挑战性。将"聪明"用来形容这种类型的人是最合适不过的了。 ENTP人话说的快，脑子转的也快。他们既喜欢为自己的利益而辩，也喜欢炫耀自己的辩论技巧而跟人辩。辩论时，他们既喜欢表现乖张的幽默，也喜欢唱反调。那些并不视辩论为一种显示的人，在与他们辩论过程中，往往会觉得很困惑，甚至感到很受伤害。</p>
<h3>特点详解</h3>
<p>由于ENTP人很善言辞，所以他们在解决问题时很机灵，很有技巧性。然而有时他们却力争"超越"自我，他们经常"不择手段"------只要有条件，他们便无视某些规则的存在去抄近路，即使是在野心勃勃的欺骗性活动中溃败而终，也在所不惜。无论在工作还是在家里，他们都喜欢玩各种体力或智力上的玩具，越复杂他们就越喜欢。虽然，他们很快便会喜新厌旧。</p>
<p>ENTP人基本上都很乐观，在遇到大挫折时，他们只视其为一个挑战，并坚定地去解决掉；但是，当他们碰到小挫折或小麻烦时，却很容易发脾气。ENTP人不能忍受那些执迷不悟、愚钝的人，同时，他们也会毫不掩饰得表达这一点。其实，只要他们生活中没什么烦扰的事，他们平时还是很亲切和蔼的，有时甚至很讨人喜欢。</p>
<h3>人际关系</h3>
<p>在人际关系方面他们能一下子与所爱的人亲密起来。有些人在私底下表达这种感情；而另外一些人，对亲人的亲密程度却表现的很公然，以致于那些平时只见得他们工作中的一面的共事者们大吃一惊。ENTP人也善于结交那些与他们一样聪明、一样有趣的人。除了以上两方面，人性的其他方面似乎都被ENTP人给淡忘了，除非当他们作听众时-------给人或好，或坏，或什么样的感觉都有可能。</p>
<h3>基本描述</h3>
<p>友好可爱，坦率直言；才思敏捷，精力充沛，玩世不恭；富有想象力和创新精神；好奇灵活，不可预见的；有逻辑性，善于分析</p>
<p>当情况环境转变时，你很容易忽视他人的情感，变得迟钝和鲁莽。</p>
<h3>优势</h3>
<p>出色的交际才能，能使别人对自己的观点感到兴奋；急切地“想知道盒子外面的世界”，能想出一些新的可能性；具有杰出的创造性地解决问题的技能；探索精神，创新意识，以及克服困难的勇气；兴趣爱好广泛，易于接受新的事物；有“走自己的路，让别人说去吧”的乐观主义激情；学习新知识的信心和动力都很强大；天生好奇心理，快速地搜集所需信息的技能；能够把握事情的全局，弄清思想和行为的长远影响；同时处理多个问题的能力；对别人的需要和意图的知觉；能灵活地适应新情况，有熟练的变换能力；在社交生活中不会感到拘谨，能舒适地适应大多数社交场合</p>
<h3>劣势</h3>
<p>难于让自己有条不紊和富有条理性；经常不能区分事情的优先秩序；过于自信，可能会不恰当地运用自己的能力和社交经历；倾向于用“是不是有可能”来看待问题，而不是可能性的大小来衡量问题；很可能不切实际地许诺；对思维狭窄和思想顽固的人缺乏耐心；问题一旦解决，兴趣便不复存在；不喜欢按照传统的公式化的方式办事；对待细节和后续工作可能缺乏耐心，对自己要求不严；对事物容易感到厌倦，并且可能在不恰当的时候把注意力转向别的地方；不喜欢重复性的工作；对自己不信任的人耐心不够</p>
<h3>适合岗位</h3>
<p>有机会从事创造性解决问题的工作，工作有一定的逻辑顺序和公正的标准，能够通过工作能提高个人权力并常与权力人物交流。比如各类项目的策划人和发起者、投资顾问（房地产、金融、贸易、商业等）、企业业主、 社团负责人、政府官员 等；投资经纪人、金融规划师、艺术总监、访谈类节目主持人、公关专业人士、企业公关经理等；产品开发、营销策划、管理系统开发、工业设计类经理、投资行业职员、广告创意指导等。</p>
<h3>适合领域</h3>
<p>投资、银行、公共关系、政治、市场营销、自我创业、创造性领域。</p>
<h3>爱情</h3>
<p>ENTP性格类型的人天性纯良，豁达开朗，逍遥自在。和他们相处时，总能感觉非常快乐。他们在与他人的互动过程中获取快乐和满足感。他们对于理论和概念的讨论特别感兴趣。由于他们喜欢与人争论的过程，他们可能会成为争议的导火线。一般他们喜欢调侃和群体活动，并能在这种交往活动中显得魅力四射。他们的问题是，在他们寻找新点子或计划时，有时会忽视他们亲近的人</p>
<h3>感情中的优点</h3>
<p>激情似火，积极向上且受人欢迎，拥有极强的人格魅力，优秀的沟通技巧，在交往过程中特别注重对于自己能力的提升和培养，悠闲自在，擅于自我调节，通常都是非常容易相处的，拥有大智慧的人，总是能想出一下伟大的策略或点子，很会赚钱，但是不擅理财，对于他们的承诺和人际关系都是十分严肃认真的，在情感上受到打击之后，能迅速走出阴影</p>
<h3>感情中的弱点</h3>
<p>对于新鲜事物总是激动不已，他们可能会频繁更替自己的爱人或朋友，常会放弃对于他们计划或想法的执行，他们热爱争辩的性格可能会引发与他人的矛盾，热爱冒险且花钱无节制，通常不擅理财，虽然他们对与爱人和朋友十分看重，但是如果这段关系不能让他们获得成长的帮助，那么他们很可能会选择退出</p>
<h3>ENTP型爱人</h3>
<p>在亲密的爱侣关系中，ENTP所追求的目标与他们在普通朋友关系中的目标是相似的，那就是“进步与成长”。他们会一直问自己一些像“怎样才能让感情质量提升呢？”“这段感情会驶向何方？”“我在这段感情中有得到提升么？”这类的问题。他们总是会充满热情地接受那些在他们看来能够对他们的进步和知识有所帮助的新点子、新计划以及爱人。一般说来，在一段感情中ENTP所表现出的热情和意图都是正面有益的。</p>
<p>ENTP的一大问题就是他们对于计划的执行往往不能坚持到底。这对于他们的爱侣来说就是个麻烦了。随着问题的加剧，他们的爱侣会渐渐失去对ENTP的信心，不相信ENTP能够言行一致。最终的结果就是在爱情关系中，ENTP成为“狼来了”悲剧中的那个男主角。</p>
<p>在性方面，ENTP充满激情，并对不断提升双方倾注大量努力。他们会全情投入并会不断质疑。他们喜欢顺其自然而循规蹈矩，并乐于接受新鲜的概念和新的冒险。他们将性关系更多地视为是一种传达爱意的身体接触，而非直接表达爱意的机会。</p>
<p>总体而言，ENTP对于爱情的健康与走向有着如孩子一般的热情及真挚的兴趣。因此，他们希望能和他们的另一半一起营造一个健康成长性的爱情关系。ENTP需要注意对于他们感受的关注。当面对生活中让人激动的外界潜在价值时，ENTP也不能因此忽视他们的感情。</p>
<p>两个性格发展完整的个体的确可以拥有一段健康的恋情，但是ENTP的最优选是INFJ或INTJ。ENTP的主导性格是外向直觉，这与以内向直觉为主导的性格人群是最好的配搭。虽然说任何性格类型的两个个体，只要性格发展完整都可以拥有一段健康的恋情。但是，与ENTP更合适的天生伴侣为INFJ或INTJ型性格。ENTP的主导官能“外向直觉”与这两种性格类型的主导官能“内向直接”最为匹配。</p>
{% endblock %}
