{% extends "mbti/personalities/base.html" %}
{% block title %}ESFJ{% endblock %}

{% block type %}ESFJ{% endblock %}
{% block subline %}关爱者（供应者）型人格{% endblock %}

{% block article %}
<h3>特点概况</h3>
<p>对ESFJ人来说，最重要的是人际关系，并能真实具体地帮助别人。他们待人慷慨大方，喜欢庆祝传统的节日。 ESFJ人的不同之处在于，他们欣赏 。他们清楚地看到问题的所在，轻易地分配掉，然后兴致勃勃地努力工作。像大多数SJ类型的人一样，ESFJ人很忠诚于权威，他们心甘情愿的为上级劳动（生命的意义所在），同时希望自己的下级也能如此。</p>
<h3>特点详解</h3>
<p>ESFJ人很容易受伤害。当他们受伤时，他们并不会压抑内心的情绪，他们天生就是那种"易形于色"的人。他们待人热情和蔼，但也不乏将内心的苦水吐露出来的时候。有些ESFJ人就将这种易变的情绪搬到舞台或屏幕上以戏剧的形式表现出来。</p>
<p>ESFJ人的内心受一股强烈的、矛盾的力量冲击着。他们的是非常强烈地驱使着自己去解救所有被扭曲的真理一种本能的驱动力。所以当他们一发现有逾越者时,就会采取快速、迅捷的行动，而随之而来的可能是严厉的谴责。像管理员一样，ESFJ人能感觉到周围潜在的危险-内在的起因、外部的因素、肆无忌惮的恶人、阴险的人性弱点等，所以这是一个不可信任、充满了危险的世界。与其说ESFJ人疑心太重，倒不如说他们有高度的警惕性。所以他们是很好的保安人员，在医药保健和初等教育领域有很出色的表现。</p>
<p>友好积极，精力充沛；健谈亲切，好交际；关心体贴，谨慎礼貌，易于共事；实际而正直；多愁善感，易受伤害；传统尽责，做事有条理。</p>
<p>爱心、有责任心、合作。希望周边的环境温馨而和谐，并为此果断地营造这样的环境。喜欢和他人一起精确并及时地完成任务。忠诚，即使在细微地事情上也如此。能体察到他人在日常生活中的所需并竭尽全力帮助。希 望自己和自己的所为能受到他人的认可和赏识。</p>
<p>ESFJ型的人通过直接的行动和合作积极地以真实、实际的方法帮助别人。他们友好、富有同情心和责任感。</p>
<p>ESFJ型的人把他们同别人的关系放在十分重要的位置，所以他们往往具有和睦的人际关系，并且通过很大的努力以 获得和维持这种关系。事实上，他们常常理想化自己欣赏的人或物。</p>
<p>ESFJ型的人往往对自己以及自己的成绩十分欣赏，因而他们对于批评或者别人的漠视很敏感。通常他们很果断，表达自己的坚定的主张，乐于事情能很快 得到解决。</p>
<p>ESFJ型的人很现实，他们讲求实际、实事求是和安排有序。他们参与并能记住重要的事情和细节，乐于别人也能对自己的事情很确信。他们在自己的个人经历或在他们所信赖之人的经验之上制定计划或得出见解 。他们知道并参与周围的物质世界，并喜欢具有主动性和创造性。</p>
<p>ESFJ型的人十分小心谨慎，也非常传统化，因而他们能恪守自己的责任与承诺。他们支持现存制度，往往是委员会或组织机构中积极主动和乐于合作的成员 ，他们重视并能保持很好的社交关系。他们不辞劳苦地帮助他人，尤其在遇到困难或取得成功时，他们都很积极活跃。</p>
<h3>基本描述</h3>
<p>供应是提供给他人生活必需品的行为，供应者似乎天生就热衷于为他人服务，保证他们具有物资充足感和群体归属感。他们自觉承担起照顾身边的人和安排其福利待遇的责任，他们也是护卫者型中，最喜爱交际的人。无论走到都会承担着社会奉献者的角色，愉快的付出自己的时间和精力，以确保别人的需要得到满足、传统得到维持和发展，并圆满的履行其社会职责。</p>
<p>由于生性善良或温柔，他们更乐于选择保管者的角色，而且，外向、风度翩翩的他们，似乎喜欢成为供应者，甚于保护者。他们占人口的10%，女性比例为95%，对我们来说是值得庆幸的事情，因为合作与方便社会是他们人性结构的关键所在。他们擅长与其助手通力协作，并不知疲倦的关心着所有商品和服务安排的详细事项。</p>
<p>这些富于表现力的保管者，风度翩翩、健谈，会因为离群索居而心神不安。即使在一群陌生人间，他们也能展开一场谈话，愉快的畅谈。他们对闲聊表现出一种浓厚的兴趣，事无巨细。他们更习惯于思考看得见的而非虚构的事物，容易意识到并讨论人们生活中的大事或难事。他们对抽象的话题掌握不了，却倾向于听取公认的权威人士，讲有关抽象事物的理论，并常常信赖正式认可的观点，作为他们判断事物的标准和依据。</p>
<p>社会传统对供应者具有重要意义，他们的谈话也常常飘荡到对过去美好日子中的经历进行怀旧的叙述上，但同时由于供应者表达了对忧伤和厄运的预测，并显现出具有感染性的悲剧倾向，从而给别人施加了过度的压力。他们需要控制自己对“最糟糕的事情肯定会发生”这个念头的恐惧感。</p>
<p>供应者具有过度的敏感性，并非常愿意表达出这种情感反应。他们能快速的表达出喜欢或不喜欢，将在意的人置于显耀地位；而对不喜欢的人，很少提及。他们永远介意表面的现象，非常严肃的采纳别人关于其个人承诺方面的意见。针对他个人的批评意见会击垮他们，只有当他们本人及他们的服务被人认可时，他们才会有效的行使自己的职责。他们希望自己被需要，并且花费时间和精力来证明自己是值得信赖的。他们会因为受到不友好的对待而变得垂头丧气，并习惯于对他们的制度或人际关系中任何可能的错误承担责任。</p>
<p>在选择职业的时候，供应者也许偏爱服务性行业。供应者在处理销售事宜的时候，论证了如何将销售人格化，他们明显并诚实的为顾客的福利着想，因此顾客不仅从他们那儿购买商品，还购买个人福利。他们的性格促使他们在许多人与人交往的工作中表现出色，他们很少引起领导的愤怒，因为他们以义务和服务为导向，尊重并服从规章制度。对老板忠诚，能成为得力的私人秘书和办公室接待人员。</p>
<h3>适合职业</h3>
<p>劳工关系调解人，商品规划师旅游项目经营者，旅游销售经理人，幼教老师，职业策划咨询师，旅游管理/导游，精品店、商场销售人员，娱乐、餐饮业客户经理员，市场营销人员（消费类产品）， 创意人员，客户经理摄影师，社区工作人员，健身和运动教练</p>
<h3>特点</h3>
<p>井井有条，忠心不二，自始至终完成任务的可靠人选，喜欢构建秩序、架构和计划，喜欢与其他人沟通，热心且很有爱心，将他人的需求置于自己之上，擅于给予他人切实的帮助，合作互助，是非常优秀的团队成员，脚踏实地、注重实践，推崇平静安全的生活，喜欢多样化，但对日常事务的处理中也十分出色，需要得到他人的认可，在给予的过程中获得满足，活在当下，不喜欢对于未来理论化的设想</p>
<h3>感情</h3>
<p>ESFJ十分热心，他们非常重视自己的好友和家人。他们喜欢服务他人，而且他们的快乐来自于周围人群的快乐和愉悦。ESFJ的真挚热情、关爱他人的天性以及他们挖掘他人潜能的能力被周围人群极度推崇。他们通常不擅于掌控冲突局面，还会表现出一定的控制和操控欲。人际交往是他们生活的核心，为此他们会投入大量的时间和精力来培养和维系自己的这些人际纽带。同时，他们期望别人也能这么做。</p>
<p>不遗余力地履行自己的职责和义务；天性热情友善，乐于认同他人；具有服务意识，喜欢取悦他人；对于自己的承诺十分认真，寻求能够白头偕老的爱情；富有责任心且脚踏实地，是处理日常事务的可靠人选；通常积极向上，且非常受欢迎，对周围人群有很大的吸引力；通常非常擅于理财；思想传统，具有家庭观念，常会举办家庭庆典及传统的特殊活动</p>
<p>对于改变以及新环境常会表现出不适；极度厌恶冲突和批评；需要他人大量的正面肯定来获取自我满足；有可能过分注重权力地位，关注别人对自己的看法；很难接受感情的终结，并总会将罪错全部归到自己身上；很难接受自己身边亲密的人有任何负面问题；对于自己需求的关注不足，常会做出自我牺牲；有可能会运用阴谋操纵来达到自己的目的</p>
<h3>ESFJ型爱人</h3>
<p>ESFJ对于自己的爱人总会特别关心和照顾。他们往往非常传统，对于承诺十分认真。一旦ESFJ说出“我愿意”这三个字，他们就绝对会花大量的时间和精力来实现他们对于这段感情的承诺。</p>
<p>ESFJ们希望别人能够欣赏真正的自己，同时感激自己为别人所做出的努力。这种对于认可的需要有时会让他们变得极端渴求情绪上的满足。如果渴求难以满足，他们还可能不断地暗示爱人以寻求对自己的认可。ESFJ特别无法忍受矛盾或批评。任何形式的批评对他们而言都是对自己人格的侮辱。这个潜在问题是ESFJ需要注意的。在面对他人负面评价，或者缺受别人的正面认同时，ESFJ通常会表现得失落并开始自暴自弃。作为ESFJ的爱人，感恩的心是对他们最好的礼物。</p>
<p>ESFJ对于社会地位以及“他人的看法”十分关注。他们应该注意不要让这种情绪影响他们的感情。</p>
<p>在性方面，ESFJ们热情且钟情。他们视性爱作为表达自己的爱以及接收对方爱意的机会。许多ESFJ们倾向于传统的，有规律的性爱。然而，随着他们知识以及相关信息的积累，这种定式终将被打破。ESFJ具有极强的服务观，他们会十分注重让自己的另一半感到愉悦。</p>
<p>ESFJ们脚踏实地，因此极其擅长于家庭管理方面的事务。对于家人的日常所需他们通常非常有责任心，在财务方面他们也总是小心谨慎。他们喜欢安全平静的生活，并会为实现自己，伴侣和家人的目标而不懈努力。</p>
<p>大多数ESFJ非常需要归属感。这种需求常会让他们极具社交才华，乐于参加派对，也会不时举行一些聚会。他们通常希望自己的伴侣能够分享自己的社交体验。</p>
<p>虽然说任何性格类型的两个个体，只要性格发展完整都可以拥有一段健康的恋情。但是，与ESFJ更合适的天生伴侣为ISFP、ISFJ或INFP型性格。ESFJ的主导官能“外向情感”与这两种性格类型的主导官能“内向情感”最为匹配。</p>
<h3>结束语</h3>
<p>无论做什么，你都需要勇气。</p>
{% endblock %}
