{% extends "mbti/personalities/base.html" %}
{% block title %}ESFP{% endblock %}

{% block type %}ESFP{% endblock %}
{% block subline %}表演者型人格{% endblock %}

{% block article %}
<h3>特点概况</h3>
<p>ESFP型的人乐意与人相处，有一种真正的生活热情。他们顽皮活泼，通过真诚和玩笑使别人感到事情更加有趣。 ESFP型的人脾气随和、适应性强，热情友好和慷慨大方。他们擅长交际，常常是别人的“注意中心”。他们热情而乐于合作地参加各种活动和节目，而且通常立刻能应对几种活动。</p>
<p>外向，友善，包容。热爱生活、人类和物质上的享受。喜欢与别人共事。在工作上，讲究常识和实用性，注意现实的情况，使工作富趣味性。富灵活性、即兴性，自然不做作，易接受新朋友和适应新环境。与别人一起学习新技能可以达到最佳的学习效果。</p>
<p>ESFP型的人是现实的观察者，他们按照事物的本身去对待并接受它们。他们往往信任自己能够听到、闻到、触摸和看到的事物，而不是依赖于理论上的解释。因为他们喜欢具体的事实，对于细节有很好的记忆力，所以他们能从亲身的经历中学到最好的东西。共同的感觉给予他们与人和物相处的实际能力。他们喜欢收集信息，从中观察可能自然出现的解决方法。 ESFP型的人对于自我和他人都能容忍和接受，往往不会试图把自己的愿望强加于他人。ESFP型的人通融和有同情心，通常许多人都真心地喜欢他们。他们能够让别人采纳他们的建议，所以他们很擅于帮助冲突的各方重归于好。他们寻求他人的陪伴，是很好的交淡者。他们乐于帮助旁人，偏好以真实有形的方式给予协助。ESFP型的人天真率直，很有魅力和说服力。他们喜欢意料不到的事情，喜欢寻找给他人带来愉快和意外惊喜的方法。</p>
<p>ESFP类型的人灵活、忍耐力强，实际，注重结果。觉得理论和抽象的解释非常无趣。喜欢积极地采取行动解决问题。注重当前，自然不做作，享受和他人在一起的时刻。喜欢物质享受和时尚。学习新事物最有效的方式是通过亲身感受和 练习。</p>
<h3>基本描述</h3>
<p>表演者型——不间断地尝试新的挑战</p>
<p>你喜欢娱乐大众，尽其所有地带给他们(和你自己)最多的爱、欢笑和热情。作为一位表演者型，你渴望聚光灯，同时享受着和所有你那个欢乐圈子的人们往来、打交道。最不快乐的事情就是叫你一个人独处，但幸运地，你并不常落单。对于真正的表演者型而言，生活是一场永不停止的狂欢聚会。</p>
<h3>可能的盲点</h3>
<p>由于你关注外界各种变化信息，喜欢处理紧急情况，不愿意制订规划去预防紧急情况的发生。常常一次着手许多事情，超出自己的负荷，不能履行诺言，可能使周围的人陷入混乱。你需要试着找到一些能让自己按时完成任务的方法。</p>
<p>你的注意力完全集中在有趣的活动上，喜欢不断地接受新的挑战，不愿意在沉闷的工作中消磨时间，难以估计自己行为带来的结果。你需要为自己订立一个行为标准。当情况环境转变时，你很容易忽视他人的情感，变得迟钝和鲁莽。</p>
<h3>工作中的优势</h3>
<p>敏锐的观察力，对实际讯息的出色记忆力；明白该做什么，明白现实的对待完成工作的必要条件；在发动和促进项目时的愉快；精力充沛，工作时充满活力；随机应变的能力；能够使工作有趣和兴奋；参加团队工作的乐趣；实际、现实的观察力和丰富的常识；逐步上升的方式，你在工作中创造生动有趣的气氛；适应力，愿意冒险和尝试新事物；愿意接受不同和跟随潮流；有稳定平和的心态；有冲劲和闯劲，不患得患失</p>
<h3>工作中的劣势</h3>
<p>很难独自工作，尤其是长时间；不喜欢事先准备，在组织时间上有困难；对别人的感觉迟钝、麻木，或对别人的感觉过于疏忽；无法看到一时不存在的机会和选择；缺乏耐心和/或无法忍受行政细节和手续；很难作决定和/或优先考虑计划；易冲动，易受诱惑或迷惑；难以看到事情的长远影响；不喜欢过多的规矩和条条框框的官僚作风；抵抗制定长远目标，难以达到最后期限；斗志不足，容易松懈,通常不愿付出过多的努力；在压力和挫折面前不够坚持</p>
<h3>岗位特质</h3>
<p>在一个没有太多的规则约束的环境中工作，完成自己的任务后可以享受自由的时间</p>
<p>工作可以使发挥你“救火”的能力，利用直接的经验，寻找解决问题的最佳方案</p>
<p>在工作中，接触真实的人和事务，进行有形产品的制造或服务，而不是理论和思想领域的</p>
<p>工作充满挑战，允许你用冒险的方式处理紧急情况</p>
<p>工作能发挥你敏锐的观察力、理解力以及对事实的记忆力</p>
<p>工作能让你结识各种不同的人，并能与讲究实际、充满活力的同事坦诚相处</p>
<h3>适合的职业</h3>
<p>多样性的服务领域，要求你在迅速改变的环境中快速思考/反应的服务领域可以满足你的好奇心和观察力，例如：警察、消防员、侦探、调查员、房地产经纪人、情报人员、稽查员、投资、保险经纪人、预算分析师等。</p>
<p>你喜欢冒险，喜欢有一定刺激，所以某些娱乐性的工作会带给你职业满足。例如：记者、旅游代理、摄像、主持人、演员、拍卖行业等。</p>
<p>你善于进行手工操作，这种操作可以带给你经济、技术的提高，且可以不断实践。例如：承包商、厨师、电器工程师、电信网络专家、后勤和供给人员、财务主管、运动生理学者、教师、园艺设计、摄影师、野外探险领导人。</p>
<p>那些过多约束的环境不是你需要考虑的工作环境，通常自由、多样化，能够提供冒险机会的工作对你更有适应性。例如：管理顾问、网络经销、汽车商人、特许经营、批发/零售商等。</p>
<h3>发展建议</h3>
<p>你成功的秘决在于： 全面审视现实情况，三思而后行；考虑别人的情感；分清事情的轻重缓急，作好计划，善始善终；需要抑制其独断而忽视他人感情的方面；需要在迅速决定之前，事先计划，考虑细节，三思而行；注意规划性，发展持之以恒；需要注意物质享受以外的东西；不要考虑在压力大的环境中工作在；适合的时候，主动承担一些工作对你的发展更有利；尽量思考成熟后再采取行动，碰到困难时，你需要坚持</p>
{% endblock %}
