{% extends "mbti/personalities/base.html" %}
{% block title %}ESTJ{% endblock %}

{% block type %}ESTJ{% endblock %}
{% block subline %}大男人型人格{% endblock %}

{% block article %}
<h3>特点概况</h3>
<p>ESTJ代表：E外倾+S感觉+T思维+J判断。ESTJ的人们友好直率，精力充沛；能力强，效率高，有条理；现实敏感，对新观念及未经证实的观念多抱有怀疑的态度；诚实率真；决策迅速，固执己见，保守，认真可靠。</p>
<h3>特点详解</h3>
<p>讲求实际，注重现实，注重事实。果断，很快作出实际可行的决定。善于将项目和人组织起来将事情完成，并尽可能以最有效率的方法达到目的。能够注意日常例行工作的细节。有一套清晰的逻辑标准，有系统性地遵循， 并希望他人也同样遵循。会以较强硬的态度去执行计划。</p>
<p>ESTJ型的人高效率地工作，自我负责，监督他人工作，合理分配和处置资源，主次分明，井井有条；能制定和遵守规则，多喜欢在制度健全、等级分明、比较稳定的企业工作；倾向于选择较为务实的业务，以有形产品为主 ；喜欢工作中带以态度取胜；不特别强调工作的行业或兴趣，多以职业角度看待每一份工作。ESTJ型的人很善于完成任务；他们喜欢操纵局势和促使事情发生；他们具有责任感，信守他们的 承诺。他们喜欢条理性并且能记住和组织安排许多细节。他们及时和尽可能高效率地、系统地开始达到目标。ESTJ型的人被迫做决定。他们常常以自己过去的经历为基础得出结论。他们很客观，有条理性和分析能力，以及 很强的推理能力。事实上，除了符合逻辑外，其他没有什么可以使他们信服。同时，ESTJ型的人又很现实、有头脑、讲求实际。他们更感兴趣的是“真实的事物”，而不是诸如抽象的想法和理论等无形的东西。他们往往对那些认为没有实用价值的东西不感兴趣。他们知道自己周围将要发生的事情，而首要关心的则是目前。因为ESTJ型的人依照一套固定的规则生活，所以他们坚持不懈和值得依赖。他们往往很传统，有兴趣维护现存的制度。 虽然对于他们来说，感情生活和社会活动并不像生活的其他方面那样重要，但是对于亲情关系，他们却固守不变。他们不但能很轻松地判断别人，而且还是条理分明的纪律执行者。 ESTJ型的人直爽坦率，友善合群。通常他 们会很容易地了解事物，这是因为他们相信“你看到的便是你得到的”。对ESTJ类型的人来说，最重要的是做对事情，把握好事情的发展。ESTJ人做事讲究顺序和连续性。与他们外向的性格相一致的是，他们热心于对人的组织，即对人的监督管理。虽然他们喜欢根据自己的理论和战术性的议程组织和动员人员，他们还是愿意遵守一些"规则"，诸如传统惯例和上级命令等。</p>
<p>ESTJ人是合群的。他们在俱乐部、文化团体、教堂和其他服务机构中寻找志同道合的人为伴。同所有其他SJ类型的人一样，他们也追求归属感。因此，家庭生活是ESTJ人极其关注的事，参加婚礼、葬礼以及家庭联欢会都是他们必不可少的活动。</p>
<p>对ESTJ人来说，传统很重要。假日、生日、节日都是他们铭记着并必定会隆重地庆祝的。ESTJ人喜欢追根溯源，将家产追溯到他们尊敬的祖宗，既表达了他们对家族的尊重，又找到了归属感。</p>
<p>提供服务------- 实质即为负责任的体现------- 是ESTJ人另一关注的事。他们喜欢提供和接受优质的服务。那些提供了可靠服务的ESTJ商人大大地提高了自己的形象。</p>
<p>ESTJ人推崇职业道德。他们认为工作中应努力取得权利、职位和声望。懒惰是不会为他们接受，更不会赞赏的。ESTJ人坦率直言，有原则；只要他们认为是正确的，即使面对势不可挡的强势，他们也敢站出来说话。</p>
<h3>适合领域</h3>
<p>ESTJ常常会是政治掮客，或者那些在幕后操纵一切的政治家。他们可能是那些控制美国金融王朝的“强盗资本家”(robber baron,19世纪后期美国的工业或金融界巨头之一，靠利用令人怀疑的手段对股市进行操纵和剥削劳工等不道德的手段发财-译者注)。他们信奉的是黑手党的哲学:"我的地盘，我的人。"他们是地狱的天使，是工会的领导人，是那种置于死地而后生的人。他们意志坚定但心地温和。他们是一手掌握控制权，一手把持公平原则的企业领导。他们是分户出售公寓的地产开发商，带头为无家可归者提供住房。</p>
<h3>适合职业</h3>
<p>公司首席执行官、军官、预算分析师、药剂师、房地产经纪人、保险经纪人、教师（贸易/工商类）、物业管理、银行官员、项目经理、数据库经理、信息总监、后勤与供应经理、业务运作顾问、证券经纪人、电脑分析人员、保险代理、普通承包商、工厂主管、大中型外资企业员工、业务经理、中层经理（多分布在财务、营运、物流采购、销售管理、项目管理、工厂管理、人事行政部门）、职业经理人、各类中小型企业主管和业主</p>
<h3>卓越领导</h3>
<p>若你是一个大男人型，你在众人之间是一个卓越同时受尊重的个体，因为你能够在不引起众人骚动的状况下，把你心中的话表达出来。当然，那些尊重你的人也许会觉得恐惧，因为他们看不到你温柔的一面：只为了值得的人才付出的忠诚，也就是你为了支持和保护你的朋友、家庭和国家所奉献的一切忠诚。当你恋爱时对你而言，爱情是一件必须严肃看待的付出过程。一旦你对对方付出一切，你就已经决定了要和那个人共度余生。你也是那种喜欢控制生活中每件事情的人，包括爱情生活。你很有可能是那个负责计划大部分约会的人(除非你和一个同样强势的陆军元帅型或大男人型交往)，也是那个在婚后负责家事的人。由于你习惯直接的方式，可能会无意间伤害了你伴侣的感受。这种状况尤其会发生在当你的伴侣是其中一个感觉型的恋爱类型时。纵然如此，你并不认为你那直言不讳的语气是一段感情的障碍，你也无意要伤害对方。你只是以一种现实的方式和另一半交往，你希望打破那些繁文缛节，让双方可以共创一段成功感情、婚姻和家庭生活。</p>
<p>若你是一个女性大男人型，你可以在任何地方、任何时候认识男人，但很多男人似乎都被你的直接态度吓跑。不管到哪里，总是遇到那种容易受惊吓的男人，他们无法看穿你“强悍”外表下温柔的内在。你最明智的选择是男性大男人型或是陆军元帅型(ENTJ)，只要他在直觉偏向上不会太强烈。若你的陆军元帅型是一个很强烈的直觉型，他也许会渐渐对你的务实面感到厌烦，而你最终有可能会因他疯狂的计划和设计抓狂。你和这两种男人其中一种交往的优点是，你可以因此享受一个高水准的生活。他们两人都可能受过良好教育，同时正在往成功的路径快速前进。缺点是，你有可能和另一半彼此竞争或相互较劲。一场思想的角力战也许会被引爆，以决定你们当中哪个才是最有成就的。</p>
{% endblock %}
