{% extends "mbti/personalities/base.html" %}
{% block title %}ESTP{% endblock %}

{% block type %}ESTP{% endblock %}
{% block subline %}挑战者型人格{% endblock %}

{% block article %}
<h3>特点概况</h3>
<p>1.灵活、忍耐力强，实际，注重结果。</p>
<p>2.觉得理论和抽象的解释非常无趣。——并非所有人如此</p>
<p>3.喜欢积极地采取行动解决问题。</p>
<p>4.注重当前，自然不做作，享受和他人在一起的时刻。</p>
<p>5.喜欢物质享受和时尚。</p>
<p>6.学习新事物最有效的方式是通过亲身感受和练习。</p>
<h3>特点详解</h3>
<p>1.ESTP型的人不会焦虑，因为他们是快乐的。</p>
<p>2.ESTP型的人活跃、随遇而安、天真率直。他们乐于享受现在的一切而不是为将来计划什么。</p>
<p>3.ESTP型的人很现实，他们信任和依赖于自己对这个世界的感受。他们是好奇而热心的观察者。因为他们接受现在的一切，所以他们思维开阔，能够容忍自我和他人。</p>
<p>4.ESTP型的人喜欢处理、分解与恢复原状的真实事物。</p>
<p>5.ESTP型的人喜欢行动而不是漫谈，当问题出现时，他们乐于去处理。他们是优秀的解决问题的人，这是因为他们能够掌握必要的事实情况，然后找到符合逻辑的明智的解决途径，而无需浪费大量的努力或精力。</p>
<p>6.ESTP型的人会成为适宜外交谈判的人，他们乐于尝试非传统的方法，而且常常能够说服别人给他们一个妥协的机会。</p>
<p>7.ESTP型的人能够理解晦涩的原则，在符合逻辑的基础上，而不是基于他们对事物的感受之上做出决定。因此，他们讲求实效，在情况必须时非常强硬。</p>
<p>8.ESTP型的人在大多数的社交场合中，很友善，富有魅力、轻松自如而受 人欢迎。在任何有他们的场合中，他们总是爽直、多才多艺和有趣，总有没完没了的笑话和故事。他们善于通过缓和气氛以及使冲突的双方相互协调，从而化解紧张的局势</p>
<h3>基本描述</h3>
<p>你是敏锐的发现者，善于看出眼前的需要，并迅速做出反应来满足这种需要，天生爱揽事并寻求满意的解决办法。你精力充沛，积极解决问题，很少被规则或标准程式框住。能够想出容易的办法去解决难办的事情，以此使自己的工作变得愉快。</p>
<p>你天生的乐天派，积极活跃，随遇而安，乐于享受今天。对提供新经验的任何事物、活动、食物、服饰、人等都感兴趣，只愿享受今天，享受现在。</p>
<p>你好奇心强，思路开扩，容易接受事物，倾向于通过逻辑分析和推理做出决定，不会感情用事。如果形势需要，你会表现出坚韧的意志力。偏爱灵活地处理实际情况，而不是根据计划办事。</p>
<p>你长于行动，而非言语，喜欢处理各种事情，喜欢探求新方法。你具有创造性和适应性，有发明的才智和谋略，能够有效地缓解紧张氛，并使矛盾双方重归于好。</p>
<p>你性格外向，友好而迷人，很受欢迎，并且能在大多数社会情况中很放松自如。</p>
<h3>可能的盲点</h3>
<p>由于你关注外界各种变化信息，喜欢处理紧急情况，不愿意制订规划去预防紧急情况的发生。常常一次着手许多事情，超出自己的负荷，不能履行诺言，可能使周围的人陷入混乱。你需要试着找到一些能让自己按时完成任务的方法。</p>
<p>你的注意力完全集中在有趣的活动上，喜欢不断地接受新的挑战，不愿意在目前沉闷的工作中消磨时间，难以估计自己行为带来的结果。你需要为自己订立一个行为标准。</p>
<p>当情况环境转变时，你很容易忽视他人的情感，变得迟钝和鲁莽。</p>
<h3>优势</h3>
<p>敏锐的观察力，对实际讯息的出色记忆力、明白该做什么，明白现实的对待完成工作的必要条件、在发动和促进项目时的愉快、精力充沛，工作时充满活力、随机应变的能力、能够使工作有趣和兴奋、参加团队工作的乐趣、实际、现实的观察力和丰富的常识、逐步上升的方式，你在工作中创造生动有趣的气氛、适应力，愿意冒险和尝试新事物、愿意接受不同和跟随潮流、有稳定平和的心态、有冲劲和闯劲，不患得患失</p>
<h3>劣势</h3>
<p>很难独自工作，尤其是长时间、不喜欢事先准备，在组织时间上有困难、对别人的感觉迟钝、麻木，或对别人的感觉过于疏忽、无法看到一时不存在的机会和选择、缺乏耐心和/或无法忍受行政细节和手续、很难作决定和/或优先考虑计划、易冲动，易受诱惑或迷惑、难以看到事情的长远影响、不喜欢过多的规矩和条条框框的官僚作风、抵抗制定长远目标，难以达到最后期限、斗志不足，容易松懈,通常不愿付出过多的努力、在压力和挫折面前不够坚持</p>
<h3>岗位特质</h3>
<p>在一个没有太多的规则约束的环境中工作，完成自己的任务后可以享受自由的时间；工作可以使发挥你“救火”的能力，利用直接的经验，寻找解决问题的最佳方案；在工作中，接触真实的人和事务，进行有形产品的制造或服务，而不是理论和思想领域的；工作充满挑战，允许你用冒险的方式处理紧急情况；工作能发挥你敏锐的观察力、理解力以及对事实的记忆力；工作能让你结识各种不同的人，并能与讲究实际、充满活力的同事坦诚相处</p>
<h3>适合职业</h3>
<p>多样性的服务领域，要求你在迅速改变的环境中快速思考/反应的服务领域可以满足你的好奇心和观察力。</p>
<p>例如：警察、消防员、侦探、调查员、房地产经纪人、情报人员、稽查员、投资、保险经纪人、预算分析师等。</p>
<p>你喜欢冒险，喜欢有一定刺激，所以某些娱乐性的工作会带给你职业满足。</p>
<p>例如：记者、旅游代理、摄像、主持人、演员、拍卖行业等。</p>
<p>你善于进行手工操作，这种操作可以带给你经济、技术的提高，且可以不断实践。</p>
<p>例如：承包商、厨师、电器工程师、电信网络专家、后勤和供给人员、财务主管、运动生理学者、教师、园艺设计、摄影师、野外探险领导人。</p>
<p>那些过多约束的环境不是你需要考虑的工作环境，通常自由、多样化，能够提供冒险机会的工作对你更有适应性。</p>
<p>例如：管理顾问、网络经销、汽车商人、特许经营、批发/零售商等。</p>
<h3>建议</h3>
<p>你成功的秘决在于： 全面审视现实情况，三思而后行、考虑别人的情感、分清事情的轻重缓急，作好计划，善始善终。需要抑制其独断而忽视他人感情的方面、需要在迅速决定之前，事先计划，考虑细节，三思而行、注意规划性，发展持之以恒、需要注意物质享受以外的东西、目前不要考虑在压力大的环境中工作、在适合的时候，主动承担一些工作对你的发展更有利、尽量思考成熟后再采取行动，碰到困难时，你需要坚持</p>
<h3>分析报告</h3>
<p>你对组织的社会性要求高，你非常喜欢那些经常有外出机会，果断和行动导向的企业文化。你非常希望每天能与许多人接触，愿意积极的建立起广泛的社会关系网，建立起新的商业机会。工作可以直接与客户打交道，如销售人员，商业拓展人员等。自信、有挑战性，发现或创造新的市场机会，有这样工作空间的环境适合你。</p>
<p>你对结构松散，不要求很高的精确度和不强调细节的组织更喜欢。你喜欢自己设定目标和工作的完成期限，并且有权力决定自己的工作方式（例如自我设定工作时间表）工作中你更相信你的直觉，而不是精细的计划和安排。以人为本，互动性强和高度自主的文化对你都很合适。</p>
<p>你更倾向于那些忙碌的、注重实际操作的企业文化，用现有经过检验的方法处理事务。你崇尚经过时间检验的能力的有效性和可预测性。你不会从事风险极大的事情。你更欣赏按照传统方法按规定做事，不计时间代价的企业。你喜欢企业有明确目标、清晰的商业战略，并且能够进可能有效和始终如一执行这些策略的企业文化。</p>
<p>你把竞争和人员间的不同意见看成是创新和商业成功的驱动力。你喜欢鼓励讨论、争论、坦诚交流的企业文化，与其他人相比你也许会与你的同事保持相对较远的关系。你在生机盎然和进取的企业文化里工作状态最好。</p>
{% endblock %}
