

http://tympanus.net/Tutorials/ShapeHoverEffectSVG/index2.html
                                <li><a href="personalities/istj">ISTJ</a></li>
                                <li><a href="personalities/isfj">ISFJ</a></li>
                                <li><a href="personalities/istp">ISTP</a></li>
                                <li><a href="personalities/isfp">ISFP</a></li>
                                <li><a href="personalities/intj">INTJ</a></li>
                                <li><a href="personalities/infj">INFJ</a></li>
                                <li><a href="personalities/intp">INTP</a></li>
                                <li><a href="personalities/infp">INFP</a></li>
                                <li><a href="personalities/entj">ENTJ</a></li>
                                <li><a href="personalities/enfj">ENFJ</a></li>
                                <li><a href="personalities/entp">ENTP</a></li>
                                <li><a href="personalities/enfp">ENFP</a></li>
                                <li><a href="personalities/estj">ESTJ</a></li>
                                <li><a href="personalities/esfj">ESFJ</a></li>
                                <li><a href="personalities/estp">ESTP</a></li>
                                <li><a href="personalities/esfp">ESFP</a></li>
