{% extends "mbti/personalities/base.html" %}
{% block title %}INFJ{% endblock %}

{% block type %}INFJ{% endblock %}
{% block subline %}理想主义型人格{% endblock %}

{% block article %}
<h3>概览</h3>
<p>INFJ，内倾、直觉、情感和判断，是一类劝告者的人。他们有较强的移情能力，能够获知别人的感情或意向，他们通常都是好学生。INFJ性格的人适合当医疗咨询服务，剧作家，艺术顾问，作家等。富有创造性和独创性，独立自主，细心周到，热情细腻；全球化的思想家有独特的洞察力，并有高涨的热情；细致谨慎，深思熟虑；有计划有组织，有生产能力的，有决策力的；有节制，有礼貌。属于理想者的四种类型之一。</p>
<h3>性格特点</h3>
<p>劝告者（INFJ） 寻求思想、关系、物质等之间的意义和联系。希望了解什么能够激励人，对人有很强的洞察力。有责任心，坚持自己的价值观。对于怎样更好的服务大众有清晰的远景。在对于目标的实现过程中有计划而且果断坚定。</p>
<p>INFJ型的人忠诚、坚定、富有理想 。他们珍视正直，十分坚定。因为他们的说服能力，以及对于什么对公共利益最有利有清楚的看法，所以 INFJ型的人会成为伟大的领导者。由于他们的贡献，他们通常会受到尊重或敬佩。因为珍视友谊 和和睦，INFJ型的人喜欢说服别人，使之相信他们的观点是正确的。通过运用嘉许和赞扬，而不是争吵和威胁，他们赢得了他人的合作。他们愿意毫无保留地激励同伴，避免争吵。</p>
<p>INFJ型的人生活在思想的世界里。他们是独立的、有独创性的思想家，具有强烈的感情、坚定的原则和正直的人性。即使面对怀疑，INFJ型的人仍相信自己的看法与决定。他们对自己的评价高于其他的一切，包括流行观点 和存在的权威，这种内在的观念激发着他们的积极性。通常INFJ型的人具有本能的洞察力，能够看到事物更深层的含义。即使他人无法分享他们的热情，但灵感对于他们重要而令人信服。</p>
<p>通常INFJ型的人是深思熟虑的决策者，他们觉得问题使人兴奋，在行动之前他们通常要仔细地考虑。他们喜欢每次全神贯注于一件事情，这会造成一段时期的专心致志。满怀热情与同情心，INFJ型的人强烈地渴望为他人的幸福做贡献。他们注意其他人的情感和利 益，能够很好地处理复杂的人。</p>
<p>INFJ型的人本身具有深厚复杂的性格，既敏感又热切。他们内向，很难被人了解，但是愿意同自己信任的人分享内在的自我。他们往往有一个交往深厚、持久的小规模的朋友圈，在合适的氛 围中能产生充分的个人热情和激情。</p>
<p>忠告属于指导方面的行为，目的是帮助人们认知其人性潜能，劝告者型人具有一种非比寻常的促成他人幸福安宁的强烈渴望，并真诚的喜欢引导他们的同伴，获得较大程度的个人实现。此类型的人，极为少见，不过占个人口的1%而已。从他们在社会中起到的作用来看，这是很不利的现象。虽然这些人，往往是比较隐秘且敏于理解的人，因而通常不是引人注目的领导者，但他们仍然热情地与周围的人们共事，在暗中默默地影响着其它家人、朋友和同事。这些喜欢蛰居的友善的人们，本身令人很难理解，他们能够理解和处理复杂的伦理问题及应对极度不安份的个人。</p>
<p>他们生性善于安排事物，习惯于选择训诫型的指导角色，而非提倡者的角色。而且，宁静矜持的个性决定了他们似乎更满足于劝告者的角色。</p>
<p>劝告者很难被人所了解，他们有着异常丰富的内涵，但矜持、不愿意与除他们所信赖的人之外的其他人分享自己的感觉。当然，他们与所爱的人在一起，会毫不做作的表现出自己的感受：容光焕发，表示他们愉快的情感；脸色阴沉，表示他们不悦。由于拥有体验他人情感的十足本能，劝告者可能相当容易地受到周围人的伤害。同时，与他们相知多年的朋友，也许为其多重性而意外，并非他们前后矛盾；相反，他们极其重视诚实的品性，但有着神秘的、复杂交织的个性，甚至有时连他们自己都感到困惑。</p>
<p>他能够获知别人的感情或意向，―――善良或者邪恶，甚至在个人所有意识之前。另外，他们能理解超自然现象的力量，即，预示和心力投入。他们因为丰富和生动的想象而常常被看做是所有类型中，最富有诗意、甚至神秘的人。他们往往选择文学艺术作为大学主科，他们在语言方面的优秀才能，致使他们通常以一种人性化的方式与人交流。</p>
<p>在学校里，他们通常都是好学生，显示朴素创造力的成就，享受解决难题带来的乐趣，严肃对待工作。他们在那种需要与人们相互施加影响的职业领域显得精力旺盛，为他们的个人发展提供养分。</p>
<p>虽然劝告者具有的才能比较适合那种需要孤独和密切注意的工作，他们与群体接触的时候也同样表现得十分优秀，而且是不流于形式的。他们与人相处时，习惯于高度敏感并有效的工作。他们乐于帮助别人解决难题，并能够创造性和善意的理解和使用人性规律。重视和睦的内部关系，并希望机构能平稳、令人愉快的运转，并尽其所能的去实现这个目标。他们喜欢取悦别人，并认为冲突是令人不愉快的和具有破坏性的。他们会善意的赞美别人，欣赏和激励他人，是他们的一种方式。如果遭遇到不利的工作条件或批评时，他们会变得郁郁寡欢，最终导致身体疾病。</p>
<p>此外约有四成的INFJ人士智商皆超过130。他们很难被理解，神秘、高度复杂，有时候连他们自己都会被自己弄糊涂。他们的世界十分有秩序，但是却以一种复杂的方式安排布置，只有他们自己能理解。</p>
<p>INFJ是最稀少的类型之一，大概占人口的1%-3%</p>
<p>寻求思想、关系、物质等之间的意义和联系。希望了解什么能够激励人，对人有很强的洞察力。有责任心，坚持自己的价值观。对于怎样更好的服务大众有清晰的远景。在对于目标的实现过程中有计划而且果断坚定。</p>
<p>INFJ型的人生活在思想的世界里。他们是独立的、有独创性的思想家，具有强烈的感情、坚定的原则和正直的人性。即使面对怀疑，INFJ型的人仍相信自己的看法与决定。他们对自己的评价高于其他的一切，包括流行观点 和存在的权威，这种内在的观念激发着他们的积极性。通常INFJ型的人具有本能的洞察力，能够看到事物更深层的含义。即使他人无法分享他们的热情，但灵感对于他们重要而令人信服。INFJ型的人忠诚、坚定、富有理想 。他们珍视正直，十分坚定以至达到倔强的地步。因为他们的说服能力，以及对于什么对公共利益最有利有清楚的看法，所以INFJ型的人会成为伟大的领导者。由于他们的贡献，他们通常会受到尊重或敬佩。因为珍视友谊和和睦，INFJ型的人喜欢说服别人，使之相信他们的观点是正确的。通过运用嘉许和赞扬，而不是争吵和威胁，他们赢得了他人的合作。他们愿意毫无保留地激励同伴，避免争吵。通常INFJ型的人是深思熟虑的决策者，他们觉得问题使人兴奋，在行动之前他们通常要仔细地考虑。他们喜欢每次全神贯注于一件事情，这会造成一段时期的专心致志。满怀热情与同情心，INFJ型的人强烈地渴望为他人的幸福做贡献。他们注意其他人的情感和利益，能够很好地处理复杂的人。INFJ型的人本身具有深厚复杂的性格，既敏感又热切。他们内向，很难被人了解，但是愿意同自己信任的人分享内在的自我。他们往往有一个交往深厚、持久的小规模的朋友圈，在合适的氛围中能产生充分的个人热情和激情。</p>
<h3>适合的职业</h3>
<p>特殊教育教师、建筑设计师、培训经理/培训师、职业指导顾问、心理咨询师、网站编辑、超自然作家、仲裁人、人力资源经理、事业发展顾问、营销人员、企业组织发展顾问、职位分析人员、媒体特约规划师、编辑/艺术指导（杂志）、口译人员、社会科学工作者、心理诊疗师、大学教师（人文学科、艺术类）、心理学、教育学、社会学、哲学及其它领域的研究人员、作家、诗人、剧作家、电影编剧、电影导演、画家、雕塑家、音乐家、艺术顾问、设计师</p>
<h3>适合的伴侣：发明家</h3>
<p>常常是一对完美的伴侣，劝告者，矜持、运筹帷幄、复杂、神秘，往往被内省和伦理问题困扰；而发明家，是外向、善于探索的。劝告者能从发明家那里获得相当大的解脱，发明家会从帮助这些墨守成规之人的过程中获得极大的满足，有时，也会在对事物的规划中，发现劝告者的精髓和存在意义。</p>
<h3>关于家庭</h3>
<p>这些说话温和的指导者们同样也希望家庭生活和谐，并认为人与人之间无论是公开的还是隐蔽的抵触情绪，都会对他们的幸福产生极大的破坏。他们的朋友圈子可能小，但是却深入且长久。他们是忠实的伴侣，或许不总是热衷于性接触。他们表达情感的方式，往往很微妙，并注重场合。作为父母，他们是尽职的。某些劝告者女性，会和子女一种精神协作关系，这种颇为固定的关系对父母和孩子来说都不是很健康。但是，更多的劝告者，是子女的朋友，在异常慈爱的同时，也会对他们严格约束。他们是关心配偶和孩子的典型人物。</p>
<h3>关于领导</h3>
<p>他们是最不引人注目的指导者，这些安静而敏感的人，热情洋溢地与他们的当事人打交道，影响他人的成长。他们对于他人的需要和能力，有种不可思议的认知力，并促使他人去探索自身才能。他们很稀少，且不可能毛遂自荐，因而，在一个机构中显得很难得，但作用却是不可忽视的。</p>
<p>对INFJ类型的人来说，最重要的是能忠实于自己的预见。在恬静的外表下，他们对人生重要大事有着更深的信仰。积极分子们（INFJ人有这种倾向）不是为了个人的辉煌或政治权利而工作，而是为了自己的事业而战！</p>
<p>没有谁会比他们经历更多的压迫和蹂躏。在紧急事件的发生现场经常能看到他们奔走急救的身影。INFJ人身上正体现了一种"诗节正义"的观念。</p>
<p>INFJ人是不容易受人牵制的，他们在任何时候都不易被愚弄欺骗。虽然INFJ人很通情达理，并富有同情心，但是他们对朋友却是很挑剔的，这种友谊是以相互间的利益为基础的。</p>
<p>INFJ人对语言的熟练表达和交际的才能有自己的诀窍，再加上INFJ人的那种无需过多言语表达的敏感性使得他们能与人们很好的交往。当然，在写作，咨询，公共关系甚至政治领域都有INFJ人的一席之地。</p>
<h3>爱情</h3>
<p>INFJ热情且对他人具有认同感，同时，他们也非常地深沉。他们寻求并增进热切并有意义的情感关系。他们有完美主义者的倾向，并总是在争取最根本的情感关系。在多数情况下，这是积极地特点，但有时却对INFJ不利，他们可能因此养成从一段关系转向另一段关系的坏习惯，总是处在寻找更为完美的伴侣状态中。总的来说，INFJ是一个非常温和并且关心他人的人，他们在维持亲密关系的健康上投入很多，为保持自己的积极态度付出巨大努力。因为这些特殊的品质，他们赢得与他们亲密的人的尊重。他们寻求长久的，一生的情感关系，尽管他们并不总能找到。</p>
<p>INFJ在感情中的优点：天生热情，且对他人具有认同感，为追求真挚的感情不顾一切，敏感且关心他人的感受，通常具有良好的沟通技巧，尤其是书面的对承诺非常认真，并寻求终生关系，对自己和他人有非常高的期许（既是优点也是弱点），良好的倾听者，能很快从已经结束的关系中恢复（一旦他们确信已经结束了）。</p>
<p>INFJ在感情中的弱点：倾向于保留部分的自我，对理财和实务类的日常事务不在行，极度厌恶争吵和批评，对自己和他人有非常高的期许（既是优点也是弱点），难以离开一段没结果的感情。</p>
<p>INFJ是热情、体贴的伴侣，他们对他们的伴侣怀有深沉的爱意。他们乐于表现这种爱，并希望从他们的伴侣那里得到肯定的回应。他们是完美主义者，总是在寻求完美爱情。有时这点可能会让他们的伴侣感到沮丧，他们的伴侣可能会感到成了INFJ高要求的完美主义的牺牲品。然而，这一点也会被极度赞赏，因为它献出了对感情的真挚承诺，以及一种其他类型的人通常不具备的深刻关怀。在性方面，INFJ将亲密看作是接近于精神层面的体验。他们珍视这种能与他们的伴侣从灵肉合一的机会。作为以服务为中心的人，他们的伴侣感到幸福对他们来说非常重要。亲密就是一个让INFJ无私地付出他们的爱的机会，也是一个能以明确的方式体验付出爱的机会。虽然说任何性格类型的两个个体，只要性格发展完整都可以拥有一段健康的恋情。但是，与INFJ更合适的天生伴侣为ENTP或ENFP型性格。INFJ的主导官能为“内向直觉”与这两种性格类型的主导官能“外向直觉”最为匹配。</p>
<h3>理想主义</h3>
<p><strong>语言―――抽象型</strong>　　适用于无法观察到的，仅仅依赖于想象力的事物，理想主义经常谈论那些仅凭想象力想像出来的事物。理想主义者的思想和语言天生具有归纳性，他们敏锐，由细节得出普遍性的概括，由事物的细微处了解它们的全部。</p>
<p>他们重视自身感觉，坚持认为“肯定知道”人们真正想要什么。说话常用隐喻，并且喜欢运用修饰性语言，喜欢夸张和形容。他们一方面忽视等级地位，另一方面又对于其他类型人的身体语言、面部表情等，有着高度的敏锐性。</p>
<p><strong>使用工具―――合作型</strong>　理想主义者看来，人们选择的工具和行动，需要为他人所接受，虽然有时候不若那些不被认可的工具有效。他们对那种过于冷漠、或一心一意追求效果的功利行为感到非常的困惑，担心人性善的那方面，因此而遗失。</p>
<p>理想主义者首先考虑的，总是培养满意的人际关系，他们的理想是帮助周围人们彼此间融洽相处，从而大家为了共同的利益而努力。</p>
<p>多数理想主义者对买卖行为缺乏兴趣，很多人会追求自然科学领域的事业。他们通常会选择同语言文字打交道，并希望直接或间接的与他人交流。理想主义者非常容易被文学作品所感染，并倾向于以这种天生的易感性来解释它，喜欢任何形式的虚构性描述――故事、诗文、传说、神话，都能让他们感到快乐和力量。</p>
<p>理想主义者并不局限于对文学的研究上，理想主义者高度集中在社会科学领域。尤其是精神康复方面，他们能够在精神健康服务方面得到极大的满足，习惯于选择其中最人道主义的方法，提供服务咨询。</p>
<p>他们不惜任何努力使人们具备良好的自我感觉，并热心于道德、对正误的判断，而不是培养一种积极的自我形象。理想主义者和护卫者型的人都是道德守卫者，但前者关心的是幸福，后者关心的是正义。</p>
<p>他们在工作中，有个非常特殊的天赋：征募、训练、部属、发展和忠告等方面。他们擅长对他人的成长和成熟过程产生影响。他们不把教育看作训练和求证的过程，而是一种对个人关系的邀请。形成人际关系，对他们来说至关重要，然而，过多的干预他人的事情，可能会让人生厌。而且，过多的复杂人际关系，容易造成精神负载过重。</p>
<h3>人格定位</h3>
<p><strong>对待现在―――利他的</strong>　利他主义主张，自私自利是不道德的，而为他人服务是高尚的，最大的幸福源于无私的为他人奉献，即自我牺牲。他们会全身心的帮助别人，当然，他们渴望一种“自我实现”的效果。</p>
<p><strong>对待未来―――轻信的</strong> 他们轻易且毫无保留的相信事物，与多疑的理性者形成鲜明对比，习惯于相信别人的理想主义者非常纯洁。 </p>
<p><strong>对待过去―――神秘的</strong>　 他们试图和生活中的困难达成妥协，觉得意外事故是令人困惑和无法解释的，并且不能够通过任何理性的分析来解释。他们勇敢的接受这样的想法：事情的结果和原因是无法被认识和用语言描述的。</p>
<p><strong>生活的地点―――小径</strong>　 他们满足于行进中，引导他们探索生存意义，将他们带向更高层次的小径上。</p>
<p><strong>生活的时间―――明天</strong>　 他们是未来之人，关注即将发生的事情甚于现实生活。</p>
<h3>价值观</h3>
<p>理想主义者非常容易动情，即感情来得快去的也快。幸运的是，他们倾向于积极的一面，因而他们的感情往往表现为极大的热情。理想主义者信赖直觉的力量，凭第一印象而无需印证。毫无保留的信赖直觉，他们会将别人的感受，带到自己的感受区，想要感同身受，以此来拉进距离。他们都是坚定不移的浪漫者，他们在各个方面都渴望浪漫，如果没有，他们会去培养。他们投入自己大量的时间，来追求他们自己的本体、人性的意义，以此来表达真实的自我，将这个视为生命中最重要的事业。为了使他们感到赏识，我们必须面对他们，在他们表情达意时“迎合他们的世界观”。他们常常被人误解，或迫于社会现实而扮演角色的错误。他们所关心的人对他们的赞誉，对他们而言是非常重要的，一旦出现，就令他们感到满足。圣人是理想主义者最崇敬的角色典型，即努力克服物质的、世俗的牵挂、渴望生命的贤明见解之男女。</p>
<h3>精神伴侣</h3>
<p>理想主义者是所有类型中，处理婚姻问题非常不同的一类。其他类型的人，对婚姻抱着实用的态度，他们认为伴侣会犯错，也伴随着妥协。而理想主义者则相反，他们会以空想主义的态度选择爱人，更经常要求伴侣和婚姻的浪漫活动。他们要求的是神秘而意味深长的的婚姻关系，还试图在其不存在的情况下加以创造。</p>
<h3>择偶</h3>
<p>理想主义者型的人，通常不会给某人做出承诺，而宁愿一次同某一个人谈情说爱以探测发展特殊亲密关系的可能性。他们不喜欢随随便便或临时性的应付约会，而独具特色的期待着过去的肤浅关系能够变得深刻。他们喜欢谈论曾经深深感动过他们的电影或小说，但是倾向于谈论故事中所揭示的深刻涵义，而不是单纯的描述情节。这种以想象力及意味深长的交往方式，自由自在的同人交流的能力，往往决定了理想主义者能否认真对待一段特定的恋爱关系。</p>
<p>理想主义者很难发现他们所期待的那种能与之分享内心世界的人，它是一个反复试验的过程，需要仔细的寻觅。对理想主义者而言，与某人谈恋爱，不仅仅意味着肉体上的欢愉或社交体验，而是向另一个人敞开心扉的过程。某种程度上，还是自身灵魂的袒露，包含着对深怀敬意和相互理解的承诺和期待。</p>
<p>因而，他们对拒绝高度敏感，当对方表露蔑视，他们不得不主动断了恋情，感情上的破裂带给他们的伤害是很大的。以至于他们有时会因恐惧而避免和他人纠缠难分，或者走向另一个极端，即违心的保持一段恋情，只是为了推迟分手时所必须经历的精神伤害。</p>
<p>然而，一旦这个特殊的人出现，理想主义者就会激动不已，并全力以赴的追求这种恋爱关系。对于理想主义者来说，不仅是一桩美满的婚姻，而且还是一种异常强烈的、永恒的情感即将到来。他们会不吝啬的付出努力或想象力，不仅以浪漫的举止作为标志，还包括他们对爱情的理想化。</p>
<p>理想主义者能够从最细微的迹象中体察出他们热恋之人内在的多情和诗般感受，并相信每个人都具有精神增长的潜能，且意欲用爱去挖掘伴侣这方面的潜能。或许理想主义者并不愿意承认，这些浪漫的设想，往往具有强烈的性爱冲动，并且成为一种困扰。理想主义者的性感受可能会有很大的差异，一方面，他们坚持认为性行为必须是爱的表达，而不是欲望；另一方面，他们在自己建立的理想世界里，却非常热情，极易受到美丽躯体和性感的触动。</p>
<p>一旦两个人结合，理想主义者会感到无上的幸福。但是，期待比结合本身更吸引他们，日常生活的现实，失去了神秘的色彩，出现了平凡和欠缺。其他类型的人，当然也会觉得生活中存在差异，但是，他们却会通过调整、旅行、和努力，来转化这种差异。但是，男性理想主义者在这方面最为脆弱，他们往往倾向于去寻找一位新的情人，而非付出努力以发展现有的恋情。女性理想主义者则不会，相反，她们会变得越来越投入，继续让关系浪漫化，并深信它的完美性。对于男性理想主义者而言，亲密可能导致不稳定；而对于女性来说，则是不可或缺的一部分。</p>
<p>但，值得注意的是，19世纪60、70年代，或许是源于女性理想主义者对更为完美的婚姻关系的想象力。性解放的先锋组织中的大多数成员是女性理想主义者（特别是奋斗者），她们并不是随时准备着情愿为爱牺牲，而是宁愿为发现与男性相处的更满意方式的可能性而生存。</p>
<p>但是，多数理想主义者并不把婚姻的社会习俗看得比他们的个人承诺重要。因此，当他们确信已与对方进行了更深层次的结合、并且彼此交换了誓言，便认定他们已经完婚。而结婚仪式和理解，成为一种不必要的负担，并可能在神坛旁，显得慌乱、一脸的茫然，直到事后与配偶单独在一起时才会恢复正常。</p>
<p>这些理想主义者热情、大方、活泼、多情，自身谨慎而对人际关系敏感，非常吸引其它气质类型的人。艺术创造者觉得他们独具匠心运用的浪漫感觉很亲切，并能由于理想主义者在婚姻中注入的合乎伦理的成分而得到道德升华；护卫者对理想主义者表现出来的道德上谨慎，会感到有安全感，并从他们的投入中感受到一些朝气；但，对理想主义者最感兴趣的，却是理性者，不仅因为他们的共同点，更因为理想主义者的情感活力，以及他们对人类的洞察力，这些，都是理性者所缺乏的。</p>
<h3>婚姻</h3>
<p>无论与那种人格气质的人结婚，他们都可能始终爱恋、支持和理解着他们的妻子或丈夫。理想主义者在情感世界里是无与伦比的，为婚姻生活增添了他们对配偶情绪与感受的非凡敏感以及卓越的情感交流能力。他们敏锐的关注着他人的体验，本能的对配偶表示同情，并且不愿意利用那一刻指出配偶所犯的错误，而这一点，往往是其它气质的人无法做到的。</p>
<p>理想主义者往往精通赞赏的艺术，他们习惯于向自己的爱人慷慨地表达衷心的赞许。无疑，理想主义者是最深情、专注、挚爱和富于欣赏力的配偶，并且会毫无保留的表达这些感情。</p>
<p>他们具有彻底投入别人精神世界的能力，以至于对方具有一种得到他们完全理解和接受的感觉。他们认为，建立亲密、爱恋的关系是世界上做得最为自然的事情，他们是性爱艺术的真正大师。尽管有时候这种敏感要付出代价，且当情感受到限制时，他们会烦乱，他们从配偶那里得到的感情，总是超出他们的承受能力。</p>
<p>此外，他们还受到配偶情感依赖的烦扰，尽管有时候他们的举动鼓励了这些依赖性的产生。如果他们的配偶开始显示出脆弱和很强的依赖性，虽然这些是他们曾经承诺过的，但是，理想主义者仍然会厌恶这种压力。原来被他们认为独特的爱人，现在有种被他们明显否定的感觉，并非他们有意刻薄，而是想逃避自己不再可能控制的婚姻而已。</p>
<p>理想主义者难以逃避事业的召唤以给自己的家人留出时间，学不会任何从复杂的事务中脱身，以保障家人占据他们生活中的首要地位。那些不会安排事务轻重缓急的理想主义者们，受到诱惑而不断的移情别恋，不惜放弃已有爱情的深化，而把精力用于追求新的恋情。但是，大部分的理想主义者型的人会因发展专一的爱情而获得极大的满足。他们注重培养婚姻中的浪漫情调，拥有情人和伴侣的双重身份。但是，在婚姻初期的性爱，会让理想主义者感到失望，因为他们在这方面让人惊讶的单纯，而且，往往是热情有余技巧不足，并且不愿意再去尝试其它的方法。</p>
<p>理想主义者一般都擅长社交活动，外向型的，在社交上很活跃；而内向的人，则倾向于在家营造一个私人的空间。但是，他们都是体贴家庭成员的，通常会记得纪念日。同样，如果对他们有意义的纪念日，被别人所遗忘了，他们会很受伤。</p>
<p>理想主义者极其欣赏艺术创造者型配偶在现实世界中所表现出来的洒脱、自然本色，这与他们常常忍受折磨、内疚的生活体验有着极大不同。另外，艺术创造者型伴侣喜爱享受感官享受和大胆满足性欲的特点也吸引着理想主义者型的人，并激发了他们的浪漫想像。 但这种婚姻中也蕴藏了令人不满意的种子，即艺术创造者型人缺乏谈论自己生命内涵的兴趣。</p>
<p>同护卫者型的伴侣在一起使理想主义者在家中感到舒适和令人安心的稳定性，给他们一种脚踏实地的感觉。护卫者还有种让常常犹豫不决的理想主义者肃然起敬的坚定，确切的是非观。两者都属于社会合作者，在生活规范上减小了冲突矛盾。 然而，护卫者在分享理想主义者丰富内涵的过程中存在困惑，并有可能因此使他们的理想主义者伴侣失望。他们忠实聆听试图取悦于理想主义者，但是后者迟早会感到自己不被赏识，继而给两者带来压力。</p>
<p>很容易和气质相同的人结为夫妻，并往往相处得异常和睦，他们对彼此内心世界的探索让对方满意，并且也可能一时创造出美妙的性爱关系。但是，过于相似和过多的时间追求精神目标而筋疲力尽，及过多的内心交流，必然会侵入对方的私密空间，而导致双方心神不安。</p>
<p>选择理性者作为配偶，似乎最能保证理想主义者的成功。他们相互协调的基础是：两者都基本上生活在抽象的世界里。约会了其它类型后，偶然遇到的理性者会让理想主义者觉得发现了新大陆，并渴望能够想像出遥远的未来。同时，令人神往的是理性者的冷静和自主性，这两个特点，都是牢牢的抓住自己的本性，致使容易激动和内省的理想主义者对此极为钦佩，并希望仿效之。当然，两者并不总是那么和睦。理想主义者的善于情感表达和理性者的自我控制、直觉和逻辑、伦理道德和技术实用主义之间的冲突，使再完善的组合也存在着挑战。理想主义者总是尝试将理性者对表达感情的抵触、表面上的冷漠攻破，可想而知是火花四溅的，也许就是因为这些火花，才使理想主义者对理性者情有独钟。</p>
<h3>家庭</h3>
<p>他们是一群热情洋溢的小家伙，被称为“脾气暴躁之人”，因为他们的感情极其容易受到激发，而且有时会以一种令人惊异的强烈气势表现出来。小时候，总是被一种激情鼓舞着，几乎无法使其感情保持平静的状态。他们可能较早就开口说话了，外向的，并且在父母眼中从未停止过说话；内向的，同样具备强烈的感情，只是往往羞于表达而已，或许还存在某些人际交流方面的困难，特别是在家庭之外。</p>
<p>尽管理想主义者型儿童也许有时暴躁易怒，他们也能够讨人喜欢，是一种真诚表达自己喜欢了解他人的人性热情。他们很早就显露出来各种特制，只是，不幸的是，在多数情况下，他们很少存在行为典范。没有多少长辈擅长交际活动，所以他们必须自己领会，并自我完善。</p>
<p>理想主义者型显的孩子，对于最亲近的人，往往很敏感。当家庭成员关系和睦时，他们的自我感觉便平和，当父母或同胞哀伤时，他们也变得哀伤。家庭美满的，孩子的自尊能够较早较迅速的发展；反之，则缺乏泰然处理难题的防卫能力。</p>
<p>他们倾向于努力向别人显示自己良好的用意而不是提供具体帮助，他们从小就有着极高的道德期望，希望自己对待别人的态度和行为是完美无比的。在人前装模作样会让他们感到极不自在，他们很少寻求掌声。当然他们也设法去适应他人，喜欢受到成人的表扬，但并不是把自信建立于此。</p>
<p>他们希望别人承认自己是个独立的个体，他们感到自己和他人的差异，但认识不到这种差异是什么。理想主义者型和理性者型的孩子可能会产生某些与人疏远的感觉，但是理性者型的孩子仍然坚持我行我素，理想主义者型的孩子对自己的与众不同也非常满意。</p>
<p>理想主义者型的孩子需要父母承认自己的独特性，并充满爱心的认可他们的重要作用，有助于他们认定自己的独立、有价值的家庭成员资格。他们需要这样的讯息“你是很特别的人、我重视你、你对我很重要”。</p>
<p>此类型的孩子对他人最为信赖，并且相信直觉甚于行为规范。另外，他们和其它的孩子一起听故事，比其它人更容易坚信故事是真实的，甚至有些固执。他们喜欢反复的听一个故事，并自己虚构些情节加以叙述。他们喜欢中世纪骑士的故事、还有王子、公主、邪恶势力和巫婆。父母应该引导他们读些有幸福结局的故事，勇士最终胜利了、坏人改邪归正了，这样他们会被永恒的幸福吸引，不管以后无情的现实摧毁他们多少希望和梦想。</p>
<p>理想主义者型的孩子对玩具有着无法理喻的珍贵，如果丢失或被父母无意间丢弃，都会令他们感到不幸。他们更多的把玩具当成朋友，当然，也会遭到别人的嘲笑和排斥，从而体验人格遭到拒绝的感受。</p>
<p>理想主义者型的孩子是利他的，而且是全世界性的。而且这类孩子早熟，有一定的怀疑主义倾向。他们总是满腔热情的探索着某种值得信仰的理念。</p>
<p>总是试图与子女建立亲近、融洽的关系。期待能溶入子女的生活，并以自己的积极形象给他们以促进。他们对孩子是无微不至的也是永无止境的。</p>
{% endblock %}
