{% extends "mbti/personalities/base.html" %}
{% block title %}INFP{% endblock %}

{% block type %}INFP{% endblock %}
{% block subline %}哲学家（治疗者）型人格{% endblock %}

{% block article %}
<h3>概览</h3>
<p>内向I 直觉N 情感F 知觉P，只要是为他人服务，为自己的理想尽力，INFP就会是最出色，最有效率的那种人。但如果工作没有意义，他们的工作效果和效率就会大打折扣。显然，INFP最乐于做那些符合自己价值观的事情。然而，只要愿意稍微转换一下视角，把正在从事的并不那么有趣的事情看作是为别人服务的工作，他们就会为这份工作尽心尽力。比如学习电脑，对别人来说可能很有意思，但如果单单是为学电脑而学电脑，对INFP来说就是在浪费时间；而同样是学习电脑，如果是为了帮助别人了解电脑，克服问题，对INFP来说就可能变得非常具有吸引力。</p>
<p>知性特质的哲学家/治疗者型（INFP） 想像一个幽深的、青葱的山谷，围绕着永远盛开的鲜花和树木，住着温柔地陪伴着人们的动物，而人们每天的生活都洋溢在爱、创造和无私的奉献当中。这是一个极少的（大约祇占世界2%的人口）哲学家/治疗者型的世界，INFP永远都在不断地付出努力，为了居住在一个只有爱与和谐的完美世界里。</p>
<h3>性格特点</h3>
<p>INFP倾向于宁静和有所保留。于社交中，他们消耗能量。相比关心具体事物，INFP更加关心于抽象事物。他们更倾向于关注整体而不是细节，关注未来的可能性而非最切近的现实。INFP通常认为个人偏好高于客观标准。在做决定的时候，他们通常更侧重于人情世故而非逻辑。INFP会保留意见或推迟作出重要的决定，更倾向于“开放选择权”，更能应对变化。</p>
<p>INFP将他们的精力主要集中于内在世界，这世界里充满了强烈的感情和坚定的伦理道德信念。他们寻找一个能符合这些价值观的外在世界。他们对那些于他们重要的人和事很忠诚，也会迅速发现能实现他们理想的机遇。他们十分希望了解他们周围的人，通常随和、通情达理，除非他们的价值观受到威胁。</p>
<p>INFP对于这个世界的看法是很理想化的，以至于他们在现实生活中很难得到满足，他们对这个现实世界的要求在其他人看来是很高的，他们内心渴望的对人与人之间、社会、国家、世界的标准是极富崇高的，对于理想世界的追求他们仿佛没有一个满足的标准，也许这个标准是明晰的，也许是模糊的，但是他们通常都会考虑还有哪一种会更加完美和高尚。</p>
<p>通常INFP人在小的时候都会经历过一些精神或者身体上的创伤，或许从某种角度上来讲INFP是一种非自然的MBTi人格，可能会因为童年阴影扭曲成INFP，在旁人看来也许这些心灵上的创伤对INFP不是很严重或者说对其的影响不会是很深刻，但是对于INFP本身的他们来说这些创伤经历在他们心里是不可磨灭的，这些悲伤的片段会一直伴随着他们长大，在INFP的脑海里像影子一样笼罩着他们并伴随一生，INFP有一颗敏感的心灵，它对外界很灵敏，外部环境的一丝风、一缕光都会轻易的触动一个INFP小孩那颗纯良的小心灵，对外界事物和人过于敏感会导致INFP容易胡思乱想，去猜测别人是否是针对自己的，INFP关注别人对他们的看法，内心想着外界的人是否喜欢、接纳自己，是否讨厌、想排斥自己。尽管在别人看来，在INFP的经历中并没有受到过某些伤害或者苦难，但是内向敏感的INFP会把自己受到过的伤害把它保存在自己的脑海里并时常想起，INFP的伤害在自己脑海长期的时常反复的浮现，在加上INFP习惯关注内心世界而忽视了外部世界所发生的事情，因此，这种伤害感将会在他们的灵魂里得以深深的刻印下来并且加重了他们的受伤感。这种感觉伴随着INFP经历人生的路程，所以INFP的世界观是灰暗多于明媚的，对这个世界的认识和看法，他们会很自然的倾向于悲观主义。他们感到人生是一个悲剧，为自己的境遇而感到遗憾和悲伤。</p>
<p>当INFP渐渐的长大后他们会去探索自己，他们内心有一个想法就是我是谁？我为什么会经历痛苦？我要到哪里去？我活在这个世界上为什么不能幸福快乐？INFP会觉得自己的经历是不幸福和不快乐的，这种幸福缺失感会一直留在INFP心里，经过长期的自我暗示会加重这种感觉，然而这样一来他们在现实中所体验的生活所带来的乐趣对INFP显得微不足道，好像这些乐趣根本就不能弥补自己曾经悲伤的经历，这些乐趣好像无法填补自己那颗缺失幸福的灵魂。INFP在现实中几乎得不到真正的幸福感和美好的体验，他们会很本能的投入到自己的内心世界里面，在那里他们可以自由的构建一个可以让自己幸福快乐的美好世界，在这个用想象来构建的美好世界里必然是要比现实世界理想百倍的，也只有这样INFP的内心才会真正的体验到幸福。然而在外人看来真正悲剧的是INFP们错过了体验和享受这个真实的现实世界，他们依然把重心放在那个虚幻的理想化世界里。</p>
<p>INFP在孩提时代把自己看成了一个受伤者，出于感同身受的原因，他们会很自然的对处于弱小、悲伤、痛苦的人表示同情，他们内心的悲痛与外界相互传达交流，经过转化会生成善良、富同情心、有爱心这些高贵的品质。在INFP的理想化的世界里自己的人类同胞是非常完美的，INFP会以现实世界为样板，在这个样板上他们会想象如何才会让人类更加美好的生活，首先这个世界里的社会是一个制度完善的优越社会，这个社会上的人们生活质量良好，人们过着美好幸福的自由生活，这里没有剥削，没有黑暗的权势组织和恶魔的人。在想象的世界里INFP觉得自己是伟大的，INFP认为自己构建了一个理想美好的世界给苦难怜悯的社会底层人民，他们崇尚人与人之间平等，希望每个个体都能够自由的追求自己的幸福和快乐，在INFP的意识里这个世界早就已经没有了束缚人类的枷锁，社会的制度和文化是以人性化为导向的。</p>
<p>受自己过于理想化的观念影响，INFP会潜移默化的变成一个道德素质高的人，他们关注人类的命运，内心深深的爱着自己的人类同胞，希望自己能够通过什么方法来拯救这个灰暗的世界以及对抗那些恶魔般的人，然而INFP的心是敏感、善良、慈悲的，也是容易受伤的，他们普遍不善于在现实世界中与人社交的，INFP不情愿破坏自己的理想化而去接触现实中那些“不完美”的人，他们的思想高尚，而不自觉的发现现实中的人们都倾向于自私、愚昧、粗俗、思想低级，INFP在心里会一边厌恶不能达到他们愿望的人，同时也一边同情着这些人。INFP的理想化思想在现实中很难遇到与他们思想相似的人，于是INFP不太愿意和他们思想出入大的人沟通交流，这样一来INFP在人群中会显得话少、孤僻、同时也容易感到受挫。他们愿意一个人独处，无奈的继续经营着那个虚幻的梦想。</p>
<p>由于INFP把注意力焦点转移至内部世界，所以他们显得内向敏感，他们对外界那些所谓的规矩和人情世故感到厌烦和不适，对于那些高压的工作更是倍感无力，所以他们都喜欢自由自在没有约束的工作，而除了工作本身INFP更希望能够把自己的理想化通过工作这个平台来把它转变为现实，所以在一些比较能够充分发挥自己的理想化同时也自由的工作中都能发现有很多INFP的身影，比如：心理学领域，艺术领域、哲学思想、社会服务工作等。他们希望通过传播自己的高尚思想来影响和改善世界，尽管INFP本身是否意识到，但他们的潜意识是强烈的希望自己可以改善世界和拯救人类的，或许他们做的工作和行为活动没有真正意义的帮助到这个世界和人类，但是他们通过类似的工作会从心里感到欣喜和满足感。并不是说其他的工作不适合他们，只是他们需要的工作平台最好是与他们的崇高的思想、性格特质、价值观相符的。</p>
<p>认识到INFP的人格，我们欣赏他们的博爱、高尚、理想化精神，INFP对人类的文明进步所做出的奉献是很大的，时代的巨大进步都离不开INFP的汗水和奋斗，他们是努力为人类平等、公平、自由的奋斗者，是人性化进程的推动者，也是致力于社会制度完善的先驱者，他们有一种牺牲自己贡献世界的伟大崇高的精神。</p>
<p>INFP除了具有博爱和高尚思想的可贵之处，这是我们值得欣喜的，我们看到INFP的价值的同时也要看到他们的处境，他们普遍的对现实失望，其实INFP感到痛苦的主要原因很大程度上是因为他们没有得以去弥补他们那颗缺乏幸福感的心，也许他们不知道该怎样去弥补才会幸福，也许他们失去的快乐太多了乃至于无法弥补回来，或者是有的东西对INFP非常重要但是他们永远也追求不到了，这些都是INFP的苦衷，但是值得重视的是：INFP只有勇敢的在现实中寻找自己的幸福才会真实的感到幸福，他们需要把自己的理想化转化为动力而不是高期望，给INFP一个很好的建议是：把自己曾经“受伤”的过去给忘掉，重新给自己建立一个积极乐观的世界观，也许这个改变是个大工程，要投入很大的精力还有要适应各种变化，但是每改变一步便意味着已经成功了一步.INFP应该勇敢努力的行动起来而不是呆在象牙塔里，当INFP真正的走出来了的时候他们原来的本性依然会影响着他们，他们可以运用自己的创造力来创造出一些更好的、具有价值的东西来。很简单的：他们只要保持积极乐观的态度来面对这个世界，再就是用行动力来表达自己的积极乐观精神。这样他们的生活就会变得五彩缤纷，其乐融融。关键是INFP愿不愿意发自内心的改变，信念很重要，信念坚定就足够可以成功。</p>
<p>INFP们有礼貌且有所保留的外在，可能在一开始让他们难以了解。他们喜欢谈话，尤其是在话题不寻常的时候。当INFP们想参与社交的时候，他们的幽默感和魅力自始至终都会闪耀。倾向于喜欢别人且尽量避免冲突，INFP们倾向于是令人感到轻松的同伴。</p>
<p>深爱于那些能进入他们内心圈子的人，INFP们保护着他人的感情安宁，抚慰那些处于压力下的人。被他们渴望和谐的天性指引着，INFP们倾向于通情达理，除非他们的道德观受到了违犯。然后，他们将会充满激情地为他们的信念辩护。通过机智、策略以及看到问题不止一面的能力，他们可以改变他人所持的观点。</p>
<p>INFP们通过自省发展这种洞察力，同时他们需要大量的时间独处，默想和处理新的信息。虽然他们面对复杂的问题可以十分耐心，但通常会对例行公事感到厌烦。虽然并不总是有所组织，INFP们对那些他们重视的事物总是一丝不苟。作为完美主义者，他们可能在完成任务的时候有麻烦，因为它无法达到他们的高标准。他们甚至可能在截至日期后重新回头做已完成的任务，这样他们就可以改进它了。</p>
<p>INFP们是具有创造力的类型，通常在语言上有天赋。作为内倾者，他们可能更喜欢通过写作来表达自己。他们的情感主导让他们有交流的欲望，而第二功能的直觉则供给想象力。因为具备象征主义的才华，他们喜欢暗喻和明喻。他们不断寻求新的想法，对改变也适应得很好。他们喜欢在重视这些才华的环境里工作。因了他们个人的信仰，这环境同时还必须允许他们对世界作出积极的改变。</p>
<h3>综合描述</h3>
<p>INFP内向，专注（I），偏好以一种抽象的，具有远见的和富有想象力的方式来观察周围的事物（N）。他们的决定是基于个人价值观的，主观的决定（F），不是为了控制他人，只是为了坚持自我。INFP的生活非常随意，灵活（P）。以上这些特征使INFP显得有一点传统，但他们很热情，也很亲切。通常，和INFP相处是很舒服的事。只有一种情况会使INFP反常，一旦感觉到自己所捍卫的价值观受到威胁，他们就会变得非常强硬。</p>
<p>当INFP不承担团队的领导职责时，激励他们工作的因素是能在工作中找到个人的意义所在。当你工作力不从心，业绩较差时，你的INFP同事很可能无动于衷地作壁上观。他们最典型的想法就是：“各人做好自己分内的活。”但如果你有一个INFP上司，或你的工作与一个INFP的利益密切相关的话，他就会变得非常具有控制欲。就像其他知觉（P）类型一样，不到实际发生的那一刻，INFP不会察觉到你已对他产生影响；再加上INFP的内向，他们会尽量避免与别人发生直接冲突。这可能使双方都备感困惑：对你来说，被责备了却不知道是为什么，因为之前，他根本没有和你沟通过他的意见；而对INFP而言，甚至连他自己都会觉得自己的感觉和反应太过突然和激励了。人们常常会奇怪，像INFP这类随和的人怎么会突然变得这么强硬顽固，简直不像他们原来的性格，但是如果你理解了INFP的四个偏好，你就会明白其实这正符合他们的性格特征。</p>
<p>通常，位居要职的INFP很少，能够做到CEO的就更罕见的。然而，一旦INFP成为非常高级的领导，他就总能使他的下属忠心耿耿。他善于兼顾任务的完成和团队成员的感受。作为INFP的下属，你可以自由发展，并得到很多肯定，也会有人倾听你的意见。只要你努力了，而且没有触及INFP的个人价值，即使失败，你的付出也会得到肯定和鼓励。因为INFP给人以诚恳尊重的感觉，大家轻易不会表达不同意见，所以团队中公开的冲突就会大大减少。</p>
<p>如果你冒犯了INFP的价值体系（请记住，不到事实非常明显的时候你根本不会知道这一点），要得到INFP的原谅非常困难，前提是如果他们还愿意原谅你的话。INFP“I”和“F”的一面又使他们在任何情况下都表现得满不在乎。INFP嘴里说着“没关系了”，“无所谓的”，而事实上要获得他们的原谅并不像表面上这么容易。如果一个EJ犯了错，道了歉，INFP就会给他一个典型的INFP式的回答“没关系了”，“无所谓的”。EJ天真地以为没事了，其实根本不是这样。</p>
<p>在美国，属于INFP类型的人并不多。从统计学来看，INFP中，女性多于男性。这时因为女性往往显示出对情感的偏好。INFP热衷于改善人们的生活而努力。比如反对酒后驾车，提倡妇女解放等，包括开发MBTI。如果你要寻找掌握大权的INFP，那么在类似这种性质的社会运动和社会组织中最容易找到了。</p>
<p>理想主义者，忠于自己的价值观及自己所重视的人。外在的生活与内在的价值观配合，有好奇心，很快看到事情的可能与否，能够加速对理念的实践。试图了解别人、协助别人发展潜能。适应力强，有弹性；如果和他们的 价值观没有抵触，往往能包容他人。</p>
<p>INFP把内在的和谐视为高于其他一切。他们敏感、理想化、忠诚，对于个人价值具有一种强烈的荣誉感。他们个人信仰坚定，有为自认为有价值的事业献身的精神。INFP型的人对于已知事物之外的可能性很感兴趣，精力集 中于他们的梦想和想象。他们思维开阔、有好奇心和洞察力，常常具有出色的长远眼光。在日常事务中，他们通常灵活多变、具有忍耐力和适应性，但是他们非常坚定地对待内心的忠诚，为自己设定了事实上几乎是不可能 的标准。INFP型的人具有许多使他们忙碌的理想和忠诚。他们十分坚定地完成自己所选择的事情，他们往往承担得太多，但不管怎样总要完成每件事。虽然对外部世界他们显得冷淡缄默，但INFP型的人很关心内在。他们富 有同情心、理解力，对于别人的情感很敏感。除了他们的价值观受到威胁外，他们总是避免冲突，没有兴趣强迫或支配别人。INFP型的人常常喜欢通过书写而不是口头来表达自己的感情。当INFP型的人劝说别人相信他们的 想法的重要性时，可能是最有说服力的。INFP很少显露强烈的感情，常常显得沉默而冷静。然而，一旦他们与你认识了，就会变得热情友好，但往往会避免肤浅的交往。他们珍视那些花费时间去思考目标与价值的人。</p>
<h3>工作特质</h3>
<p>作为INFP型人，职业满足意味着你做的这些工作：</p>
<p>1、我的工作与我个人的价值观和信仰相一致，同时允许我通过工作表达我的想象力。</p>
<p>2、给我时间发展我的想法到相当深度，同时对这一思维过程以及思维产物操持控制权。</p>
<p>3、独立完成工作，有一个私人的工作空间以及大量不受干扰的时间，但必须有机会与我敬重的人交流一下观点。</p>
<p>4、我的工作环境是一个灵活性强的组织机构，其中繁琐的规章制度减至最少限度，同时允许我有灵感时工作。</p>
<p>5、我要在一个合作的环境中与别的有创造力的、讨人喜欢的人一起工作，且这个工作环境没有紧张的人际关系以及人际纠纷。</p>
<p>6、允许我表达我别出心裁的观点，而且在工作中个人的发展受到鼓励与夸奖。</p>
<p>7、不要要求我经常在大群人面前介绍我的工作，或者在我的工作还没有完成至我满意之前让我与大家分享。</p>
<p>8、运我帮助别人成长、发展以及实现他们所有的潜能。</p>
<p>9、我的工作包括理解别人以及发掘他们行为的动机，允许我发展与别人一对一的深厚关系。</p>
<p>10、允许我为实现我的理想而工作，且工作上不要受到政治的、经济的或别的方面的障碍的限制。</p>
<h3>对组织的贡献</h3>
<p>致力于为每个人在组织中找到一个位置；其理想很具有说服力；为了共同的目的将人们聚拢在一起；能够为组织发现新的机会和发展的可能性。</p>
<h3>领导风格</h3>
<p>采用推动促进的方式进行领导；宁愿扮演独特的、非常规性的领导角色；强调工作进展的可能性，能够为了长远目标而独立地工作；更乐于赞赏别人而非指责和批评；鼓励他人照自己的理想行动。</p>
<h3>工作潜在缺陷</h3>
<p>由于追求完美主义，可能会拖延工作任务；同时取悦于太多的人；固执地不按照逻辑和事实调整自己的看法；花费太多的时间反复琢磨而不采取行动。</p>
<h3>发展建议</h3>
<p>需要学会现实地工作而不光是追求完美；需要发展其坚韧、讲究实际和说“不”的自觉行动；需要更加强调和重视事实和逻辑；需要发展和实施行动计划。设定切合实际的期望值；重视让步；不要太主观地看待问题。</p>
<h3>适合的职业</h3>
<p><strong>创造性职业/艺术</strong>:  艺术家、诗人/小说作家、记者、娱乐人士、建筑师、演员、编辑、音乐家、信息制图设计师、编辑/艺术指导（杂志）、插画画家/漫画家</p>
<p>INFP型人为艺术所吸引是由于他们有能力以富于创造的个人方式来表达他们自己和他们的想法。以艺术为工作具有个人的自由和灵活性，这是INFP型人信奉的生活方式。无论是写文章、画画还是用其他手段来工作，无论是进行设计还是作为演员或音乐家运用他们自己的身体而工作，INFP型人都力求创造独到的成果，这是他们心声的真实表现。许多INFP型人把自己描述为“内心深沉”的艺术家，即使他们并不以艺术为生。一些 INFP型人甚至会说，作艺术家并不是他们做出的选择，而是他们必须背负的十字架。</p>
<p><strong>教育/咨询职业</strong>: 人文/艺术大学教授、调研员、心理学家、顾问、社会工作者、图书管理员、教育顾问、特殊教育老师、双语种教育老师、儿童早期教育老师、雇员帮助顾问、儿童福利顾问、酒精和毒品禁戒顾问、翻译/口译、法律调停人、社会工作者（老年人和儿童日常护理问题）</p>
<p>教育和咨询行业都是可以使INFP型人为帮助他人成长和发掘人性潜能而工作的领域。INFP型人为改善他人生活质量的愿望和努力的确非常崇高。他们更喜欢大学，而不是小学或中学，因为大学里来自学生们的动力更强大。他们喜欢学习的过程，喜欢做为调查员或图书管理员来探求更深刻而更有意义的理解。INFP型人是富于同情心而具洞察力的顾问，心理学家，以及社会工作者，力求帮助他们的客户在自己的社会关系和生活范围里获得自我理解和和谐。作为顾问，他们高兴的是，在理解他人的时候他们也逐渐理解了自己。</p>
<p><strong>宗教职业</strong>: 牧师、宗教教育工作者、传教士、教堂工作人员</p>
<p>对于许多INFP型人，献身宗教事业是很值得的。他们乐于帮助人们发展精神世界，在为自己和他人的梦想奋斗并得以实现的过程中他们深感快乐。他们往往喜欢一个对一个的交流，但随着经历增多，他们也渐渐乐于传道和做报告了。对于INFP型人，最根本的地方在于从事与他们内心价值观念和信仰一致的工作，往往宗教领域的职业可以满足这一点。</p>
<p><strong>医疗保健</strong>: 饮食学家/营养学家、理疗医生、家庭健康社会工作者、职业治疗医生、按摩专家、全面健康医生、语言病理学家/听觉病理学家、验光师/配镜师</p>
<p>保健领域吸引INFP型人的方面在于，它能够让他们对客户或病人进行亲切而亲密的工作。INFP型人一般都会喜欢这样的职业给予他们的自主性，他们可以自己开业，或者作一家大型健康护理机构的顾问。理疗、全身治疗以及按摩的诊断治疗工作具有创造性和精神因素，这些都令人满意，它们运用了INFP型人的直觉和情感倾向。</p>
<h3>爱情</h3>
<p>INFP始终以一种平静快乐的姿态出现在世人面前。他们待人平静和蔼，不带过多的诉求。事实上，INFP的内心世界是十分复杂的。在人际交往的过程中，这种复杂会让他们表现出比其他性格类型人群更多的爱与关怀。INFP不是对任何人都会表现出这种关爱，而且在内部情感表达上他们也趋于保守。他们内心深处的这种爱与关怀只会对少数几个于他们关系至亲的人面前展现出来。INFP们通常在与他们的密友交往过程中，常会表现出惬意、支持和帮助的态度。由于内向感受在其性格中起到了主导作用，他们对于别人的感受非常的敏感准确，并会对他人的感受表现出诚挚的关注和呵护。要他们信任他人是一个漫长的过程，他们在感情的初期会显得十分小心谨慎，但是一旦认真的进入一段感情之后，他们会表现出绝对的忠诚。由于他们内在的坚定核心价值，他们十分重视自己感情中的深度与真诚度。对于那些能够理解和接受他们的观点的人，INFP会表现出极大的推崇。INFP在多数情况下会表现出很强的适应性和同质性，但是如果对方的观点与自己的核心价值发生冲突的时候，他们会收起温和的态度，转而成为自己核心价值坚强的守护者。在这种情况下，他们会变得异常地严厉和苛刻。</p>
<p>多数INFP在情感问题上会显出如下优点，对他人热情的关心及呵护，能积极感知他人的感受，忠诚专一，他们希望将关系维系终生，擅长关爱及呵护，努力寻求双赢的局面，扶住他人，鼓舞人心，能够认清并尊重他人对空间的需要，能够很好地表达自己 能屈能伸，性格多样</p>
<p>同时INFP也趋于内向保守，不希望别人侵占他们的私人空间，极度厌恶矛盾，极度厌恶批评，对于表扬和正面评价有着极强的需要，在压力情境下会感情用事，在感情失败之后，很难走出阴影，很难批评或惩罚他人，在情感表达上十分保守，完美主义倾向让他们对自己缺乏足够的信任，遇到问题容易自责，凡事喜欢一肩挑。</p>
<p>INFP们对于自己的爱人有着极强的忠诚心和责任感。由于性格中的感知主导，和谐温暖的感受对INFP们显得十分重要。他们对于负责关爱的感情有着自己的需要。如果他们的感情中没有这些元素，那么他们只有两种选择，积极寻找这种感情或者就用幻想来麻痹自己的这种需要。</p>
<p>INFP们的理想主义和浪漫主义情怀常常让他们对感情或情境有一种“完美情结”。他们也会用将他们的爱侣浪漫化，使之拥有自己所不具有的特质。多数INFP都会有这样一个问题：他们很难降低他们对现实生活那些不切实际的浪漫态度。正因为这样，所以他们总是对自己和他们的朋友表现出阴晴不定的态度。然而，INFP对他们爱侣的真挚热爱以及他们对于矛盾的极度厌恶让他们不得不表现出对于感情的忠诚，但是他们的脑海可能会久久得不到平静。</p>
<p>与那些对爱人充满敬意的性格类型不同，INFP的这种尊重往往不会在感情中出现变质的情况。INFP们对于自己的想法会贯彻到底，努力实现尊重爱人这个大目标。这样做的结果通常是，INFP对其爱侣表现出认同，骄傲和关爱这些情愫，而这一切都是经得起时间的考验的。</p>
<p>INFP对于管理类事物（像付账单及清理家居之类的）通常没有什么兴趣，但是如果必须要他们完成的话，他们会完成得十分出色。只要他们用心，他们绝对是理财方面的一把好手。INFP的一个大问题就是他们对矛盾和批评的极度厌恶。INFP会迅速找出批评性言论中对方的个人观点，无论这种批评中是否真正包含个人因素。他们将各种批评都视为对他们性格的一种攻击，在这种情况下，他们通常会变得失去理性并为个人情感所支配。这在INFP与思考和判断型的人交往过程中会成为一个很大的问题。这种“思辨者”在考量问题时会采取一种客观坚决的态度，而这种态度常会为他们的言论带来一个观点。如果这个观点带有负面性，那么“思辨者”的态度很可能会对INFP构成威胁。这种情况下，INFP会给予感性的回复，并将这种负面态度视为对自身性格的一种抨击。</p>
<p>对于那些感知官能主导十分严重的INFP来说，如果他们缺乏成熟的直觉官能来帮助他们获取做出决策所需足够的信息，那么他们对矛盾和批评的反感会成为他们亲密关系中的一个重大隐患。在矛盾情境中，这些INFP们的反应会带上极为强烈的情感压力色彩，这常会让他们表现出不知所措的状态。由于他们缺乏寻找措施的基础，他们可能会采取任何可能的方式来摆脱这种矛盾，这么做通常意味着对他人缺乏理性的攻击，或者利用一些罪恶的手段来迫使自己的伴侣为他们提供需要的支持。这种行为对于健康持久的情感会产生极为负面的影响。</p>
<p>如果他们能认清自己的这种趋势，他们就能更为客观的认识他人的批评。他们也应该记住，矛盾情境的产生不一定都是他们的问题，而且就算这种局面产生了也绝对不是世界末日。矛盾只是生活的一个组成部分，及时正视并解决这种矛盾能让你在萌芽状态就将这种问题解决，以免将来受其拖累。</p>
<p>INFP对于自己和他人的私密空间有着明晰的认识。他们非常重视自己的个人空间以及能够做自己事情的自由。他们很珍视那些能认清INFP本质，并尊重他们独特风格和观点的伴侣。同时他们对于对方的隐私和独立也会给予足够的尊重，事实上，INFP不仅会对对方的观点或目标表示尊重，他们还会不遗余力地为对方提供支持。</p>
<p>总得来说，INFP们在爱情中时刻传达着温暖的关怀和爱意，他们将感情的健康性视为生活中的重心。尽管在刚开始的接触中，他们会表现出小心谨慎的试探状态，但是经过一段时间之后他们对爱情的忠贞不渝就会显露无疑，而这常能够持续一生。他们对待感情的态度十分认真，并会为感情的成功倾注大量的精力。</p>
<h3>恋爱类型</h3>
<p>许多研究发现，一个男性哲学家型（INFP）最有可能和他的镜子影像结婚：也就是娶一个女性哲学家型。同时，研究也指出不管是男性或女性哲学家型，最快乐的事就是和同一种恋爱类型的人结婚。与哲学家型的人结婚的哲学家型，比起与其他任何一种恋爱类型结婚的哲学家型，都显现出最小的冲突。</p>
<p><strong>女性哲学家型</strong>: 你与哲学家型的另一半在一起会很快乐，同时，也可以与作家型(INFJ)、教育家型(ENFJ)或记者型(ENFP)处得很好。由于教育家型和记者型拥有外向的特质，他们可以引导出你社会化的一面，也可平衡你原本内向的特性。</p>
<p><strong>男性哲学家型</strong>: 你最好的伴侣是女性哲学家型或是女性作家型(INFJ)。女性作家型是一个有智慧、并具有反省能力的女性，她可以提供予你未来成功所需之要件。有一项警告：请确定她在果断(J)偏向上不是太强烈；否则，她对你的随兴作风也许会大有批评。</p>
<h3>有趣细节</h3>
<p>具有的性格特征包括：艺术的，深沉的，粗心的，敏感的，灵活的，善于欣赏的。</p>
<p>在所有类型中最不可能得心脏方面的疾病。</p>
<p>男性最不可能反映慢性疼痛。</p>
<p>在所有类型中，具有第二高的婚姻不满意率。</p>
<p>在所有人中最有可能在大学期间产生自杀意向。</p>
<p>在学习一门外语时比大部分人更容易成功。</p>
<p>在所有的类型中，最容易对自己的工作不满意。</p>
<p>个人价值观包括强调自主权与创造性。</p>
<p>在写作，顾问，艺术等职业领域有着超出平均的杰出代表率。</p>
{% endblock %}
