{% extends "mbti/personalities/base.html" %}
{% block title %}INTJ{% endblock %}

{% block type %}INTJ{% endblock %}
{% block subline %}策略家型人格{% endblock %}

{% block article %}
<h3>概览</h3>
<p>INTJ型的人是完美主义者。他们强烈地要求个人自由和能力，同时在他们独创的思想中，不可动摇的信仰促使他们达到目标。 INTJ型的人思维严谨、有逻辑性、足智多谋，他们能够看到新计划实行后的结果和生活中转变为真实物质的理论体系。他们对自己和别人都很苛求，往往几乎同样强硬地逼迫别人和自己。他们并不十分受冷漠与批评的干扰，作为所有性格类型中最独立的，INTJ型的人更喜欢以自己的方式行事。面对相反意见，他们通常持怀疑态度，十分坚定和坚决。</p>
<h3>性格特点</h3>
<p>INTJ（内倾/直觉/思考/判断）是迈尔斯·布里格斯性格分类法中十六种人格类型之一，在柯尔塞气质类型测试中被称为策划者(Mastermind)，属于理性者的四种类型之一。INTJ是十六种类型中最稀有的类型之一，所占的人口比例仅仅只有1%。</p>
<p>INTJ人群是完美主义者，他们看似有着永无止境的能力去改善任何他们感兴趣的事物。与理想主义者截然不同，INTJ们通过实事求是的实用主义理念与行动来追求完美的结果。</p>
<p>INTJ这类型的人群被誉为"系统的建设者"，可能部分因为他们拥有不寻常的集合虚幻性和确定性的显著特点。无论在何种体系下工作，对INTJ人群来说在思想中是一样的，只因为他们是拥有INTJ性格的人群。完美主义并且藐视权威可能会在现实生活中体现，所以对INTJ人群来说他们可以在一个项目中对自己和他人毫不留情。任何“松懈的人”，包括上司，将会失去INTJ人群对他们的尊敬——并且通常INTJ人群会让他们意识到这一点。经常表现出自我的另一面。因为isfp型的人不喜欢直接地自我表达，所以常常被误解。</p>
<p>INTJ人群也是可以作出重大决定而不需询问他们的上司或同事的人群。另一个方面，他们能够小心谨慎公平地将一个项目中的个人贡献分清。他们天生具有抓住机遇的天赋，而有些机遇甚至其他人都没有注意到。</p>
<p>典型的INTJ人群择业的方向是在科学和工程方面的，但是他们也可能致力于那些需要智慧与犀利言辞并重的领域（例如，律师，学术界的某些领域）。如果他们愿意花时间去扩展他们的能力，INTJ人群可以从事管理，（无论是出于个人的野心或愿望）很多INTJ人群觉得学习如何假意的因循守旧是很有利的，因为这可以在某种程度上掩饰他们内在的异常性格。</p>
<h3>处事特点</h3>
<p>具有独特的思想、伟大的远见和梦想。他们天生精于理论，对于复杂而综合的概念运转灵活。他们是优秀的战略思想家，通常能清楚地看到任何局势的利处和缺陷。对于感兴趣的问题，他们是很好的、具有远见和见解的组织者。如果是他们自己形成的看法和计划，他们会投入不可思议的专心、注意力和能量、积极性。依靠到达或超过自己的高标准的决心和坚韧不拔，他们获得许多成就。</p>
<p>由于擅长战略规划，所以理性者领导常常都会对机构的整体面貌及其长期发展形势有一个预告的认识，或者说先见之明。他们往往高瞻远瞩，考虑周全，决不会在计划中遗漏任何重要的环节或步骤。鉴于他们从很早便开始使用连贯、易理解的语言来进行表达，并且一直都坚持这一语言表达习惯，因此，INTJ型领导通常都能够清晰明确地向下属表达自己的预见，并用这美好的想法感染他们，使他们满腔热情地投入到自己预想的事业当中。</p>
<p>INTJ型的人思维严谨、有逻辑性、足智多谋，他们能够看到新计划实行后的结果和生活中转变为真实物质的理论体系。他们对自己和别人都很苛求，往往几乎同样强硬地逼迫别人和自己。他们并不十分受冷漠与批评的干扰，作为所有性格类型中最独立的，INTJ型的人更喜欢以自己的方式行事。面对相反意见，他们通常持怀疑态度，十分坚定和坚决。权威本身不能强制他们，只有他们认为这些规则对自己的更重要的目标有用时，才会去遵守。在实现自己的想法和达成自己的目标时有创新的想法和非凡的动力。能很快洞察到外界事物间的规律并形成长期的远景计划。一旦决定做一件事就会开始规划并直到完成为止。多疑、独立，对于自己和他人能力和表现的要求都非常高。INTJ型的人是完美主义者。他们强烈地要求个人自由和能力，同时在他们独创的思想中，不可动摇的信仰促使他们达到目标。他们是 优秀的战略思想家，通常能清楚地看到任何局势的利处和缺陷。对于感兴趣的问题，他们是出色的、具有远见和见解的组织者。如果是他们自己形成的看法和计划，他们会投入不可思议的注意力、能量和积极性。</p>
<p>“概念主义者”型的人自信、有智慧、富有想像力。他们的原则是“所有的事情都要做到最好”。“概念主义者”是最独立的一种人。他们工作原则性强，标准高，对自己和对别人的要求都很严格。他们不会被别人的冷 遇和批评干扰，喜欢以自己的方式做事。“概念主义者”型的人天生好奇，无论是由于工作本身的需要还是出于长远的考虑，他们很喜欢不断地吸取知识，他们因此而常常看 得到同一问题的多个不同的方面，习惯于全面地、概括地思考问题，和一分为二地看待问题。他们很善于发现事物的可能性，理解事物的复杂性，喜欢进行逻辑的分析，从而对真实或假设的问题构思出解决方案。“概念主义者”喜欢能够提供自由、变化和需要有较高的智力才能完成的工作，不喜欢简单、重复的工作。他们喜欢看到自己的想法 能够得到实施。“概念主义者”会对那些他们认为不够能干的人不耐烦，喜欢与很有能力的上司、下属、同事共事。许多“概念主义者”型的人推崇权力，易于被有权力的人和权力地位所吸引。</p>
<p>他们善于分析、总结、判断，善于从整体上把握事物，喜欢追根究底，力图抓住事物的本质，对文字、语言敏感，抽象思维能力强，能理解复杂的理论概念，善于将事情概念化，善于从中推断出原则或预测趋势，擅长策略性思维，会接受建设性的批评，而不把它当作针对个人的问题</p>
<h3>优势</h3>
<p>考虑问题理智、清晰、简洁，不受他人影响，客观的批判一切，运用高度理性的思维做出判断，不以情感为依据。用批判的眼光审视一切，如果形势需要，会非常坚强和果断。</p>
<p>INTJ型的人不屈从于权威，并且很聪明，有判断力，对自己要求严格，近乎完美，甚至也这样去要求别人，尤其讨厌那些不知所措、混乱和低效率的人。他们有很强的自制力，以自己的方式做事，不会被别人的冷遇和批评干扰，是所有性格中最独立的。</p>
<p>优秀的策略家和富有远见的规划者，高度重视知识，能够很快将获取的信息进行系统整合，把情况的有利与不利方面看的很清楚。具有独特的、创造性的观点，喜欢来自多方面的挑战。在INTJ型感兴趣的领域里，他们会投入令人难以置信的精力、专心和动力。</p>
<h3>劣势</h3>
<p>INTJ型常常只注重自己，很少去理解他人，自以为是，对他人没有耐心，总是想当然的把自己的观点强加给别人，制定不切实际的高标准</p>
<p>过于注重远见卓识，很容易忽略和错过与自己理论模式不符的细节和现象；爱玩弄智力游戏，说些对他人没有意义、似是而非的话语。</p>
<p>过分独立的个性和工作习惯，使得INTJ型总是“拒绝”别人的参与和帮助，难以发现自己计划中的缺陷。</p>
<p>有时会过于固执和死板，沉迷于一些出色的但不重要的想法中，并且事事要求完美。</p>
<p>在处理个人关系，特别是在爱情方面，他们缺乏罗曼蒂克。对于复杂的事，INTJ人群通常是那种特别自我的人群，他们很习惯的表现出冷漠，而这一点容易被其他人误解。</p>
<h3>生活</h3>
<p>INTJ觉得不值得和“俗人”交往，只要保持平淡必要关系即可。他们很知道“俗人”不会喜欢自己。喜欢分析、评判他人，但是更喜欢分析、批判自己。认为别人很俗，但对自己的评价也极为挑剔。不是自恋，只是完美主义。</p>
<p>INTJ有理性没人性，置身人群像在外太空。对判定无意义和无价值的信息没有交流欲，不关注或远离。并非反感，而是绝对否定。不喜欢说废话，一般说出的话都很精。不喜欢聚会，是真的从心底不喜欢，在没有目的计划的聚会上，INTJ很难获得感兴趣的信息，进而会觉得浪费时间。更关心的是未来的可能性和计划，对于过去的事物，除了能够被提炼成“有用信息”的外，INTJ是不会关心的。认为最安全的方式，是永远只把注意力放在自己身上。因为自己是唯一不会让自己失望的。对自己以外的事大部分时候都显得漫不经心。</p>
<p>INTJ其实能够认识自己的情绪或别人的情绪，只是不愿意去管理自己情绪，更不愿意去取悦别人。对在意的人情商会很高，不高是因为不在意。</p>
<p>总是太严肃，总会让大家开心的谈话冷场。太关注自我，永远在考虑他们自己的事情。喜欢嘲笑，经常一副愤世嫉俗的样子。眼高手低，现在的事还没做好，就光想未来的事。没有幽默感，不会欣赏生活中的乐趣。忽冷忽热，不关心别人。</p>
<h3>看法</h3>
<p>INTJ总体属于喜欢自己跟自己较劲的人，在旁人看来觉得他的生活和工作会很累。他们自己可能不觉得，沉浸于自己的世界中。周围人很难理解为什么一个熬夜多日做出的图纸会带来任何心灵的喜悦，特别是周围一堆人都是E的时候。</p>
<p>INTJ的I通常很明显能在人多场合看出来，但是人少的群体中，INTJ可能会很主动积极大胆发言，做一个主导者。其实INTJ的权力欲望算很强的，完美主义其实就是追逐权力的极致。这种权力并非单单是俗称的官瘾，而是对事物的终极掌控者。</p>
<p>INTJ一个人的时候，基本上没有停止思考。而且往往他想的是极有逻辑性和哲理的大东西，诸如哪个超市半价之类的他是绝对不会浪费脑细胞的。我发现INTJ往往在做一件平常事的时候，脑子中想的完全是别的事，而且抽象，诸如生死、功成名就或宇宙奥秘等。所以INTJ的T，thinking给人印象深刻，基本上会T的人都能在人群中一眼认出。他们喜欢分析，丝丝入扣的说话，情绪上有克制，好压抑自己。因为理性使然，所以面具非常厚。基本上会T的人，自己对自己的评价和别人对他的评价可以说是天壤之别。原因就在于，T中的思维逻辑不同于大众。INTJ对自己的评价往往较高，觉得有才华且卓尔不群，或者觉得特别个性因而自命不凡。我用自命不凡这个词不是打击INTJ，而是事实如此。因为世人缺乏对才华的客观评价，那么这些都是相对的。我也认为能静得下来用直觉思考和判断的人也许会更加饱读诗书或富含思辨。但是INTJ的聪明才智未必会被目前主流的社会认可。INTJ也许常会挑战才能不及他的上司，并且内心冷笑这样的人也能上位；然而，这个社会总体架构不是为1%的INTJ设立了。INTJ倘若明白这一点，事情会好办的多。</p>
<p>INTJ的N是非常可贵的一点，能倾听内心声音的人不多，INTJ可以把这个发挥到极致。N是做咨询顾问非常看中的一点，我以前以为做顾问T最重要。可后来接触到不少杰出顾问，我发现N才是本质的区别。同样的问题，几乎是一触即发，优秀的INTJ可以直接抛出一个答案，然后再用T去圆这个说。这种直觉能力无法培养，甚至可以说是一种天赋。INTJ应好好利用N的天赋，而不是简单的纠缠于T。</p>
<p>J是INTJ让人觉得冷漠的原因之一，无情冷血的结论和做事方式，因为他们内心做了判断。耶稣说过任何人无罪才能论断别人；但INTJ无时无刻不在论断。几乎对于任何一件事，假以时日，INTJ可以从无知变成专家，而且还是很有个人观点的专家。一般他们下了判断后，要改变则很难。除非呈递大量证据，不然INTJ的J是非常坚固坚强坚定的。我对INTJ的N，T，J都十分赞赏，但是I也许会使得NTJ的发挥走向错误的方向。</p>
<p>缺乏沟通往往造成I的一面缺点越来越大，NTJ是随之而来的思考直觉判断失误。E或I是接触万事万物的第一面，选择开放式的E还是漏斗式的I，这是个问题。</p>
<p>INTJ的职场生涯会充满明显的技术性倾向，无论什么行业，INTJ应该是那个工种里的技术核心。就算没有技术的东西，他也有一套理论来构建。这是INTJ天生的战略思维，所以INTJ做行业研究员或者咨询业会比较成功。另外做医生也很不错。金钱对于INTJ只是评定其工作的一个方面，如果一个工作没有成就感，他会沮丧。另外，INTJ确实比较适合从事“物”的工作；如果是“人”的工作，最好是一定时期小环境内的。因为INTJ似乎需要通过客观的东西展现自我达到工作的满足，不然它会一直感觉怀才不遇。</p>
<p>最后一点，就是INTJ把自己管得太紧，要求太高，一旦达不到心理就失衡。觉得身边这个不好那个不好，其实最终是自己的问题。其实INTJ是有才华的，只要不那么求全，总是能慢慢上道的。太苛求完美，太过于着急，对自己职业生涯一点好处也没有。</p>
<h3>领导能力</h3>
<p>很少有什么事能难住INTJ(注释一下，这个事主要指的是工作，感情方面的事情的处理能力需看每个INTJ个体的认知功能的发展情况来定，认知功能发展不完善会很难处理感情问题)。因此这类人在公司中通常都能得到很快的提升，他们的沉着表明他们具备了杰出的领导能力。与其他类型的领导者不同，INTJ们通常都作为一个冷静的旁观者出现在组织里，但如果发现团队缺少领导者或者现任领导者能力不足，那么他们会毫不犹豫的成为新的领导者。我们确信在日本企业的领导层中，这种类型的人占主导地位。沉着使他们有能力将已有的想法在各个方面进行提升，从设计，生产到市场推广。这一能力成为20世纪末日本在国际市场上地位不断提升的关键因素。一位INTJ型的日本商人甚至对MBTI进行了改进和提高。日本如今是使用类型观察的第二大国，仅次于美国。</p>
<p><strong>自信务实</strong>: 这四种倾向是大多数人寻求自信和力量所依靠的性格特征，尤其是公司梯形结构中那些上层人物。INTJ不会像外向性格的人那样不断打扰我们，他们会通过将所有事物很好地掌控在手中来传达他的自信。与关注细节和具体事物的感觉型(S)人相比，他们会将事实转化为一幅宏观的蓝图，并给出其发展前景。有时候主观性更和人意，但在实际商业活动中我们更讲究客观性，也就是更务实。我们社会的运行使J型人得到偏爱，整个社会也是一种结果导向型的模式。INTJ型的人将四种特质整合在一起后不仅表面看起来吸引人，同时他们也确实是领导和决策层能够信赖和依靠的对象。</p>
<p><strong>独立自主</strong>尽管很难用一个词去形容某个类型的人，但“独立自主”可以对INTJ型的人作一个最好的概括。独立自主是激发他们前进的动力。如果可能，INTJ希望每个人都能独立自主。这种独立意识可能与他们同时希望掌控周围环境的需求相冲突。因此，作为INTJ的同事或下属，就必须明白“独立性”是终极目标，但这种独立性的获得必须得到INTJ的认可。这一矛盾会带来一些信息的复杂化。表面上INTJ的口头指示赋予的是灵活性和自由度，如：“你可以获得充足的时间，采用你认为最好的方式来完成这项工作”，而这句话的另一层意思是“尽快完成它并把它做好”。这种信息会使INTJ型人I感觉，而后者却经常要求可靠和准时。如果INTJ把真实意思表达清楚的话，就应该是“如果每次你都能又快又好地完成任务，那么你就能获得更多的灵活性和自由发挥的空间”，这样就不会产生矛盾了。</p>
<p><strong>掌控全局</strong>: 作为天生的概念专家，INTJ是完美的思考者，对未来充满兴趣。他们受丰富的想象所激励，同时骨子里又有很强的责任感。通常，他们会承担起解决复杂问题的责任。并施展他们创造性的才能担当起领导者的工作。有人曾经说过，社会中的成功人士通常都是那些独立的(I)，有预见能力的(N)，实事求是的(T)和能掌控时局(J)的人。这类人能够被委以重任，他们不会总是拿自己的需要来烦扰你。INTJ型的管理者也是永远的学生。INTJ会不断地探索和追究“可能会怎样”，他们的直觉能够很好地容纳系统中的新技术，程序，动机和方法。他们倾向于对事物不断做出改进。即使那些东西都运转良好，他们也会去改革它。这种倾向意味着工作中的每一项事物都会被拿去作一番改进。对每一个项目，INTJ会不断地进行评估，审查，甚至修正。即使有命令要求维持现状不变，INTJ也不会停止在维持现状的基础上做出细微改进的努力。</p>
<p><strong>面临挑战</strong>: INTJ女性在工作中面临着特殊的挑战。上面所描述的那些特点，如独立，客观，控制力强等。都是与传统对女性的要求背道而驰的。INTJ女性对传统的挑战以及不断改进革新的特质会在男性主导的职场中遇到麻烦。这种冲突会带来两种性别的不满和拒绝：男性无法理解也不知道该怎么去处理INTJ女性独立行事的风格;而其他女性将之看作高傲自大，对他人漠不关心的人。现实中，INTJ女性在与那些具有传统女性特征的女性交往时通常都缺乏耐心。令更多人无法忍受的是INTJ女性的冷漠：工作中她总是十分谨慎并极端专业，十分注意自己的言行。很少谈及私人生活并且将它和工作严格分开。她们谨慎，专业的工作态度以及表面上封闭而自我的私人生活使他们在同事中很难赢得同盟者。尤其是INTJ女性，她们总是孤独地高高在上。</p>
<p>isfp型的人喜欢实际工作，不喜欢理论工作。他们倾向于喜欢运用实际的积极的技术，户外工作的机会尤其为isfp型的人喜欢，他们对工作中的变化和种类表现出极大的兴趣。</p>
<p><strong>精细管理</strong>: 策划者的人，在精细管理方面，远远超出其他人。每一步计划都要与下一步计划相协调，并且可能会受制于无法预知的困难。他们本性果断、善于谋划且矜持的个性，决定了他们更倾向于策划者的角色。他们不超过总人口的1%，而且很难遇到。他们虽然是极有能力的领导者，却并不热衷于进入管理层，而宁愿躲在僻静处，除非领导者过于无能。但是，他们一旦主管工作，就是个彻头彻尾的实用主义者，将现实看做不过是施展和精练他们战略才能的象棋棋盘而已。在制定计划时，他们思想开明、愿意接受一切有价值的建议，富有成效的理论很快便得以应用。对他们来说，次序不是一成不变的，是可以改进的。只要是有意义的，都会被采纳，相反则不然。策划者往往比其他理性者更为自信，通常显示出非常坚强的意志。且看上去很容易做出决定，实际上，他们在安排事物并做出决定之前，几乎片刻不能休息。他们有着某种完成计划计划的动力，总是从长远的效果考虑，似乎是思想本身给他们带来了力量。逆境强烈刺激着他们，他们热衷于对一个需要以创造性解决的难题做出响应。无论在哪里，哪怕是最微小的工作，他们都会建立起数据和人文系统。他们通常是被人推荐到负责人岗位上的，因为他们追求目标持久、努力、坚定，毫不吝啬他们自己的时间和精力，同时也能充分发挥同事和雇员的潜力。他们习惯于描述积极的本性，避而不谈消极本性，更倾向于推动组织的发展，而不去思考过往的错误。他们认定，运转良好的组织中，内在和外部的连贯性都是不可或缺的。</p>
<p><strong>慧眼识人</strong> 策划者是所有类型人中，从学校获益最大的受益者。工作上他们倾向于激励他人，也像对自己所要求的那样努力，因而往往显得苛求和难以满足。同事们认为策划者能彻底的识破他们，并找到他们的缺陷，所以，他们之间存在一种心理距离，容易让人有无法胜任的感觉。 同时，作为领导者的INTJ有着精确识别团队每个人能力大小的慧眼，并不带任何偏见的将他们任命在各自最适合的岗位上。他们往往不被同事所理解，被人认为是过分冷静的，幸运的是如果他们觉得自己是正确的，对于同事的批评和误解，他们就不会特别的困扰。总而言之，他们是忠诚的，是对组织的，而非内部人员的。这项特质，使得他们在人员变动的时候，仍能毫不困难的继续工作。</p>
<p><strong>协调能力</strong>：对于INTJ型的人来说，增加影响在于对次要的观点做出让步以赢得更重要的东西。这也会减少INTJ型的人变得太固执的可能性。当他们努力采用一种更易被接受的方式生活和与人相处时，INTJ型的人会得到更多的平衡、自信，成功地使自己更多的创新被社会接受。INTJ在对待事物上注重其各种可能性(N)，并将这些可能性进行处理，将之概念化，系统化，最终转化为客观的决策(T)。这些决策很容易得到贯彻实施，因为他们平时的生活方式就是非常有条理，有计划的(J)。他们的内向(I)使他们的内心世界成为各种想法的舞台，这些想法大大多于已付诸实践的愿望。这四种倾向结合在一起使INTJ型的人自信，沉稳，称职，有敏锐的洞察力并不断自我肯定。</p>
<h3>适合的职业</h3>
<p>证券投资和金融分析员、知识产权律师、投资银行家、经济学家、企业家、心脏病专家、艺术家、经济学者、各类发明家、医学专家、各类科学家、国际银行业务职员、金融规划师、网络工程师、数据库专家、研究所研究人员、系统分析员、计算机程序员、研究开发部经理、各类技术顾问、技术专家、投资专家、法律顾问、精神病专家、投资银行研究员、首席财政执行官、设计工程师、财务计划人、企业并购专家、建筑设计师、社论作家、媒体策划</p>
{% endblock %}
