{% extends "mbti/personalities/base.html" %}
{% block title %}INTP{% endblock %}

{% block type %}INTP{% endblock %}
{% block subline %}学者型人格{% endblock %}

{% block article %}
<h3>概览</h3>
<p>INTP（内向/直觉/理性/理解）是一种基于荣格的分析心理学所发展出来的MBTI、Keirsey Temperament Sorter及社会人格学的人格型态。</p>
<h3>性格特点</h3>
<p>INTP是自由的创意者，是思绪飞扬的学者，他们很容易转移注意力，却有着无穷的创造力。对抽象概念的喜好以及深入理解，使他们可以从事具有创造性和挑战性的任何工作。</p>
<p>他们喜欢冲动，容易有想法，而且这些想法可能是非常天才的。有时候这些想法也可能让INTP迷失，因为他们总不断有新的想法出来。</p>
<p>INTP对于机械式的工作有太多细节或者规定的执行期限，他们就会觉得很沮丧。遇到期限时，他们会不断要求延期</p>
<p>INTP们几乎都有自己擅长的一个或多个相关领域，可以用天赋异禀来形容，一旦幸运地从事到了合乎他们胃口的行业，他们在专业上凭借超群的悟性可以用很短的时间达到很多人可能花掉数年数十年甚至一辈子也无法企及的高度。然而在这些令他们光芒万丈的领域之外的其他田地里，由于长期的荒疏，很多对于常人来说根本不是问题的问题却可以把他们难倒，比如日常生活，也许一件冷不丁跳出来的家务小事就可以暴露出他们笨拙不堪的一面，立马从天才变成白痴。</p>
<p>INTP的特点会使这一类人愿意追求冒险，但这有可能与他们喜欢独处思考的偏好冲突。对于INTP来说，外面的世界很精彩，但有会干扰INTP内向世界的自省。</p>
<p>INTP会碰到性别问题，而且具体情况会有不同。对女性INTP来说，她们会经常处于一种两难境地：社会对女性的传统界定和她们的自然偏好总是背道而驰。例如，INTP可能是独立的，反权威，爱争论，有时候也可能会有些社交障碍（这和她们I的强度有关），而且她们往往对社会传统习俗的忽视。当这些与她们INT的智慧，不以为意等特征相结合时，我们可以想象INTP女性可能陷入的困境。而由于INTP女性的不善于表述会使这种困境变得更加复杂。在需要智慧投入的情况里，INTP女性可能会获胜，但却是以疏远他人为代价的。</p>
<p>一般来说，INTP在决定投入某个项目之前，会进行充分的准备工作。这时因为，第一，她们不希望表现得不得力；第二，这些准备工作——研究，阅读，把事情规划好是INTP喜欢做的；第三，INTP需要一个良好的切入点。</p>
<p>在一个不欣赏甚至怀疑的环境里，女性的处境可能会更难。人们会崇敬一个敏锐，冷静的人，但如果是个女人的话，人们就会觉得她有点冷漠无情，无视别人的情感需求，像个老学究，没有女性的温柔。</p>
<p>男性INTP的处境相对容易些，因为冷静是社会对男性的要求。既便如此，他们也会遇到些问题。例如，他们随和善变的个性可能会与大多数企业里的TJ经理产生矛盾。INTP常被提醒要脚踏实地，“不要做白日梦了，赶快回去工作吧”，或者“希望你能够遵守规则”。</p>
<p>另一个问题是，INTP缺乏社会意识，通常INTP不擅长社交。这一点在男性中表现得更突出，女性则相对比较容易调整。INTP对公司的聚会或者其他社交活动可能没有什么热情，这就会让同事觉得他们不合群。其实，他们并不是不想参与其中，如果他们觉得这种聚会还是可以忍受的，他们甚至也会乐在其中呢。但是如果活动持续时间太长，或者聚会中没有什么让他们觉得有意义的对话和交流，他们就会觉得是浪费时间。所以，INTP宁可继续工作，在自己的世界里寻找“有意义的对话”，无论男女，INTP最后都可能会产生愧疚感，因为他们没有履行自己的社会责任。但是如果一定要他们履行这种责任，他们可能就会想“我又陷入困境了”。</p>
<p>在工作中，INTP是思想的源泉，他们独自工作时效率最高，而且他们常表现出创造性，精力充沛，充满乐趣。他们喜欢新的项目和头脑风暴，对INTP来说，生命和工作是一次智慧的挑战，在做事之前要仔细，投入地思考再三。他们喜欢用文字表述得清楚精确，不能忍受模棱两可的观点，或者那些前后矛盾的理论陈述：譬如既赞成又反对。</p>
<p>总体来说，和INTP类型的人一起工作比较容易，他们喜欢在工作中寻找乐趣，独立思考，喜欢自主性强的工作。他们把生活看作是学习。因此，任何能够开发智力的活动都极具价值，从动手拆装到起草项目建议书，都是一个个学习和成长的机会。这是激励INTP的主要驱动力。</p>
<p>对INTP类型的人来说，最重要的是自己的隐私不受侵犯，并以自己独特的方式解决复杂的问题。INTP人勤于思考和分析，有时他们甚至会把周围的世界忘得一干二净而沉浸于深深的思索中。</p>
<p>对INTP人更精确一点的描述是：若有人的理解稍有偏颇，他们就会想方设法指正出来。也正是INTP人的这种敏锐的辨别力使得他们在诸如语法学、语言学等方面比别人有天生的优势。</p>
<p>在大多数情况下，INTP人能随遇而安、通情达理，他们不愿在众目睽睽下表现自己；除非当他们的原则遭到破坏时，他们才会直言不讳、坦率地站出来说话，然后马上回到友好的气氛中默默无闻。</p>
<p>INTP人总会有一种失败感，担心在接下来的事情中会失败。他们在辩论时，与其是在说服对方，还不如是在说服他们自己。就这一点而言，INTJ人是完全不同于INTP人的，他们对自己的能力相当有信心，只要是自己深信的，他们就敢于去做。</p>
<p>INTP的能量源泉是内向的，自省的（I）。他们对世界的印象是概念性的，抽象的和随意的，有着无穷的可能性（N），这也是决策的基础。他们的决策是客观的，严格考虑因果联系（T）。这一切形成了一种灵活，随性，适应性很强的生活方式（P）。</p>
<p>所以复杂的系统，诸如数学、语言、计算机都是INTP人所喜欢并愿意努力去尝试的。对系统的了解、探索、掌握和操纵往往是INTP人无意识的行为，他们能完全忘我地将奇妙的逻辑系统、相互联系的子系统与环境分离并表达出来；对他们而言，完成任务只是次要的。</p>
<h3>描述</h3>
<p>独立而沉静；思维宽广而富有创新精神；好奇而进取；理智随和而适应能力强；有主见而不盲目附从。INTP型的人是理性的问题解决者。他们很有才智和条理性，表现出突出的创造才华。INTP型的人外表平静、缄默、超然；但内心却专心致志于分析问题。他们苛求、精细、惯于怀疑。他们努力寻找和利用原则以理解许多想法。他们喜欢有条理和目的的交谈，而且可能会仅仅为了高兴争论一些无益而琐细的问题。只有有条理的推理才会使他们信服。</p>
<p>通常INTP型的人是足智多谋、有独立见解的思考者。他们重视才智，对于个人能力有强烈的欲望，有能力也很感兴趣向他人挑战。INTP型的人最主要的兴趣在于理解除了能够准确知道、接受和明显的事物之外的可能性。他们乐于为了改进事物的状况或解决难题而发展模式。他们的思考方式极端复杂，能更好地组织概念和想法而不是人。有时，他们的想法过于复杂以致很难向别人表达和被人理解。INTP型的人十分独立，喜欢冒险和富有想象力的活动。他们灵活易变、思维开阔，更感兴趣的是发现有创见而且合理的解决方法，而不是仅仅看到眼前现成的解决方式。</p>
<p>INTP型的人几乎没有情绪，无视批评和赞美，生性喜欢当旁观者。他们没有要影响别人的强烈动力，也没有伤害或冒犯他人的意图，INTP对他人感受的关注度正常情况下基本是零，更多时候他们只想表达自己真实的看法而已。他们通过逻辑推理过程与感受自我成长获得成就感。</p>
<h3>认知功能</h3>
<p>寻求精确，比如表达一个概念最合适的词。它注意到事物本质之间微不足道的差别，然后将它们分析并归类。Ti细查一个问题的每一面，寻找解决问题最不费力、风险最小的方法。它用模型甄别出逻辑上的不一致。冷静、明晰，注意将现实粘合在一起的力量。作为内倾思考型，INTP的精力和时间主要用于管理内在的、逻辑性世界里的原则(事物的本质，事物的原生规则)。 并将其概括化为可以理解。作为主导功能的Ti更倾向于与广义逻辑相似。</p>
<p>寻找并解释隐含意义，用“如果”开头的问题来探索选择，允许多种可能性共存。这种想象中的游戏把直觉和来自多种不同来源的经验和想法结合在一起成为新的，这可能成为行动的催化剂。让INTP能够领会他们周围世界的格局。他们用他们的直觉把经验性的数据变成连贯的图片，由此则可以得出一般原则。INTP经常为一个问题苦思很久，直到最后靠着一瞬间的洞察力得出答案。</p>
<p>收集关于当下的数据，然后把它们和过去的经验比较，这过程有时候随着记忆唤起与之关联的感觉，就好像再体验一遍过去。为寻求保护那些熟悉的东西，回溯历史，用以形成对未来的期望和目标。给了INTP热衷于观察的潜力。他们利用这个功能来收集基于经验的数据，利用物质工具，察觉物质上的关系，以及用一个充裕的感官空间来支撑他们的内在逻辑。</p>
<p>寻找社会上的联系，并用礼貌、体贴、得体的举止营造和谐的沟通。对他人明确（或暗示）的需求作出回应，甚至可能会制造内在自我需求和欲望的冲突来满足别人。让INTP在群体中渴望和谐。当他们最感放松的时候，或当他们在团体中有一个明确界定的角色时，INTP们可以是迷人而直率的朋友。然而，当在压力下时，INTP可能会感觉和周边的人失去了联系，无法用他们的外倾情感和他人交流。作为他们的弱势功能，情感可能是个弱点：当被威胁的时候，它将会躲到毫无感情的逻辑之后。这可能会让他们抑制情感，好保存理智和和谐；但是当无法控制这些隐藏情感的时候，它们将会导致不恰当的突然爆发。</p>
<p>后来的人格类型研究者（特别是琳达·V·贝伦斯）在这个降序排列中添加了四个附加功能。这些功能被称为隐藏功能，因为一个人并不自然地倾向于它们，但在压力之下它们也会浮现。对INTP来说，这些隐藏功能是（按次序）</p>
<p>组织、安排环境和想法，好成功达成目标。更倾向于逻辑中的推理和狭义逻辑，寻求行动、事件和结论的合理解释，并试图找到逻辑的错误和序列中的间隔。</p>
<p>将看起来矛盾的事物合成出先前无法想象的成果，同时它也被象征性的东西吸引。这些成果的实现通常伴随着需要行动来完成的确定性，同时其解决办法中可能包括复杂的系统或一般性的真理。</p>
<p>集中于当下的、物质的世界所带来的体验和感觉。以对当下周遭事情的敏锐察觉，它带来关于前方的相对事实和细节，而且可能导致自发的行动。</p>
<p>过滤信息，这种过滤的基础是缘于标准（经常是无形的）形成的判断。Fi时常协调价值观。在各种情形下，它天生地和微妙的差别相合，并知道什么是对什么是错。</p>
<h3>性格盲点</h3>
<p>因为INTP型的人过分依赖他们的理性分析，所以他们会忽视与别人有关的事物。如果某一方面不符合逻辑，即使对于他们来说很重要，他们也会冒险抛弃。承认自己所真正关心的，会有助于他们与真实的情感保持联系。</p>
<p>INTP型的人精通于观察一种思想的缺陷，但对于表达自己的评价却沉默寡言。因为他们拒绝在整个计划中存在一点不符合逻辑的地方，所以他们在涉及计划某部分的一个细微错误之时迟滞不前，使整个方案难以完成。当他们把自己高度磨练过的批评性思考运用到周围的人身上时，他们的坦诚会变成一种无意的伤害。必须告诉他们，而且他们必须学会询问在情感上与别人相关的事务。</p>
<p>因为INTP型的人喜爱解决问题，所以往往他们会对常规的细节缺少耐心，而且如果一个计划需要过多的细节或持久贯彻，他们会失去兴趣而永远完成不了计划。向外转移他们的能量会使他们获得充分的实际知识以产生可行的、让别人能接受的想法。</p>
<p>当INTP型的人努力维持自己高标准的完美时，他们有时会感到困扰。学会与别人分享感受会帮助他们获得更现实和客观的见解。</p>
<h3>适合的职业</h3>
<p>大多数象你这样特点的人喜欢在技术领域工作，运用自己独特的能力来分析复杂的系统，形成富有创意的解决办法。例如：软件设计师、网络管理员、电脑工程师、系统分析人员、研究开发专业人员战略策划、金融规划师、电脑漫画设计者、分析人员等。</p>
<p>医学和科技领域能够充分发挥你出色的推断能力，站在行业的前沿与复杂高深的概念打交道，并带有一定的风险性也是你在工作中要求的。例如：物理学家、美容师、药剂师、兽医、生物学家等。</p>
<p>你具有清晰的、逻辑性较强的思维和创造才能，在那些用这些方式来解决问题的专业和商业性领域工作对你也很有吸引力。例如：律师、经济学者、心理学者、建筑师、金融分析者、商业分析、情报专家、口笔译人员等。</p>
<p>那些给你提供可以创造出完全新奇的东西的领域，那些可以经历许多不同事情的领域也是你需要考虑的。例如：摄影师、作家、艺术家、发明家、天文工作者、制片人、音乐组织者、美编等。</p>
<p>职业满足会使你的工作主动性更强，积极性更高，更愿意去工作。以下不是简单的告诉你什么样的工作适合你，而是细化的帮你分析工作中的哪些特质对你重要，你还需要从中选出你认为最重要的，因为不同经历的人对特质的重要程度要求是不同的。每个岗位的工作内容都在随企业的发展而发展，不是一成不变的，有时候岗位的发展方向需要我们自己去争取。所以找到适合的工作不如找到适合自己发展的岗位更直接。这些特质可以帮助明确如何主动的发展或争取你岗位中的那些特质。</p>

<h3>关于伴侣</h3>
<p>作为一个学者型，你对恋人而言很可能是一个谜。你可以以非常敏锐且理性的思维，和任何人周旋在智慧的逻辑循环中。</p>
<p>学者型对笨蛋可是一点耐心也没有。你的情人必须反应灵敏、有智慧、同时可以跟得上你兴奋且快速的大量想法和计划。外貌虽然有影响，但是当你在选择一个一辈子的伴侣时，最重要的是考量对方的智力。</p>
<p>虽然你一开始被某人吸引时，在情感上也许会短暂失控，但是你很快地就会调整回来，重新开始逻辑性地思考。不管你的伴侣是多么的好或多么的吸引人，在你付出爱情之前，他或她必须先满足你对逻辑性的要求。</p>
<p>相当多的学者型并不关注他们的情感面，也不注意伴侣对情感的需求。同时，由于本身内向的个性，学者型也许不能适应社会礼仪，而造成很尴尬、很愚笨、甚至让他们较懂人情世故的伴侣在别人面前丢脸。</p>
<p>学者型可以是可塑性很高且很好的伴侣，只要他们能努力改善自身的缺点，并且善于利用他们人格中的长处，也就是超强的想像力和温顺的性格，来加强他们的人际关系。当他们这样做的时候，学者型将可以享受非常成功的感情和婚姻关系。</p>
<h3>关于爱情</h3>
<p>感情中的优点: 对身边的人有孩子一般纯净的爱和关心、通常很放松并容易相处，愿意顺从同伴、对感兴趣的事情充满激情、充满想象力和创造力、不会将矛盾和批评看作对自己的攻击、通常无欲无求，只要满足日常所需即可</p>
<p>感情中的弱点: 天生不易顾及对他人的感受，对他人的情感需求反应迟钝、天生不善于表达他们自己的感受和情绪、倾向于缺少对他人的信任，总是持有怀疑态度、通常不擅长务实的事物，例如理财，除非他们的工作涉及这一领域、很难离开一段没有未来的感情、倾向于以逃避来避免矛盾争吵，或者走向另一极端——大发雷霆</p>
<h3>工作中的优势</h3>
<p>急切地"想知道盒子外面的世界"，能想出一些新的可能性；能够理解非常复杂和高度抽象的概念；杰出的创造性地解决问题的技能，具有探险精神、创造意识以及克服困难的勇气；独立自主，能一个人工作，并且全神贯注；能够综合考虑和运用大量的信息；搜集所需用信息时理智的好奇心、独特的洞悉力；即使在压力很大的情况下也能逻辑地分析事物；喜欢能够学到新知识、掌握新技能的环境，学习新知识的信心和动力都很大；客观性；能够客观地分析和处理问题，而不是感情用事；对自己的想法和观点充满信心；能够有远见的分析问题，能够把握事情的全局，弄清行为和思想的长远影响；能灵活地适应新情况，有熟练的随机应变的能力；有稳定平和的心态；有冲劲和闯劲，不患得患失</p>
<h3>工作中的劣势</h3>
<p>办事情可能条理不清，容易发生紊乱、过于自信；可能会不恰当地运用自己的能力和社会经历；对思维狭窄和思想固执的人缺乏耐心；不喜欢按传统的、公式化的方式来办事；做事容易丧失兴趣，主要问题一旦解决，兴趣便不复存在，不能实施并贯彻到底；不擅长于把复杂的思想和问题用简明的形式表现出来，并用简单的形式将其解决；可能过于理论化，而忽视或无视现实性，某些观点的实施不现实；不能严格要求自己只考虑且解决重要的细节性问题；不喜欢重复地做同一件事，对琐碎的日常工作缺乏耐心；对程式化的事情和固执的人缺乏耐心；你们的思想、观点对别人来说过于复杂、难以理解；对别人的情感、批评和要求反映迟钝；斗志不足，容易松懈，通常不愿付出过多的努力；在压力和挫折面前不够坚持</p>
<h3>发展建议</h3>
<p>INFJ成功的秘诀就是：更加有条理，尝试坚持计划；对他人要有耐心；体会他人感受和反应，增进自己的人际交往</p>
<p>工作可以去挑战复杂的问题，可以尝试一些别出心裁的方法，并为找到更好的结果去冒险</p>
<p>工作可以不断提高自己的能力和权力，与那些有才华的人们一起工作</p>
<p>让你把精力投入到有创造性的、富于理论逻辑的过程，而不是最后的结果</p>
<p>不需要花时间组织或管理其他人，调节人际关系</p>
<p>工作环境灵活宽松，没有过多的限制、规则和烦琐的会议</p>
<p>独立工作，需要有大量的不受打扰的时间，有较多的深入需要深入思考的事情</p>
{% endblock %}
