{% extends "mbti/personalities/base.html" %}
{% block title %}ISFJ{% endblock %}

{% block type %}ISFJ{% endblock %}
{% block subline %}照顾者（保护者）型人格{% endblock %}

{% block article %}
<h3>概览</h3>
<p>ISFJ照顾者（保护者）型，作为一个ISFJ，你的首要生活模式注重内省，通过五感来直观具体地认识事物。你的次级生活模式是外向的，在这种模式中，你通过自己对事物的感觉或者它们是否符合你的价值体系来处理问题。天性热情、友好且认同他人，但对于自己的需求不够重视。</p>
<h3>性格特点</h3>
<p>ISFJ所生活的世界实在而平和。他们非常热情亲切，总是愿意相信别人好的方面。他们重视和谐与合作，对他人的感受通常也会十分敏感。人们尊重ISFJ，不仅因为他们考虑周到、观察仔细，还因为他们总是能通过自己对别人良好的愿景来挖掘他人的潜力。</p>
<p>ISFJ的内心世界十分丰富，而旁人常常难以觉察到这一点。ISFJ们会不断吸收那些对自己来说重要的他人和情境的信息，并将这些信息储藏起来。由于ISFJ对于对自己的价值体系有重要意义的信息往往都有着极为出众的记忆能力，因此他们所储备的这些丰沛的信息常常极为准确。只要ISFJ为某个情境所动，他们就非常有可能在事情发生的数年之后还能记得当时的一个表情或一段谈话的细节，这种现象根本不足为奇。</p>
<p>ISFJ们对于事物有自己清楚的认识，这是他们不断努力获得的能力。他们重视安全感和友善的感觉，尊重传统及法律。他们相信现存的体系，认为它们之所以存在是因为能够正常运转。因此，他们不会尝试用新的方法来解决问题，除非让他们明确地看出其相对于旧方法的优势所在。</p>
<p>ISFJ学习的最佳途径就是实践，而非照本宣科或引用理论。正因为这样，在那些注重概念分析或理论的领域很难看见ISFJ的身影。他们重视实际应用。传统的高等教育由于需要和大量理论化及抽象化的内容打交道，因此对ISFJ来说是很是麻烦。如果ISFJ了解所做任务的实践应用，他们就能很快掌握。此外，一旦他们掌握如何工作，并理解其在实践方面的重要性，ISFJ就会忠实且不知疲倦地从一而终。ISFJ类人群是极端可靠的。</p>
<p>ISFJ有着极为成熟的空间感、功能感及美感。由此，他们的家居布置往往漂亮且实用。他们特别擅长内部设计装潢。ISFJ的这种特殊的能力，加上对别人的感受和愿望敏锐洞察力，让他们成为绝佳的“送礼者”——总能找到让别人爱不释手的物品。</p>
<p>相较之其他性格类型，ISFJ对于自身以及他人的内在感受极为敏感。他们通常不轻易流露自己的情感，而是将它们留在自己心里。因此一旦产生任何负面情感，这些情绪就可能在ISFJ体内慢慢滋长，并逐渐形成对他人固执的批判观念。而且，这些观念一旦形成就很难消减。许多ISFJ都学着表达自己，并为自己寻找发泄情绪的方式。</p>
<p>正如ISFJ不大会表达出自己的感受一样，对于他人的感受，即使了解，他们也往往采取闭口不提的态度。然而，当他们觉得别人真的需要帮助时，就会毫无保留地说出来。在这种情况下，ISFJ能够真正地帮助其他人认识到自己的感情。</p>
<p>ISFJ拥有强烈的责任感和使命感。他们对待自己的责任认真严肃，而且绝对会从一而终。正是出于这种原因，人们总会信任依赖于他们。每当别人要求他们做某事时，ISFJ很难拒绝对方，并可能因此而让自己负担过重。在这种情况下，ISFJ通常不会向别人表达自己的难处，不仅仅是因为他们强烈厌恶矛盾冲突，还因为他们总将他人的需要置于自己的需要之上。如果ISFJ希望避免过度劳作，或者不希望自己的劳作被别人认为是理所当然的话，就要学会认清、重视并表达自己自身的需要。</p>
<p>ISFJ们需要从他人那里得到正面的回馈。当缺少正面回馈，或者面对批评时，ISFJ会显得消沉，甚至可能会变得郁郁寡欢。当他们意志消沉或承受巨大压力之时，ISFJ就开始设想那些生活中可能会出现的致命错误。他们会强烈感到自己无能，并确信“一切都出错了”，或者“我什么也做不好”。</p>
<p>ISFJ热情、慷慨且值得依赖。他们拥有许多特殊的天赋，包括对他人的感知力以及保持事情正常运转的不凡能力。他们需要记住，不要对他人过分的挑剔；在无私地给予他人温暖和爱心的同时，记住要给自己也留一些。</p>
<p>保护者最大的愿望是对他人有用并能够照顾他人，就是保护别人，使之远离生活中的缺陷和危险，即负责他人的安全，他们在这个过程中得到无限的满足。温和而有益的给人以安慰、默默的留意着安排适当的照管措施，用以保护那些对此有需要的人们的健康和福利。他们友善或重情意，所以更倾向于保管者的角色，并且，宁静斟酌的特点决定了他们似乎更于保护者而非供应者。他们占总人口的10%，是件好事。因为他们在保护他人的过程中时刻保持着警觉状态，并严守诺言来履行保护家人、朋友、同事的义务。他们乐于帮助受压迫的人，比其他人对残疾人和贫穷者更好。</p>
<p>他们谨慎、不固定的从事其照顾工作，因此他们的努力有时并未被人意识到。他们不健谈，但，他们仍可能不知道疲倦的与人闲聊，只要谈论的话题和他们生活中的细节相关即可。可是他们在陌生人面前的羞怯表现往往被误认为是呆板，甚至是冷漠，而这些保护者实际上具有古道热肠，乐于无私的帮助有困难的人。不过，当人们在他们的帮助下脱离困境时，他们反而失去了兴趣。</p>
<p>他们的矜持应该被看做是一种表情，不是冷漠，而是真挚、严肃意识的表现。他们觉得，工作是有益的并需要去赢得。他们情愿工作很长很长时间，做别人不屑于作的零活。做事彻底和节省是他们的美德之一，一旦承担了某项工作，他们就会尽力完成。他们非常喜欢独立工作，实际上，当被置于某种权力地位时，他们甚至会觉得不自在。或许是愿意自己作每件事，而不是指挥别人去作吧。</p>
<p>因此，他们经常操劳过度，就像他们常常被误解一样，他们的贡献，常常被视作理所当然而得不到相应的感谢。这可能使他们产生愤慨的感觉，而且他们将这种情感尘封起来，忍受内心的苦恼，从而导致许多不必要的痛苦。</p>
<p>他们在工作中可以信赖，但在得不到尊重的情况下会显得很不快乐。如果有人违背规则，他们会变得悲哀和局促不安，尽管他们表现不出来，但这种痛楚可能郁结在心中，表现出疲惫和慢性胃功能紊乱。</p>
<h3>适合的工作</h3>
<p>监护人、私人秘书、图书馆管理员、中层管理者、私人医生、护士、保险代理人。</p>
<h3>适合的伴侣：创业者</h3>
<p>易于感到彼此很合适。创业者外向、坚强，往往得意于事业的高峰；而喜好隐居的、友善的保护者，为他们提供了一个安静的庇护所。</p>
<h3>关于家庭</h3>
<p>专心于伴侣和家庭，通常是极好的操持家务者。女性往往显现出对屋内布置的才能，并尽心尽力的履行主妇的责任；男性，管理资金和家里出现的一些小问题。作为父母，他们温和的对待孩子，并认为自己有责任促使孩子们遵守社会规范，让孩子们远离诡诈和危险。其实，保护者的父母，更应该懂得鼓励孩子的独立性。</p>
<h3>关于领导</h3>
<p>否则提供适当的安全保障以及观察预防性措施的执行情况，都是为了保护他们所关心人员和财产安全。他们天生的谨慎和注重安全感，但没有谁能像他们给人安全感和承诺。安全是他们做事的最先考虑，领导者需要特别小心的感激这类人。管理者的角色在这类人的身上，通常表现得略微弱些，他们从事这些的机会也较少，也是注重实践，不重视效果。</p>
<h3>排序</h3>
<p>主导：内向实感 · 次要：外向情感 · 辅助：内向思考 · 低级：外向直觉</p>
<p>ISFJ们对于人际关系极为重视，他们通常慷慨宽容、钟情且忠实，并会将他人的需要置于自己的需要之上。一些情况下，他们会有极大的情感上的需要，然而他们会自己的真实感受在别人面前隐藏起来。他们对于自己的承诺十分认真，寻求能够维系终生的情感。ISFJ非常可靠，他们会投入大量的精力为了使事情顺利进行。每当别人要求他们做某事时，ISFJ很难拒绝对方，也正因为如此，他们的努力常常被认为是理所当然的。</p>
<h3>优点</h3>
<p>天性热情、友好且认同他人</p>
<p>服务他人为主，希望取悦他人</p>
<p>会花大量的精力来实现自己的责任和义务</p>
<p>优秀的组织能力</p>
<p>对于自己的承诺十分认真，寻求能够相伴一生的伴侣</p>
<h3>缺点</h3>
<p>对于自己的需求不够重视</p>
<p>在接触新鲜事物时有一定的困难</p>
<p>极度厌恶冲突矛盾及批评</p>
<p>通常隐藏自己的需求，这可能会造成内心情感压抑导致挫败感</p>
<p>不擅结束一段不良的情感</p>
<p>很难走出一段失败感情的阴影</p>
<h3>爱情观</h3>
<p>ISFJ们对于感情十分投入。他们有着十分强烈的感情，但对这一点其它人往往一时难以察觉，除非有什么强烈的理由迫使他们一定要表达出来。正因为他们所拥有的强烈的感情，ISFJ会非常重视自己的婚恋关系（例外情况：当他们信仰上帝或其他宗教）。他们一生只希望能寻觅到一个配偶，一段终生的承诺。一旦ISFJ做出自己的承诺，就一定会对自己的伴侣专一不二。</p>
<p>ISFJ们很难让自己离开一段不好的感情，或者接受感情已经结束的事实。他们可能会将所有的罪责都揽到自己身上，还会想自己本应该做些什么让感情不至于结束。一旦他们觉得自己对失败的感情已尽到了一切责任和义务，就会完全受挫，难以接受失败的事实。他们是用情极度认真且专一的爱人，极有可能对自己故去的伴侣留存一种至死不渝的爱。</p>
<p>ISFJ通常非常无私，并总会将他人的需求至于自身需求之前。因此一旦他们被人利用，而且无法发泄自己强烈感情的时候，就非常有可能适得其反。在这种情况下，ISFJ内心的情感会一拥而上，由此对他人产生强烈的憎恶情绪。ISFJ们应该努力认清自己的需求，努力满足它们，而不应该总将别人的需求放在第一位。说到底，如果你连自己都照顾不好，你又怎么能照顾别人呢？</p>
<p>在性方面，ISFJ将性爱视为加强双方感情的有形方式。他们也会将其视为是一种职责，因此比起获取自身的满足感，他们更愿意先满足自己的爱人。虽然ISFJ在对爱意的言语表达上不是那么在行，但是他们通常会用自己的行动表明一切，并非常重视爱人对自己肯定的回应。</p>
<p>ISFJ热情而无私。对自己认定的职责，他们会花大量时间和精力来完成。当他人对ISFJ表现出感激之情时，他们会感到最大的满足。因此对ISFJ来说，爱人爱与感激的表达是对他们最好的礼物。</p>
<p>ISFJ们难以应对冲突和矛盾，通常情况下，他们宁可选择视若罔闻的方式来逃避这种情境。有些时候，直面冲突能够帮助我们更好地解决它。ISFJ应该意识到，直面冲突并表达自己的感受并不代表世界末日的来临。冲突并不一定是需要避免的“问题”，而且造成冲突的原因也不一定是ISFJ。ISFJ人群的一个通病就是避免表达自己的情感，直到达到自己忍受的极限。而一旦情绪爆发，他们会极端愤怒并说出让自己之后后悔的激烈言辞。其实，只要能够定期表达自己的情感，这种爆发是完全可以控制的。</p>
<p>总体而言，ISFJ传统而且顾家，他们将伴侣和家人的快乐视为自己生命中最重要的事情。ISFJ善于满足他人的日常所需，他们在关爱他人方面表现出的深度是十分罕见的，且是无法在大多其他性格类型身上找到的。他们会为感情的健康发展倾注大量的精力，并会尽自己全力来确保事情进展顺利。ISFJ绝对是可靠且充满爱情的爱人。</p>
<p>两个性格发展完整的个体固然可以拥有一段健康的恋情，但是ISFJ的最佳选择是ESTP或者ESFP。ISFJ的主导官能内向感知与主导官能是外向感知的另一半形成了完美的互补。虽然说任何性格类型的两个个体，只要性格发展完整都可以拥有一段健康的恋情。但是，与ISFJ更合适的天生伴侣为ESTP、ESFJ或ESFP型性格。ISFJ的主导官能为“内向实感”与这两种性格类型的主导官能“外向实感”最为匹配。</p>
<h3>心理特点</h3>
<p>收集储备有大而广的跟人有关的信息，对于重要的细节有着极强的记忆能力，对于周围事物观察细致——有着极佳的空间感和功能感，能够依靠他们来从头到尾完成事情，能够长时间的努力工作直到任务完成，实际稳重、脚踏实地——他们不喜欢跟理论及抽象思维打交道，重视安全、传统和平静的生活，以服务他人为生活重心，关注他人的需求，将他人的需求先于自己的来考虑，在实践中能够得到最佳的学习效果，认真严肃地对待自己的责任，在冲突和对峙情境中表现出极度不适。</p>
<p>ISFJ有两个基本的性格特质能够帮助他们认清自己的从业方向：</p>
<p>1）对于其他人的感受十分感兴趣并有着极强的观察力</p>
<p>2）喜欢创造架构和秩序且擅长于此。理想情况下，ISFJ选择的职业应该选择能够发挥自己不凡的察言观色能力发掘他人所需，并能用自己绝佳的组织能力来创造有结构性计划或环境满足他人所需。他们绝佳的空间感和功能感，结合上它们对美的认识，也能够让他们在应用性的艺术工作中大展拳脚，比如内部装潢或服装设计。</p>
<h3>适合的职业领域</h3>
<p>CEO、创业、IT、室内装潢设计师、设计师、护士、主管及经理、行政助理、幼师/早教师、社工/咨询师、律师助理、神职人员/宗教工作者、办公室经理、零售商人、档案管理员、家政人员</p>
<p>不论你是正在寻找自己在世界中的位置的青年，抑或不再年轻且想要设法知道自己是否在正确的轨道上前行，你都必须认识你自己，并了解自己的性格特征。这些内在元素会对你在职业生涯中的成败起着决定性的作用。此外，了解什么才是对你最重要的，了解自己的长处和短处，并意识到了自己真正喜欢什么，那么你就拥有了足够的能力来找到适合你的职业之路了。</p>
<h3>如何与ISFJ型的人相处</h3>
<p>ISFJ型的人生活在完全现实的生活中，他们很难全面地观察问题，也很难预见情形的可能性结果，尤其是当他们不熟悉情形之时。他们需要看得更远些，想象如果以不同方式做事可能会产生怎样的后果。</p>
<p>ISFJ 型的人为了自己和那些对其应负责的人，每天陷入了劳累和无终止的劳作中。他们常常过多地工作，亲自去做某件事以确保能够一丝不苟地完成。因为他们天生并不是过分自信或意志坚强，所以他们有被别人利用的危险。他们必须表达不断被各种事物缠绕的怨恨之情，所以他们没有发现自己已成为一种帮助的角色。而且他们还必须让其他人知道他们的需求和成就。</p>
<p>ISFJ型的人经常需要额外的时间以掌握技术性的内容。他们往往过多地计划，所以必须制定有助于重新调整他们那耗费过多、令人担心的精力的计划。ISFJ型的人必须寻找能够得到他们应得的、更多的快乐和放松的方法。</p>
{% endblock %}
