{% extends "mbti/personalities/base.html" %}
{% block title %}ISFP{% endblock %}

{% block type %}ISFP{% endblock %}
{% block subline %}艺术家型人格{% endblock %}

{% block article %}
<h3>概览</h3>
<p>国际最为流行的职业人格评估工具MBTI分析中，16种人格类型中的一种，ISFP为艺术家型人格， 具有以下特征：1.羞怯的、安宁和善地、敏感的、亲切的、且行事谦虚。2.喜于避开争论，不对他人强加已见或价值观。3.无意于领导却常是忠诚的追随者。4.办事不急躁，安于现状无意于以过度的急切或努力破坏现况，且非成果导向。5.喜欢有自由的空间及照自订的时程办事。</p>
<h3>性格特点</h3>
<p>友好谦逊，感情投入；关心熟人，并能真挚的对待；对批评很敏感，容易受伤；温柔文静，谈吐文雅；很现实，但平易近人沉静，友善，敏感和仁慈。欣赏目前和他们周遭所发生的事情。喜欢有自己的空间，做事又能把握自己的时间。忠于自己的价值观，忠于自己所重视的人。不喜欢争论和冲突，不会强迫别人接受自己的意见或价值观。</p>
<p>isfp型的人平和、敏感，他们保持着许多强烈的个人理想和自己的价值观。他们更多地是通过行为而不是言辞表达自己深沉的情感。</p>
<p>isfp型的人谦虚而缄默，但实际上他们是具有巨大的友爱和热情之人，但是除了与他们相知和信赖的人在一起外，他们不经常表现出自我的另一面。因为isfp型的人不喜欢直接地自我表达，所以常常被误解。</p>
<p>isfp型的人耐心、灵活，很容易与他人相处，很少支配或控制别人。他们很客观，以一种相当实事求是的方式接受他人的行为。他们善于观察周围的人和物，却不寻求发现动机和含义。</p>
<h3>处事特点</h3>
<p>因为isfp型的人完全生活在目前之中，所以他们的准备或计划往往不会多于必需，他们是很好的短期计划制定者。因为他们完全投入于现在，喜欢享受目前的经历，而不继续向下一个目标冲刺，所以他们对完成工作感到很放松。</p>
<p>他们对于从经历中直接了解和感受的东西很感兴趣，常常富有艺术天赋和审美感，力求为自己创造一个美丽而隐蔽的环境。</p>
<p>没有想要成为领导者，isfp型的人经常是忠诚的追随者和团体成员。因为他们利用个人的价值标准去判断生活中的每一件事，所以他们喜欢那些花费时间去认识他们和理解他们内心的忠诚之人。他们需要最基本的信任和理解，在生活中需要和睦的人际关系，对于冲突和分歧则很敏感。</p>
<p>对ISFP 类型的人来说，最重要的是能与周围的人和睦共处，与周围环境和谐发展。ISFP 人是最早领略到各种盛景的人。许多人迫不及待的追逐时尚 ，体验前卫，紧随潮流------ 有些甚至创造潮流。</p>
<p>ISFP 人的生活着眼于眼前。他们渴求自由，当不受约束时他们显得很松散。那些一直压抑着这种情绪的ISFP人 ，他们的内心会感到很郁闷，最终可能会强烈地宣泄出来。</p>
<p>初次见面时，ISFP 人可能很讨人喜欢，很会逢迎人，他们会说一些事实或并非事实的恭维话。可等下一次见面时，同样一个人，可能就会显得很冷淡。一些ISFP 类型的男性非常具有竞争力，尤其在运动或桌球上，要让他们输上一局可能会很难。这种在其他SP 类型人中也有的本性----竞争性，使他们认为自己是"幸运"的，并勇于冒险。</p>
<p>ISFP 人 和INFP 人一样会经常感到困惑 ，但INFP 人比ISFP 人更会幻想，他们对诗歌、散文和哲学有更多的追求；而ISFP人一般不愿在这些方面写书立著，甚至谈及，他们愿实实在在得生活。</p>
<h3>对组织的贡献</h3>
<p>注重组织成员的需要和要求；</p>
<p>采取行动以确保他人的适意感；</p>
<p>在工作中注入轻松愉快；</p>
<p>借助其合作的天性把人和事组织在一切；</p>
<p>关注组织中人的因素。</p>
<h3>领导风格</h3>
<p>喜欢采用合作的团队方式；</p>
<p>运用相互间的情感交流作为激励他人的手段；</p>
<p>更倾向于赞扬而非批评；</p>
<p>凭借对他人的良好意愿，温和地说服他人；</p>
<p>能应付情境并适应情境的要求。</p>
<h3>潜在缺陷</h3>
<p>过于轻信别人并容易上当；</p>
<p>即使在必要时也不批评他人，而只是过分地责难自己；</p>
<p>没有看到现实背后的东西，全方位地审时度势；</p>
<p>太容易受伤害和退缩。</p>
<h3>适合的工作环境</h3>
<p>需要默默地积极工作的合作的同事；</p>
<p>照顾个人的隐私空间；</p>
<p>有礼貌的同事；</p>
<p>人员导向。</p>
<h3>盲点</h3>
<p>高度的敏感天性使isfp型的人清楚地了解别人的需求，他们有时过度地工作以满足那些需求，以致于在这一过程中忽略了自我。他们必须更多地关心自己而不是别人。</p>
<p>因为他们完全把注意力集中于现在他们的经历，所以往往无法看得更远，从而丧失了更广泛的视野。有时他们很难理解一个较为复杂的环境事务。因为他们通常不会寻找或观察在目前不存在的可能发生的事物，所以他们往往不会事先准备，也很难有条理地安排时间和资财。他们本来是应该努力工作以约束自己的冲动，从而完成任务和享受——段安静时光，或是参加一项自己喜欢的活动。</p>
<p>isfp型的人往往做个人的反省，然后变得很生气和失望，所以说他们是很容易受别人影响的。由于他们总是按人和事物所呈现的表象来认识他们，却从来不会预想其中的不良动机或从中推断出其他的内容，所以人们常认为他们过于信任他人，很容易上当受骗。他们必须对自己的需求更加关心，进一步考虑他人行为的含义。对自己的分析更多地具有怀疑精神和客观性，会使他们的判断力更出色。</p>
<h3>适合的职业领域</h3>
<p><strong>工艺部门</strong>: 时装设计、木匠、珠宝商、园艺匠、织毯工人、陶工、漆匠、舞蹈员、内容/背景设计人员、厨师长</p>
<p>这些职业对isfp型的人主要吸引力在于它们能提供用他们的双手创造外观以吸引人，更多的是有用在实际工作中，他们喜欢运用五种感觉，从事实际的工作。那些职业为，isfp型的人提供了灵活的时间和自由安排工作的机会。大多数isfp型的人喜欢自主，不必遵守管理规则。</p>
<p><strong>健康护理部门</strong>: 上门服务护士、运动专家、按摩医生、放射技师、医务助理、牙科助理/保健医师、兽医助理、动物护理人员/训练人员、家庭保健助理、初级保健大夫、饮食专家/营养学家、验光师/配镜师、运动心理专家、职业疗法医师、工艺师、药剂师、呼吸系统专家、执职行医护士</p>
<p>isfp型的人常可以从健康护理业中获得满足感，尤其是那些能让他们直接同用户和患者打交道的工作。他们喜欢许多治疗工作的亲手参与的特征——在危机中或危机后，从身体到感情上帮助他人。他们通常善于观察，能对微小变化做出反应，喜欢解决短期问题。对于isfp型的人而言，从这些职业以及其它任何职业获得满足感的最重要成分是能看到或体验对他们成就的反馈以及能意识到他们工作的重要性。</p>
<p><strong>技术工作</strong> 调查员、计算机操作人员、林务员、植物学家、地质学家、技师、海洋生物学家</p>
<p>isfp型的人喜欢实际工作，不喜欢理论工作。他们倾向于喜欢运用实际的积极的技术，户外工作的机会尤其为isfp型的人喜欢，他们对工作中的变化和种类表现出极大的兴趣。</p>
<p><strong>销售/服务业</strong> 教师：初级(自然科学/艺术)、警察/劳改官员、紧急热线电话操作员、清洁服务人员、仓库保管员、侍者、美容师、旅行用品推销、优质用户销售代表、商业计划人员、体育设备推销、家用保健品推销、家庭保健护理人员、儿童福利咨询人员、戒酒戒毒顾问、社会工作人员(老人、儿童日常护理问题)</p>
<p>许多isfp型的人在服务部门找到了让他们满意的工作。让他们从事满足人或动物的需要的工作最值得干。他们喜欢能分享他们价值观，培养和鼓励人际和谐、合作，以及能认可他们的成绩的工作环境。许多isfp型的人喜欢处在特定的主观环境，通常和小孩在一起，在这种环境中，他们有机会表露自然性和乐趣。</p>
<p><strong>商业</strong>记帐员、司法员、打字员、职员监督人员、经理人员、律师帮办</p>
<p>职员工作，如果是处于一种适合的环境，也能给isfp型的人提供满足。关键因素是在一种积极支持的气氛中运用他们实际技能的能力。当作为小组一部分而工作，或处于一种能尊重个人隐私和成长的稳定环境中时，isfp型的人工作总很出色。他们喜欢能让他们创造和保持愉快的、个性化的工作环境的职业部门。</p>
<h3>发展建议</h3>
<p>学会声明自己的主张；</p>
<p>脚踏实地，在更广阔的背景下考虑问题；</p>
<p>不要太个人化地看待事物。</p>
<p>需要发展怀疑和分析信息的方法，而不是一味接受；</p>
<p>需要学会在他人自鸣得意时作出否定性反馈；</p>
<p>需要发展一个更加未来导向的前景；</p>
<p>需要更果敢和更直接地对待他人。</p>
<h3>关于爱情</h3>
<p>你是天生的芳香剂，善于安抚别人，带给别人快乐，教导另一半如何欣赏大自然和一切的生命。但是，在为其他人带来快乐的同时，你也很容易感到悲伤。</p>
<p>恋爱对你而言，是一种“要不就是拥有全世界，要不就一无所有”的经验。由于你倾向于把自己封闭在你的小世界里，以执著的心去感受爱情，所以也有可能因为爱情而受伤害。</p>
<p>为了取悦你的爱人及维系这段感情，你有可能会做出生活中的改变，比如搬家、换工作或是向你的老朋友道再见。</p>
<p>如果你的爱人刚好是那种没有回应且要求很多的人，你可能会受到他的责难和命令，因为你会为了爱情做任何事情。</p>
<p>作为一个艺术家型，奉献和柔顺是你带给一段感情最重要的两个特质。你真心且几近天真地表达爱意，会让那个真正适合的情人(和你自己)非常快乐。</p>
<p>但必须确定你选择了一个相配的伴侣，因为一旦陷入爱情，你就等于坐上了一列几乎停不下来的过山车。</p>
{% endblock %}
