{% extends "mbti/personalities/base.html" %}
{% block title %}ISTJ{% endblock %}

{% block type %}ISTJ{% endblock %}
{% block subline %}公务员型人格{% endblock %}

{% block article %}
<h3>概览</h3>
<p>ISTJ（内倾、感觉、思维和判断）ISTJ型的人是严肃的、有责任心的和通情达理的社会坚定分子。他们值得信赖，他们重视承诺，对他们来说，言语就是庄严的宣誓。 ISTJ型的人工作缜密，讲求实际，很有头脑也很现实。他们具有很强的集中力、条理性和准确性。无论他们做什么，都相当有条理和可靠。他们具有坚定不移、深思熟虑的思想，一旦他们着手自己相信是最好的行动方法时，就很难转变或变得沮丧。</p>
<h3>性格特点</h3>
<p>ISTJ型的人特别安静和勤奋，对于细节有很强的记忆和判断。他们能够引证准确的事实支持自己的观点，把过去的经历运用到现在的决策中。他们重视和利用符合逻辑、客观的分析，以坚持不懈的态度准时地完成工作，并且总是安排有序，很有条理。他们重视必要的理论体系和传统惯例，对于那些不是如此做事的人则很不耐烦。</p>
<p>ISTJ型的人总是很传统、谨小慎微。他们聆听和喜欢确实、清晰地陈述事物。ISTJ型的人天生不喜欢显露，即使危机之时，也显得很平静。他们总是显得责无旁贷、坚定不变，但是在他们冷静的外表之下，也许有强烈却很少表露的反应。</p>
<h3>功能运用</h3>
<p>外向与内向是指我们心理能量的作用方向，判断与知觉是我们做事的两种方式。心理学称之为“态度”。感觉与直觉是我们获取信息的方式，思考和情感是做决定的方式，心理学称之为“功能”，功能是人格理论的精髓、核心。</p>
<p>每一个人在都会用到四种功能，但对功能应用的喜好程度不一样。等级中第一位的称为“主导功能”，第二位的称为“辅助功能”。每个人都需要运用到这两个过程。</p>
<p>有效地使用你的类型：ISTJ型的人主导功能是（关注细节），辅助功能是思维。他们倾向于：注意细节、重视实际、能记住琐碎细节、耐得住烦闷的工作、有耐性、细心有系统。</p>
<p>合乎逻辑擅于分析、客观、公正、有逻辑系统的思考、具拟判能力、坚定。</p>
<p>ISTJ型的人比较少地使用他们的第三、第四功能—情感和直觉。即使在需要这些功能的场合，他们仍然无法有效使用。</p>
<p>作为一个ISTJ型的人：如果你过多的使用感觉功能，你可能失去整体的概念、想不出各种可能解决的途径、不住直觉、不求创新、无法应付太复杂的工作、不喜欢预测未来。如果你过多的使用思考功能，你可能在需要的时间忘记去称赞他人，或忽视你决策对其它人的影响。</p>
<h3>问题解决</h3>
<p>每个人都会用自己的方式进行决策，决策通常来自于你的主导功能，并且完全忽视你的第四功能。你的功能运用如下：</p>
<p>主导功能 感觉</p>
<p>辅助功能 思维</p>
<p>第三功能 情感</p>
<p>第四功能 直觉</p>
<p>一个好的决策通常来自于四个功能的合理运用。当你尝试去解决问题时，你可以利用上表指导这个过程，但在整个的执行过程是非常困难的，因为每个人都不愿意用他不喜欢的功能去解决问题。就算你有意识地努力运用所有这些功能，你也不可能会在“真实生活”中以这种顺序运用它们。关键是要利用它们提醒自己，完善决策，就算你不按这种方式行事。</p>
<p>工作中选择符合你的主导功能和辅助功能的岗位是非常重要的。第三功能要经过发展锻炼才能合适运用，第四功能可能永远不会在你的职业生涯中起到关键作用，因此你应当避免那种要求长期使用它的工作。</p>
<h3>盲点</h3>
<p>ISTJ型人的一个普遍问题是在计划的细节和每日运行中丧失了自我的倾向。一旦沉浸其中，他们很固执僵化，不愿意适应或接受另外的观点。如果没有看到新想法的直接和有效的运用，他们往往会产生怀疑、他们必须花时间注意全部的客观事情，考虑他们可能没有考虑的可选择的情况，收集范围更广泛的信息，有意识地努力对他们的行为的未来含义做出预测，能够在各方面都增进ISTJ型人的影响。</p>
<p>有时ISTJ型的人很难理解其他人的需求，尤其是那些与自己差异很大的需求。因为他们对自己的反响很隐蔽，所以他们被视为冷静而无情。他们必须直接地表达出对他人的欣赏，而不是仅仅保留在内心。</p>
<p>因为ISTJ型的人很有条理，所以他们希望别人也如此。他们冒险把自己的判断强加于别人，无视那些不是十分自信的人的意见。他们强求别人按照他们的方法做事，阻止运用那些更有创造性的、新颖的方法。他们应该对未经考验和非传统的方式持开放的态度，这样才会对人们的差异更加容忍，最终才能做出有效的抉择。</p>
<h3>工作优势</h3>
<p>办事精确，希望第一次就能把工作做好；</p>
<p>乐意遵循确定的日常安排和传统的方针政策；</p>
<p>每次都能十分专注地把注意力集中在一个项目或任务上；</p>
<p>能够独立地工作；</p>
<p>灵敏的组织能力；</p>
<p>一丝不苟、认真专注地对待具体问题：事实和细节；</p>
<p>相信传统模式的可取之处，并且能够遵循传统模式；</p>
<p>非常强的责任意识；别人可以信任你去实现自己的诺言；</p>
<p>明白清晰的工作条理；认为高效率和多成果是很重要的；</p>
<p>对实现目标有毅力和决心；</p>
<p>通情达理，视角现实。</p>
<h3>工作劣势</h3>
<p>不愿意尝试、接受新的和未经考验的观点和想法；</p>
<p>对变动感到不安；排斥革新；</p>
<p>对需要很长时间才能完成的任务缺乏耐心；</p>
<p>有时会由于近期目标而忽略长远需要；</p>
<p>办事死板；必要的时候难以或不愿意适应新情况；</p>
<p>难以看到问题的整体以及行为的长远影响；</p>
<p>对于方针或决定将会对别人造成什么样的影响缺乏敏感；</p>
<p>需要的时候不愿意改变努力的方向或调整投入的多少；</p>
<p>不愿意促成必要的改变，也不愿意支持经过仔细考虑的风险行为。</p>
<h3>岗位特质</h3>
<p>研究发现：职业满足会使你的工作主动性更强，积极性更高，更愿意去工作。以下不是简单的告诉你什么样的工作适合你，而是细化的帮你分析工作中的哪些特质对你重要，你还需要从中选出你认为最重要的，因为不同经历的人对特质的重要程度要求是不同的。每个岗位的工作内容都在随企业的发展而发展，不是一成不变的，有时候岗位的发展方向需要我们自己去争取。所以找到适合的工作不如找到适合自己发展的岗位更直接。这些特质可以帮助明确如何主动的发展或争取你岗位中的那些特质。</p>
<p>下面的条目从各个侧面上认证了您怎样才能受到真正的职业满足，看完这些条目之后，我们建议您根据它们对您的重要程序进行排序，排序的时候，回想一下您过去的学习、工作经历以及当前学习环境和工作感受，并思考：“哪一些是令你感到特别满意，有哪些令你极其不高兴”。试着寻找贯穿这些经历的主题。</p>
<p>你的岗位特质：</p>
<p>1. 本质上是技术性的，能让你依靠自己的能力来使用和了解重要的事实和细节。</p>
<p>2. 涉及很多实际的产品和服务。这些产品或服务是通过严谨周密、合乎逻辑且效率高的方法——最好是运用标准化的工作程序来生产或实现的。</p>
<p>3. 能让我有大量的时间独立地工作，运用杰出的集中注意力的能力来完成项目和（或）任务。</p>
<p>4. 是在一个稳定和标准化的环境中完成的，做这些工作时我不必去冒不必要的风险、运用未经检验过的或实验性的方法。</p>
<p>5. 能看得见的而且可以衡量的结果，而且需要和重视运用精确的标准来评估工作的多少或好坏。</p>
<p>6. 有明确的目标、清晰的组织制度和模式。</p>
<p>7. 在演示或递交工作成果之前能让我有充足的时间来准备，最好是单独进行或小组进行。</p>
<p>8. 能让我具有越来越大的职责和权力，而且只要要求我参与很少的社会政治方面的活动；我的工作表现是根据我完成工作任务的多少或实现工作目标的好坏来衡量的，而且我的努力和贡献很受欣赏和重视。</p>
<p>9. 在工作过程或气氛中，我的现实的判断和过去的经历很受重视和嘉奖。</p>
<p>10. 能让我拥有必要的资源（人力方面和财力方面）和材料来订立正式的目标，并且实现这些目标。</p>
<h3>适合的职业领域</h3>
<p><strong>商业</strong>: 审计员、公司经理、会计、管理者/监督人、文字信息处理专家、效率专家/效率分析者、保险业主(保险商)、后勤供给经理、制定规章制度的官员、信息总管、会计/保险统计员</p>
<p>ISTJ经常喜欢与商业有关的一些职业，他们在管理系统和使事物正常运行方面有出色的才能。他们经常喜欢到传统的、已经建立多年的团体或公司去工作，他们的加盟有助于团体或公司机构的正常运行。他们工作富有效率，他们认真而详尽地记录各种花销和税务，不允许有任何未经检查或未经修正的错误或遗漏出现。作为管理者，他们为每一名雇员制定清晰的工作权限、建立起一整套标准的规则。他们喜欢能够生产出具体产品或提供具体服务的商业工作。</p>
<p><strong>销售/服务</strong>: 警察局高级职员/侦探、情报检索服务社代理人、政府雇员、陆军军官、管教人员、房地产代理商、体育设备/商品销售商、教养所所长</p>
<p>市政服务工作能够满足ISTJ服务于社区的愿望。他们喜欢维护服务或保护所有人的社会系统。他们喜欢在制度分明的环境中工作。无论是发布命令还是接受命令他们都做得很好。他们运用自己的知识和过去的经验果断地、有效地处理当前的问题。他们对事实和细节有非常好的记忆力，无论做什么，他们都用自己的实践经验作出判断。他们喜欢销售真实有形的产品，从中他们可以获得个人收益。</p>
<p><strong>金融</strong> 银行查帐员、投资担保人、税收监察员、预算分析员、股票经纪人、房地产策划人、信贷分析员</p>
<p>ISTJ拥有数学方面的天才。他们能记住有关事实和细节的数字，并能在必要时引用它们来支持自己的观点。他们不会轻易转移注意力，工作时特别专心、辛苦，工作成果既准确又细致。金融领域的职业需要以下才能：能很好地独立工作；能够吸收大量数据；能够进行精确的计算，这些都是ISTJ所具有的。</p>
<p><strong>教育</strong> 学校校长、技术/工业/数学/物理老师、图书管理员、管理者</p>
<p>教育领域的职业对ISTJ是非常适合的，尤其是那些管理和技术方面的工作。ISTJ能够很好地管理学校或课程的运行。他们通过实践寻找维持系统运行的可能性和方法。管理方面和图书馆方面的职业使ISTJ能够独力工作，运用他们客观的分析能力处理数据，如考试成绩、预算等。教书对ISTJ也很适合，特别是一些技术和实践的科目能为他们提供很多学习和教授的机会。</p>
<p><strong>法律/技术</strong>法律调查员、电工、工程师、机械师、计算机程序设计员、科学作家、律师秘书/律师专职助手、药品经销商/调查员、脑电图技术专家/技师、地质学家、气象学家、航空机械师、机械/工业/电子工程师、农业科学家</p>
<p>这些职业为ISTJ提供了运用他们技术才能的机会，而且他们的工作结果都是要求高度准确的产品。因为他们从不盲目地接受事物，所以他们能够抓住工作中的疏忽和纰漏，并且忠诚地遵循必要的程序和系统。上述职业中有很多还能为ISTJ提供独自工作的机会，让他们充分发挥专心工作的优点、出色的记忆力及各种技巧。</p>
<p><strong>保健</strong>：兽医、普通外科医师、牙医、护理指导员、保健指导员、药剂师、实验室技术人员、医学研究者、最初保健护理医师、生物学和医学技术专家、运动生理学家、药剂师/配药技术员</p>
<p>ISTJ经常投身于医药行业，特别喜欢就职于一些有着传统制度的医院。他们对病人保持密切的关心，耐心地倾听他们的诉说，并给他们提供一些有思想、有节制的建议，制定出恰当的治疗计划。ISTJ还是保健方面成功的指导者，他们尽心尽力地工作，承担应尽的义务，履行应负的责任。他们喜欢有条理的工作环境，在这种环境中他们能朝着目标前进，按时完成应做的工作。牙科和药剂学需要更多的技巧，因此为ISTJ所喜爱。因为他们善于抓住事实信息，并且能够永远保留这些信息。</p>
<h3>组织贡献</h3>
<p>行事坚定，按部就班；关注所管理事务的具体细节，小心谨慎；能恰当、得体地安排工作事务；讲信用、守承诺；在良好的组织机构中工作较佳。</p>
<h3>领导风格</h3>
<p>通常运用经验和对事实的把握作出决策；在履行职责时，表现可靠、稳定和始终如一；尊重传统和等级制度；欣赏和鼓励那些照规矩办事的人；关注当前的、实际存在的组织需求。</p>
<h3>潜在缺陷</h3>
<p>忽略日常工作的长远影响；不注意微妙的人际信息；有时表现得不灵活，僵化；相对更期望他人循规蹈矩，而不鼓励创新。</p>
<h3>工作环境</h3>
<p>所在组织中，成员工作努力并且关注事实和结果；工作能够提供一定的安全感和稳定性，并能考虑个人隐私；领导认可和赞赏稳健的工作方式，结构化的有序的工作取向。</p>
<h3>发展建议</h3>
<p>要敢于探索新的可能性；更多考虑人性的因素；要乐于接受新事物。</p>
<p>除了眼前的现实，需要关注问题的更广泛的枝节；需要考虑人的因素；需要尝试新的东西以避免墨守成规；需要对那些不太在意规则而努力创新的人保持足够耐心。</p>
<h3>关于爱情</h3>
<p></strong>最佳恋爱对象完美主义者</strong></p>
<p>若你是一个公务员型</p>
<p>你是那种把文明的碎片粘合在一起的胶水。你的注册商标是任务、纪律、责任和组织。没有你忠心的付出，很多现存的成功企业、组织和团体都会瓦解成碎片。当你恋爱时，你是所有恋爱类型中最务实的一员，你对于过度的浪漫举动并不会有太多感动。你也不需要约会中持续的刺激。你会满足于一顿在家中的晚餐、一部有趣的影片和爱人的陪伴。</p>
<p>谈到男女角色的定位时，你的价值观也是很传统的。你仍然认为一个丈夫应该挣钱养家，而一个妻子应该负责维系一个整洁有条理的家。你对安全感的强烈需求，使你避免开始一段感情的风险。你通常会和你已经认识很久的人发展恋情：同事、家族的朋友或同学。因为你是最终的“筑巢者”，在你让未来伴侣更靠近你之前，你要非常确定他是一个可以照顾你和养家活儿的人。</p>
<p>你期望另一半拥有的特质，是忠诚、安全感和责任感。对于另一半提出的未来或崇高的理想你并不会特别感动；你要知道的是对方现在可以为一段认真的感情带来什么。</p>
<p>你和女性公务员型或照顾者型(ISFJ)会有不错的感情关系。女性公务员型有规矩且经常具有责任感个性，可以完美地补足你对一个传统家庭的渴望。而照顾者型则是以她慈爱的方式，和“标准妈妈”的个性，来帮你建立梦想中家庭的女人。</p>
<p>公务员型通常会被有任务、工作和责任的活动、组织或场所所吸引。你可以试试参加为邻居街坊维持治安和清洁的社区团体、慈善募款团体、家教协会会议、爱国组织、专业相关团体、政府机关、保龄球俱乐部、商业评议会和军队特别事件如空军表演和游行等等。(公务员型常常是很杰出的军事要员，因为他们非常忠贞、勤奋，同时很愿意配合命令。)</p>
<p>如何与一个公务员型情人约会？</p>
<p>让他们觉得被需要，或和他们一起为一个值得的目标努力，这样你就可以有一个冠冕堂皇的理由和他们认识。到图书馆去，并在那可爱的图书馆员帮你登录你借出去的书本时和他聊天。参加某次家教协会会议—那里通常都会有一些单亲父母—询问公务员型关系他们最感兴趣的儿童教育问题。</p>
<p>你可以自愿参加一场政治活动，或参加睦邻计划的守夜活动，你会在过程中遇见很多任务意识很高的热心公务员型。你可以问一个公务员型关于一个很实务性的问题—如何计划或整理家里？如何修补某件东西？如何照顾小孩？或是如何填定表单？这个很负责任的公务员型会愿意帮助你的。一旦一个公务员型同意帮助你，这就是一个很好的开始。</p>
<p>恋爱锦囊之一：强调你个性中的传统面，例如：男人：谈谈你在事业上的抱负，可以为你的家庭赚进多少钱，和以后想要拥有什么样的家。表达你要成为一位第一流的父亲和建立一个安全、富裕的家庭的愿望。 女人：强调你家居生活的技巧或本事，例如厨艺、清理和缝纫。若你没有任何做家事的经验，现在是时候好好看看书或参加课程。谈谈你对小孩、安全感和传统的期望。注意：男性公务员型并不适合所有女人，但如果你准备接受一些老式的价值观，他对家庭生活稳定、保守的观念就会非常吸引你。</p>
<p>恋爱锦囊之二：迎合公务员型对守时、整洁和组织的渴望。当你和公务员型约会时，永远要记得准时；对他而言，浪费时间和浪费食物一样糟糕。当你在他身旁时，请随时保持整洁，让喜爱整洁的公务员型留下良好印象。另外，若你打算邀请你的公务员型情人回家，请确定你的屋子一定要干净整齐。</p>
<p>恋爱锦囊之三：帮忙公务员型情人打扫住处或请他帮你清理住处。若你真的想要捉住你的公务员型的心，为了迎合他对整洁和井然有序的欲望，你可以提出帮助他打扫住处的建议。你也可以请公务员型帮你打扫清理并且整理你的住处。若对方同意，准备一些零食和音乐，让那一天变成愉快的一天。警告：请确定当那个公务员型带着拖把、吸尘器和抹布抵达时，你的住处已经有相当程度的整洁。尽管他是来帮你整理住处的，他并不想看到真正的一团糟乱。一旦你的屋子合乎标准(以你的观点)，便可以邀请对方前来。当你的公务员型情人用惊人的清洁技巧，把你的屋子变成一般人难以达到的整洁标准时，让他自由发挥。</p>
<p>如何和公务员型情人拥有美好的性关系？</p>
<p>和一位公务员型典型的性关系是缓慢进展的。不要期待能和一位公务员型情人立即产生火花；当谈论到性和爱情时，他是所有恋爱类型中最保守谨慎的。</p>
<p>性爱锦囊：在轻松的对话中先介绍一种新的姿势或技巧。在聊天当中，强调那种新技巧将如何地增进你们的感情，且会让两人更紧密地在一起。然后保持安静，让你的公务员型情人消化一下你刚才所讲的话。作为一个内向的理性者，公务员型情人需要时间考虑他取得的新信息。</p>
<p>性爱锦囊：制订一份性爱时间表。为了帮助你的公务员型情人对新的性活动觉得安全，制订一份做爱时间表。虽然有一些恋爱类型会觉得这种有计划的方式很扫兴，但很多公务员型如果确实知道伴侣的期待(和何时发生)，会觉得舒服和安全。</p>
<p>恋爱状态：是所有恋爱类型中最务实的一种，你不需要约会中的持续刺激，对于过度夸张的浪漫举动你也不会有太多的感动。你会满足于家中的一顿晚餐、一次散步，或者恋人的陪伴。在性别的角色分工上，你的观念也很传统，你认为丈夫应该挣钱养家，妻子应该负责家务，保持家里整洁有序。你一般不会对异性一见钟情，属于日久生情型，通常和认识很久的人发展恋情，如同学、同事、朋友等。你很重视伴侣的忠诚、安全感和责任感，通常在对对方的这些方面进行考察之后，才确定双方的关系。你可能会对伴侣规划的远大理想和宏伟目标兴趣不大，而更感兴趣于对方现在可以为这段关系做哪些事情。</p>
{% endblock %}
