{% extends "mbti/personalities/base.html" %}
{% block title %}ISTP{% endblock %}

{% block type %}ISTP{% endblock %}
{% block subline %}巧匠型人格{% endblock %}

{% block article %}
<h3>概览</h3>
<p>ISTP(内倾/感觉/思考/理解)是迈尔斯·布里格斯性格分类法中十六种人格类型之一，在柯尔塞气质类型测试中被称为巧匠，属于工匠的四种类型之一。ISTP倾向于宁静和有所保留。于社交中，他们消耗能量。相比关心抽象事物，ISTP更加关心于具体事物。他们更倾向于关注细节而不是整体，关注最切近的现实而非未来的可能性。ISTP通常认为客观标准高于个人偏好。在做决定的时候，他们通常更多地基于逻辑，而不是对人情世故的考虑。ISTP会保留意见或推迟作出重要的决定，更倾向于“开放选择权”，更能应对变化。</p>
<h3>性格特点</h3>
<p>ISTP们擅长于分析情形接近问题的核心，因此他们可以即刻完成功能性的补救，这让他们完美地适合工程学的领域。他们是天生安静的人，对理解系统如何运行感兴趣，专注于有效率的操作和结构。他们对新的信息和途径保持开放。但同他们表面上超然的天性不同，ISTP们通常有能力对他们周围的世界作出幽默而充满洞察力的观测。私下里他们也可能是冒险者，喜欢高速度或高风险的娱乐（比如蹦极、滑翔、竞速运动、摩托车运动和跳伞），运动（如滑雪、彩弹球、冰壶以及水肺潜水）或事业（比如航空和消防）。</p>
<p>ISTP们有时候可能在行动时不顾及过程、方向、礼节甚至他们自己的安全。他们看起来十分随意的举动事实上基于在行动和观察中长久以来积累的广泛知识。ISTP们喜欢自给自足，在他们自己对问题解决方式的改进中充满了骄傲。</p>
STP们同意别人按他们自己的方式过活，只要别人能够包容他们。ISTP们可以默不作声地容忍一定范围内的不公平——但如果他们自己的“领土”被侵犯、蚕食或亵渎，他们将守卫那些他们正当地认为属于自己的东西。<p></p>
<p>ISTP们精通运用每一种工具——艺术的、技术的甚至是武器。虽然他们是内向型，在他们和别人的交流中他们通常占据主动权，可能对他人造成强烈影响。他们专注于高效和巧妙地完成工作。</p>
<p>为了精通他们感兴趣的工具，ISTP们需要一定程度上的隔绝来练习。这给了他们其它类型望尘莫及的精湛技艺。</p>
<p>具有逻辑性、实际、务实、娴静、谦逊以及独立；现实主义、注重实效、孤僻；冲动及对自然世界的好奇；灵活和足智多谋；客观而不诉诸感情的。</p>
<h3>认知功能</h3>
<p><strong>主导功能：内倾思考。</strong>寻求精确，比如表达一个概念最合适的词。它注意到事物本质之间微不足道的差别，然后将它们分析并归类。细查一个问题的每一面，寻找解决问题最不费力、风险最小的方法。它用模型甄别出逻辑上的不一致。</p>
<p><strong>辅助功能：外倾感觉</strong>集中于当下的、物质的世界所带来。以对当下周遭事情的敏锐察觉，它带来关于前方的相对事实和细节，而且可能导致自发的行动。</p>
<p><strong>第三功能：内倾直觉</strong>将看起来矛盾的事物合成出先前无法想象的成果，同时它也被象征性的东西吸引。这些成果的实现通常伴随着需要行动来完成的确定性，同时其解决办法中可能包括复杂的系统或一般性的真理。<p>
<p><strong>第四功能：外倾情感</strong>寻找社会上的联系，并用礼貌、体贴、得体的举止营造和谐的沟通。对他人明确（或暗示）的需求作出回应，甚至可能会制造内在自我需求和欲望的冲突来满足别人。</p>
<h3>盲点</h3>
<p>由于ISTP型的人总是独自地做出判断，他们不愿意把具体情况甚至是最重要的部分告诉他人，使得周围的人对所发生的事一无所知。他们不喜欢与别人分享自己的反应、情感和担忧。因此他们需要接受一个事实，即别人需要知道ISTP型人的情况。他们还应意识到只有他们自己才能给别人一个精确的解释。</p>
<p>ISTP型的人非常实际，他们通常能在所有的事情上找到节省力气的方法。由于他们向往拥有空闲时间，他们往往只做一些必要的准备，或者可能不会等到把事情解决。这使他们有时会偷工减料。设计一个计划，完成所有的步骤和细节，可以帮助他们克服自己主动性的缺乏，并减少经常性的漠不关心。</p>
<p>ISTP型的人通常很留意那些令人感兴趣的新事物，并对所有的选择都持开放态度，所以他们可能不善于做决定。对刺激的追求可能使他们变得鲁莽、轻率而且容易厌烦。设定目标，并认真地给自己定一些约束，可以使他们避免频繁的失望和无规律的生活习惯所带来的危害。</p>
<h3>适合的职业领域</h3>
<p>信息服务业、计算机程序员、软件开发、律师助理、消防员、药剂师、证券分析员、银行职员、管理顾问、财务顾问、电子专业人士、技术培训人员、海洋生物学者、后勤与供应经理、经济学者、贸易、商品经销商/产品代理商（有形产品）、警察、侦探、体育工作者、赛车手、飞行员、雕塑家、手工制作、画家</p>
{% endblock %}
