{% extends "base.html" %}
{% block title%}关于本站{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{%endblock%}

{% block container %}
<div class="page-header">
    <section class="main">
        <h2 class="cs-text-about" id="cs-text-about">关于本站</h2>
    </section>
</div>
<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="bs-component about">
                <h2>{ 爱自己吗？ }</h2>
                <h2>{ 爱。 }</h2>
                <h2>{ 那我就是你的情敌噜~ }</h2>
                <p>
                MBTI测试结果解释均来自百度百科</br>
                <a href="http://weibo.com/1739356367/" target="_blank">@阿小信大人</a></br>
                <span>页面特效强行组合纯属装逼duang~</span></br>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.lettering.js') }}"></script>
<script>
    $(document).ready(function() {
        $("#cs-text-about").lettering().children('span').wrap('<span />').parent().prepend('<span></span><span></span><span></span>');
    });
</script>
{% endblock %}
