{% extends "base.html" %}
{% block title %}留言板{% endblock %}
{% block container %}
<!--微信二维码 start-->
<div class="qr" align="center" style="margin-top:100px;">
    <img width="200px" height="200px" src="{{ url_for('static', filename='img/qr.png') }}">
</div>
<!--微信二维码 end-->

<!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="messageboards" data-title="MBTI职业性格测试 By @阿小信大人 赶快来测一测" data-url="http://mbti.axiaoxin.com/"></div>
<!-- 多说评论框 end -->
{% endblock %}
{% block js %}
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"mbti"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!-- 多说公共JS代码 end -->
{% endblock %}
