{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/title.css') }}">
{%endblock%}

{% block container %}
<div class="page-header">
    <div class="row">
        <div class="content">
            <svg viewBox="0 0 1000 300">

                <!-- Symbol -->
                <symbol id="s-text">
                    <text text-anchor="middle" x="50%" y="50%" dy=".2em">
                        MBTI-TEST
                    </text>
                </symbol>

                <!-- Duplicate symbols -->
                <use xlink:href="#s-text" class="text"></use>
                <use xlink:href="#s-text" class="text"></use>
                <use xlink:href="#s-text" class="text"></use>
                <use xlink:href="#s-text" class="text"></use>
                <use xlink:href="#s-text" class="text"></use>
                <use xlink:href="#s-text" class="text"></use>

                <!-- Clippath  with text -->
                <clippath id="cp-text">
                    <text text-anchor="middle" x="50%" y="50%" dy=".2em" class="text--line">
                        MBTI-TEST
                    </text>
                </clippath>

                <!-- Group for shadow -->
                <g clip-path="url(#cp-text)" class="shadow">
                    <rect width="100%" height="100%" class="anim-shape anim-shape--shadow"></rect>
                </g>

                <!-- Group with clippath for text-->
                <g clip-path="url(#cp-text)" class="colortext">
                    <!-- Animated shapes inside text -->
                    <rect width="100%" height="100%" class="anim-shape"></rect>
                    <rect width="80%" height="100%" class="anim-shape"></rect>
                    <rect width="60%" height="100%" class="anim-shape"></rect>
                    <rect width="40%" height="100%" class="anim-shape"></rect>
                    <rect width="20%" height="100%" class="anim-shape"></rect>
                </g>

                <!-- Transparent copy of text to keep patterned text selectable -->
                <use xlink:href="#s-text" class="text--transparent"></use>

            </svg>
        </div>
    </div>
</div>
{% endblock %}
