{% extends "base.html" %}
{% block title %}测试中{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/svgcheckbx.css') }}">
{%endblock%}

{% block container %}
    {% for question in questions %}
    <form class="ac-custom ac-radio ac-circle" autocomplete="off" style="display: {% if loop.index == 1 %}block{% else %}none{% endif %}">
        <h2>{{ loop.index }}. {{ question['question'] }}</h2>
            <ul>
                <li>
                    <input id="choice_a" name="answer" value="{{ question.choice_a.value }}" type="radio">
                        <label for="choice_a">
                            {{ question.choice_a.text }}
                        </label>
                        <svg viewBox="0 0 100 100"></svg>
                </li>
                <li>
                    <input id="choice_b" name="answer" value="{{ question.choice_b.value }}" type="radio">
                        <label for="choice_b">
                            {{ question.choice_b.text }}
                        </label>
                        <svg viewBox="0 0 100 100"></svg>
                </li>
            </ul>
        </form>
    {% endfor %}
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/svgcheckbx.js') }}"></script>
    <script src="{{ url_for('static', filename='js/test.js') }}"></script>
{% endblock %}
