{% extends "base.html" %}
{% block title %}500{% endblock %}

{% block container %}
<pre style='margin-top:190px;'>
 ____                                                                      ____   ___   ___         __
/ ___|  ___ _ ____   _____ _ __    ___ _ __ _ __ ___  _ __                | ___| / _ \ / _ \   _   / /
\___ \ / _ \ '__\ \ / / _ \ '__|  / _ \ '__| '__/ _ \| '__|  _____ _____  |___ \| | | | | | | (_) | |
 ___) |  __/ |   \ V /  __/ |    |  __/ |  | | | (_) | |    |_____|_____|  ___) | |_| | |_| |  _  | |
|____/ \___|_|    \_/ \___|_|     \___|_|  |_|  \___/|_|                  |____/ \___/ \___/  (_) | |
                                                                                                   \_\
</pre>
{% endblock %}
