<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="A website for MBTI test">
        <meta name="author" content="阿小信大人">
        <meta name="viewport" content="width=device-width">
        <meta name="keywords" content="MBTI, mbti">
        <title>{% block title %}{% endblock %}|MBTI-TEST</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        {% block css %}
        {% endblock %}
        {% block js %}
        {% endblock %}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="{{ url_for('static', filename='html5shiv.js') }}"></script>
        <script src="{{ url_for('static', filename='respond.min.js') }}"></script>
        <![endif]-->
    </head>

    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">MBTI-TEST</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/you_show_know">You Should Know</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="personalities">十六种人格简介<span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="personalities">
                                <li><a href="personalities/istj">ISTJ</a></li>
                                <li><a href="personalities/isfj">ISFJ</a></li>
                                <li><a href="personalities/istp">ISTP</a></li>
                                <li><a href="personalities/isfp">ISFP</a></li>
                                <li><a href="personalities/intj">INTJ</a></li>
                                <li><a href="personalities/infj">INFJ</a></li>
                                <li><a href="personalities/intp">INTP</a></li>
                                <li><a href="personalities/infp">INFP</a></li>
                                <li><a href="personalities/entj">ENTJ</a></li>
                                <li><a href="personalities/enfj">ENFJ</a></li>
                                <li><a href="personalities/entp">ENTP</a></li>
                                <li><a href="personalities/enfp">ENFP</a></li>
                                <li><a href="personalities/estj">ESTJ</a></li>
                                <li><a href="personalities/esfj">ESFJ</a></li>
                                <li><a href="personalities/estp">ESTP</a></li>
                                <li><a href="personalities/esfp">ESFP</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--NAV BAR END-->

        <div class="container">
        {% block container %}
        {% endblock %}
        </div>

        <script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>
