<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="A website for MBTI test">
        <meta name="author" content="阿小信大人">
        <meta name="viewport" content="width=device-width">
        <meta name="keywords" content="MBTI, mbti">
        <title>{% block title %}{% endblock %}|MBTI-TEST</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        {% block css %}
        {% endblock %}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="{{ url_for('static', filename='html5shiv.js') }}"></script>
        <script src="{{ url_for('static', filename='respond.min.js') }}"></script>
        <![endif]-->
    </head>

    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">MBTI-TEST</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/home/">首页</a>
                        </li>
                        <li>
                            <a href="/personalities/">十六种人格简介</a>
                        </li>
                        <li>
                            <a href="/about/">关于本站</a>
                        </li>
                        <li>
                            <a href="/messageboards/">留言板</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--NAV BAR END-->

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="flashes">
                <ul class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endwith %}

        {% block container_top %}
        {% endblock %}
        <div class="container">
        {% block container %}
        {% endblock %}
        </div>
        {% block container_bottom %}
        {% endblock %}

        <div class="container">
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-unstyled">
                        <li class="pull-right"><a href="#top">Back to top</a></li>
                        <li><a href="http://axiaoxin.com" target="_blank">@axiaoxin</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
        <script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        {% block js %}
        {% endblock %}
        <!-- For lulilu 迷恋挖矿 -->
    </body>
</html>
