<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="A website for MBTI test">
        <meta name="author" content="阿小信大人">
        <meta name="viewport" content="width=device-width">
        <meta name="keywords" content="MBTI, mbti">
        <title>{% block title %}{% endblock %}|MBTI-TEST</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        {% block css %}
        {% endblock %}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="{{ url_for('static', filename='html5shiv.js') }}"></script>
        <script src="{{ url_for('static', filename='respond.min.js') }}"></script>
        <![endif]-->
    </head>

    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">MBTI-TEST</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/personalities/">十六种人格简介</a>
                        </li>
                        <li>
                            <a href="/about/">关于本站</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="share">分享网站给朋友们<span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="share">
                                <li><a href="">分享到新浪微博</a></li>
                                <li><a href="">分享到朋友圈</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--NAV BAR END-->

        {% block container_top %}
        {% endblock %}
        <div class="container">
        {% block container %}
        {% endblock %}
        </div>
        {% block container_bottom %}
        {% endblock %}


        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
        <script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>
